@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0
}

ul, ol, dl {
    list-style-type: none
}

html, body {
    *position: static
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input, button {
    overflow: visible;
    vertical-align: middle;
    outline: none
}

body, th, td, button, input, select, textarea {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    font-size: 14px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    line-height: 1.6
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

a, area {
    outline: none
}

a {
    text-decoration: none;
    cursor: pointer
}

a:hover {
    text-decoration: none;
    outline: none
}

a.ie6:hover {
    zoom: 1
}

a:focus {
    outline: none
}

a:hover, a:active {
    outline: none
}

:focus {
    outline: none
}

sub, sup {
    vertical-align: baseline
}

button, input[type="button"], input[type="submit"] {
    line-height: normal !important
}

img {
    border: 0;
    vertical-align: middle
}

a img, img {
    -ms-interpolation-mode: bicubic
}

.img-responsive {
    max-width: 100%;
    height: auto
}

header, footer, section, aside, details, menu, article, section, nav, address, hgroup, figure, figcaption, legend {
    display: block;
    margin: 0;
    padding: 0
}

time {
    display: inline
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

legend {
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

legend small {
    font-size: 15px;
    color: #999
}

svg:not(:root) {
    overflow: hidden
}

fieldset {
    border-width: 0;
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

a, img {
    border: 0;
    vertical-align: top
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.f-l {
    float: left
}

.f-r {
    float: right
}

.cl:after, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.cl, .clearfix {
    zoom: 1
}

html, body {
    height: 100%
}

.wrraper {
    position: relative;
    min-height: 100%;
    min-width: 1200px;
    padding-bottom: 255px
}

.login-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 620px;
    overflow: hidden;
    background: url(../image/bg_1.png) no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/bg_1.png', sizingMethod='scale')
}

.login-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 228px;
    left: 0
}

.login-main .inner {
    width: 1120px;
    height: 100%;
    margin: 0 auto;
    text-align: right
}

.login-main .inner:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ''
}

.login-form {
    display: inline-block;
    width: 360px;
    vertical-align: middle;
    padding: 44px;
    text-align: left;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px
}

.login-form .hd {
    position: relative;
    line-height: 1;
    text-align: center;
    color: #f55161;
    font-size: 30px;
    font-weight: bold
}

.login-form .hd:after, .login-form .hd:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 68px;
    height: 1px;
    background-color: #f58d97;
    content: ''
}

.login-form .hd:before {
    left: auto;
    right: 0
}

.login-form .bd {
    margin-top: 40px;
    padding: 0 12px
}

.login-form .lg-input {
    margin-bottom: 12px
}

.login-form .lg-input input {
    width: 100%;
    height: 38px;
    padding: 0 16px;
    line-height: 38px;
    border: none;
    border-radius: 19px
}

.login-form .btn-submit {
    padding-top: 12px
}

.login-form .btn-submit input {
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #f55161;
    border-radius: 21px
}

.container {
    position: relative;
    width: 1520px;
    min-height: 300px;
    margin: 25px auto 0;
    padding: 0 200px
}

.banner {
    height: 228px;
    background: url(../image/bg_2.png) no-repeat center center
}

.banner .tit {
    position: absolute;
    top: 119px;
    left: 50%;
    margin-left: -563px;
    color: #fff;
    font-size: 40px;
    font-weight: bold
}

.breadcrumb {
    height: 48px;
    line-height: 48px;
    background-color: #f6f6f6
}

.breadcrumb .inner {
    width: 1120px;
    margin: 0 auto;
    overflow: hidden
}

.breadcrumb .arr-r {
    display: inline-block;
    width: 12px;
    height: 16px;
    vertical-align: middle;
    background: url(../image/arr-r.png) no-repeat 0 0
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 165px;
    padding: 21px 0;
    border: 1px solid #e8e8e8
}

.sidebar li {
    position: relative;
    margin-bottom: 12px;
    padding: 0 21px;
    overflow: hidden
}

.sidebar li > a {
    display: block;
    color: #444;
    font-size: 16px
}

.sidebar li > a:hover {
    text-decoration: none;
    color: #f55161
}

.sidebar li.active > a {
    color: #f55161
}

.sidebar li.active:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100px;
    background-color: #f55161;
    content: ''
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 228px;
    padding: 35px 0;
    background-color: #eee
}

.footer .inner {
    /*width: 1120px;*/
    /*margin: 0 auto*/
    padding: 0 100px;
    text-align: left;
}

.footer .f-l {
    padding-top: 10px;
    color: #454545
}
.footer .f-l p{
    font-weight: 700;
    font-size: 14px;
}

.footer .f-l .copyright {
    margin-top: 40px;
    color: #9c9c9c;
    font-size: 12px;
}

.footer .f-r {
    text-align: center;
    color: #9c9c9c;
    font-size: 12px
}

.base-info .bd {
    margin-top: 25px
}

.base-info .avatar {
    width: 78px;
    height: 83px;
    margin-right: 25px
}

.base-info .txt {
    color: #2a2a2a;
    line-height: 18px
}

.base-info .txt p {
    margin-bottom: 3px
}

.learn-list {
    margin-top: 21px
}

.learn-list .item {
    margin-bottom: 10px;
    border: 1px solid #e8e8e8
}

.learn-list .item .hd {
    height: 42px;
    padding: 0 15px 0 24px;
    line-height: 40px;
    color: #999;
    border-bottom: 1px solid #e8e8e8;
    background-color: #f5f5f5
}

.learn-list .item .hd .btn {
    color: #999
}

.learn-list .item .hd .btn:hover, .learn-list .learn-list .item .hd .btn.active {
    color: #e85b57
}

.learn-list .item .bd {
    padding: 16px 24px
}

.learn-list .item .bd .t {
    font-size: 16px
}

.learn-list .item .bd .p {
    margin-top: 14px;
    color: #666
}

.learn-list .item .i-radio {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(../image/i-unselected.png) no-repeat 0 0
}

.learn-list .item .active .i-radio {
    background-image: url(../image/i-selected.png)
}

.resources-list {
    border: 1px solid #e8e8e8
}

.resources-list .hd {
    height: 36px;
    padding-left: 24px;
    line-height: 36px;
    color: #999;
    background-color: #f6f6f6
}

.resources-list .bd li {
    height: 40px;
    padding: 0 24px;
    line-height: 40px;
    overflow: hidden
}

.resources-list .bd li:nth-child(even) {
    background-color: #fafafa
}

.resources-list .bd .btn-download {
    color: #3c8dbc
}

.my-curriculum .hd p {
    margin-top: 7px
}

.my-curriculum .h1 {
    color: #444;
    font-size: 20px
}

.my-curriculum .bd {
    margin-top: 23px
}

.my-curriculum .liveing {
    padding: 0 10px;
    line-height: 40px;
    border: 1px solid #E8E8E8
}

.my-curriculum .liveing a {
    display: inline-block;
    margin-left: 80px;
    color: #3c8dbc
}

.my-curriculum .select-wrap {
    margin: 3px 0 0 10px
}

.my-curriculum .select {
    min-width: 90px
}

.my-curriculum .select2-container--default .select2-selection--single {
    border-color: #ffaeac
}

.my-curriculum .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #e85b57
}

.my-curriculum .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #ffaeac transparent transparent transparent
}

.my-curriculum .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #ffaeac transparent
}

.my-curriculum .select2-selection__clear {
    display: none
}

.select2-dropdown {
    border-color: #ffaeac !important
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #ffaeac !important
}

.select2-results__option {
    color: #e85b57
}

.my-live .hd {
    color: #444;
    font-size: 20px
}

.my-live .hd span {
    padding-left: 15px;
    color: #666;
    font-size: 14px
}

.my-live .bd {
    height: 450px;
    margin-top: 20px;
    overflow: hidden
}

.my-live .player {
    position: relative;
    height: 100%;
    margin-right: 220px;
    background-color: #000
}

.my-live .questions {
    position: relative;
    float: right;
    width: 220px;
    height: 100%;
    border: 1px solid #e8e8e8;
    background-color: #f5f5f5
}

.my-live .q-hd {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    line-height: 36px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff
}

.my-live .q-hd a {
    display: block;
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    color: #666
}

.my-live .q-hd a.active {
    color: #e85b57
}

.my-live .q-hd a.active:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 2px;
    background-color: #e85b57;
    content: ''
}

.my-live .q-ft {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 120px;
    border-top: 1px solid #e8e8e8;
    background-color: #fff
}

.my-live .q-ft textarea {
    width: 100%;
    height: 52px;
    padding: 8px;
    vertical-align: top;
    border: none;
    resize: none;
    background-color: #fff
}

.my-live .q-ft textarea::-webkit-scrollbar {
    width: 6px
}

.my-live .q-ft textarea::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #c1c1c1
}

.my-live .q-ft button {
    width: 64px;
    height: 30px;
    vertical-align: top;
    color: #fff;
    border: none;
    background-color: #e85b57;
    border-radius: 15px
}

.my-live .q-ft .action {
    padding: 4px 10px 0 0;
    text-align: right
}

.my-live .q-ft .num {
    padding-right: 8px;
    line-height: 30px;
    color: #666;
    font-size: 12px
}

.my-live .q-ft-h {
    height: 30px;
    border-bottom: 1px solid #f2f0f0
}

.my-live .q-bd {
    height: 100%;
    padding: 38px 0 120px
}

.talk-list {
    height: 100%;
    padding: 0 8px 20px;
    overflow-y: auto
}

.talk-list::-webkit-scrollbar {
    width: 6px
}

.talk-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #c1c1c1
}

.talk-list .msg-time {
    margin-top: 12px;
    text-align: center;
    color: #9e9e9e;
    font-size: 12px
}

.talk-list .msg {
    position: relative;
    margin-top: 12px;
    overflow: hidden
}

.talk-list .msg .talk-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%
}

.talk-list .msg .talk-logo img {
    width: 100%;
    height: 100%
}

.talk-list .msg .talk-box {
    max-width: 80%;
    margin-left: 34px
}

.talk-list .msg .talk-info {
    margin-bottom: 6px;
    color: #848e99;
    font-size: 12px
}

.talk-list .msg .txt {
    display: inline-block;
    padding: 5px 16px;
    line-height: 20px;
    background-color: #fff;
    border-radius: 15px
}

.talk-list .msg.right .talk-logo, .talk-list .msg.right .talk-info {
    display: none
}

.talk-list .msg.right .txt {
    float: right;
    background-color: #d5f4fe
}

.i-emotion {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 6px 0 0 8px;
    vertical-align: top;
    background: url(../image/i-emotion.png) no-repeat 0 0
}

.emotionimg {
    width: 30px;
    height: 30px
}

.facewrp {
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 100;
    width: 290px;
    height: 118px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1)
}

.facewrp::-webkit-scrollbar {
    width: 6px
}

.facewrp::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #c1c1c1
}

.facewrp .emotion-iconbox {
    float: left;
    width: 14.2857%;
    height: 40px;
    text-align: center
}

.facewrp .emotion-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: -5px 0 0 -5px;
    cursor: pointer;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    background: url(//livestatic.polyv.net/assets/images/em/default.png) no-repeat
}

.thesis-modal {
    border-radius: 4px !important
}

.thesis-modal .layui-layer-title {
    height: auto;
    line-height: 1;
    padding: 26px 40px 0;
    background-color: #fff;
    border-bottom: none;
    color: #333;
    font-size: 18px
}

.thesis-modal .layui-layer-setwin {
    top: 26px;
    right: 40px
}

.thesis-modal .layui-layer-setwin .layui-layer-ico {
    background: url(../image/pc_ico_x.png) no-repeat 0 0
}

.thesis-modal .bd {
    padding: 26px 40px
}

.thesis-modal .bd .lr {
    margin-top: 12px;
    overflow: hidden
}

.thesis-modal .bd .lr .t {
    float: left;
    color: #333
}

.thesis-modal .bd .lr .c {
    margin-left: 80px;
    color: #666
}

.thesis-upload {
    position: relative;
    height: 100%;
    padding: 26px 40px
}

.thesis-upload .up-item {
    margin-top: 12px;
    overflow: hidden;
    line-height: 30px
}

.thesis-upload .up-item .l {
    float: left;
    color: #333
}

.thesis-upload .up-item .r {
    margin-left: 105px
}

.thesis-upload .up-item .ipt {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
    border: 1px solid #ddd;
    border-radius: 2px
}

.thesis-upload .action {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 58px;
    padding-top: 14px;
    padding-right: 40px;
    text-align: right;
    background-color: #f7f7f7;
    border-radius: 0 0 2px 2px
}

.thesis-upload .btn-upload {
    position: relative;
    width: 80px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-color: #30a1ec;
    border-radius: 2px;
}

.thesis-upload .btn-submit, .thesis-upload .btn-cancel {
    width: 80px;
    height: 30px;
    line-height: 28px;
    color: #fff;
    border: 1px solid #f55161;
    background-color: #f55161;
    border-radius: 2px
}

.thesis-upload .btn-cancel {
    color: #333;
    border-color: #ddd;
    background-color: #fff
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

.table th, .table td {
    padding: 8px 10px;
    text-align: left;
    color: #666;
    border: 1px solid #e8e8e8
}

.table th {
    background-color: #f5f5f5
}

.table tbody tr:hover td {
    background-color: #fbfbfb
}

.table2 {
    border: 1px solid #e8e8e8
}

.table2 th {
    height: 36px;
    padding: 0 15px;
    line-height: 36px;
    text-align: left;
    color: #999;
    font-size: 12px;
    background: #f6f6f6
}

.table2 td {
    padding: 12px 15px;
    color: #444;
    font-size: 12px
}

.table2 tr:hover, .table2 tr:nth-child(even) {
    background-color: #fafafa
}

.table2 .op {
    white-space: nowrap
}

.table2 .btn {
    display: inline-block;
    height: 28px;
    padding: 0 5px;
    line-height: 26px;
    color: #3c8dbc;
    border: 1px solid #dceaf3;
    border-radius: 2px
}

.table2 .btn:hover {
    opacity: .8
}

.fc9 {
    color: #999
}

.fc6 {
    color: #666
}

.fc069 {
    color: #069
}

.fcr {
    color: #e85b57
}

.fcb {
    color: #3c8dbc
}

.mt-10 {
    margin-top: 10px
}

.hidden {
    display: none
}

#photoPreview {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0px;
    z-index: 2;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
}

#photoPreview .photoPreview-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#photoPreview .photoPreview-box > img {
    max-width: 640px;
    max-height: 640px;
    /*min-width: 500px;*/
    border-radius: 5px;
    border: 2px solid #fff;
}

#photoPreview .photoPreview-box .close {
    position: absolute;
    top: -60px;
    right: 2px;
    opacity: 1;
}

#photoPreview .photoPreview-box .close:hover {
    opacity: 1;
}

#photoPreview .photoPreview-box .close img {
    width: 30px;
}


@media screen and (max-width: 1500px) {
    .container {
        width: 1190px
    }

    .breadcrumb .inner, .login-main .inner, .footer .inner {
        /*width: 820px*/
    }
}