<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.transfer.BdStudentRecoveryMapper">
	<resultMap type="com.yz.model.recruit.BdLearnInfo" id="BdLearnInfoMap"></resultMap>
	<select id="selectSubOrderForLearnId" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT COUNT(o.`sub_order_no`) FROM bms.`bd_sub_order` o
		LEFT JOIN bms.`bd_student_order` so ON so.`order_no`=o.`order_no`
		WHERE so.`learn_id`=${learnId} AND o.`sub_order_status` IN(2,3);
	</select>
	<select id="selectBdLearnInfoForLearnId" parameterType="java.lang.String"
		resultMap="BdLearnInfoMap">
		SELECT
		bli.learn_id learnId,
		bli.std_id stdId,
		bli.recruit_type recruitType,
		bli.std_stage stdStage,
		bli.ta_id taId,
		bli.scholarship,
		bli.unvs_id vnvsId,
		bli.pfsn_id pfsnId,
		bli.grade
		FROM
		bd_learn_info
		bli
		WHERE
		bli.`learn_id` = #{learnId}
	</select>
</mapper>