<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz.dao.StudentAllMapper">

	<resultMap id="StudentBaseInfo" type="com.yz.model.BdStudentBaseInfo">
		<id column="std_id" jdbcType="VARCHAR" property="stdId" />
		<result column="std_name" jdbcType="VARCHAR" property="stdName" />
		<result column="id_type" jdbcType="VARCHAR" property="idType" />
		<result column="id_card" jdbcType="VARCHAR" property="idCard" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="birthday" jdbcType="VARCHAR" property="birthday" />
		<result column="edcs_type" jdbcType="VARCHAR" property="edcsType" />
		<result column="nation" jdbcType="VARCHAR" property="nation" />
		<result column="political_status" jdbcType="VARCHAR" property="politicalStatus" />
		<result column="rpr_type" jdbcType="VARCHAR" property="rprType" />
		<result column="rpr_province_code" jdbcType="VARCHAR" property="rprProvinceCode" />
		<result column="rpr_city_code" jdbcType="VARCHAR" property="rprCityCode" />
		<result column="rpr_district_code" jdbcType="VARCHAR" property="rprDistrictCode" />
		<result column="now_province_code" jdbcType="VARCHAR" property="nowProvinceCode" />
		<result column="now_city_code" jdbcType="VARCHAR" property="nowCityCode" />
		<result column="now_district_code" jdbcType="VARCHAR" property="nowDistrictCode" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="job_type" jdbcType="VARCHAR" property="jobType" />
		<result column="wp_province_code" jdbcType="VARCHAR" property="wpProvinceCode" />
		<result column="wp_city_code" jdbcType="VARCHAR" property="wpCityCode" />
		<result column="wp_district_code" jdbcType="VARCHAR" property="wpDistrictCode" />
		<result column="wp_time" jdbcType="VARCHAR" property="wpTime" />
		<result column="wp_address" jdbcType="VARCHAR" property="wpAddress" />
		<result column="wp_telephone" jdbcType="VARCHAR" property="wpTelephone" />
		<result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="emergency_contact" jdbcType="VARCHAR" property="emergencyContact" />
	</resultMap>
	
	<insert id="insertStdCoupon" parameterType="java.lang.String">
		INSERT INTO bd_student_coupon (sc_id, coupon_id, user_id) 
		VALUES
		<foreach collection="couponIds" item="couponId" index="index" separator="," >  
		  (seq(), #{couponId}, #{userId})
	    </foreach>
	</insert>
	
	<select id="selectAvailableRegistCouponIds" resultType="java.lang.String" parameterType="java.lang.String">
		select 
		  c.`coupon_id`
		from
		  bd_coupon c 
		  LEFT JOIN bd_coupon_trigger t 
		    ON t.`coupon_id` = c.`coupon_id` 
		where now() BETWEEN c.`publish_start_time` 
		  AND c.`publish_expire_time` 
		  AND c.`is_allow` = '1' 
		  AND t.`c_trigger_type` = '2'
	</select>
	
	<select id="selectUserIdByLearnId" parameterType="java.lang.String" resultType="java.lang.String">
		select 
		  user_id 
		from
		  bd_student_info r
		  left join bd_learn_info bli
		    on bli.`std_id` = r.`std_id` 
		where bli.learn_id = #{learnId}
	</select>

	<select id="getStudentBaseInfoByLearnId" parameterType="string" resultMap="StudentBaseInfo">
		SELECT 
			b.`std_id`,
			b.`std_name`,
			b.`id_type`,
			b.`id_card`,
			b.`sex`,
			b.`birthday`,
			b.`nation`,
			b.`political_status`,
			b.`rpr_type`,
			b.`rpr_province_code`,
			b.`rpr_city_code`,
			b.`rpr_district_code`,
			b.`zip_code`,
			b.`now_province_code`,
			b.`now_city_code`,
			b.`now_district_code`,
			b.`address`,
			b.`mobile`,
			b.`emergency_contact`,
			b.`job_type`,
			b.`wp_province_code`,
		 	b.`wp_city_code`,
		  	b.`wp_district_code`,
		  	b.`wp_address`,
		  	date_format(b.`wp_time`, '%Y-%m-%d') as wp_time,
		  	b.`wp_telephone`
		FROM
		  `bd_student_info` b 
		WHERE b.`std_id` = 
		  (SELECT 
		    l.std_id 
		  FROM
		    bd_learn_info l 
		  WHERE l.learn_id = #{learn_id, jdbcType=VARCHAR}) 
	</select>
	
	<select id="getStudentInfoByIdCard" parameterType="string" resultMap="StudentBaseInfo">
		SELECT 
			b.`std_id`,
			b.`std_name`,
			b.`id_type`,
			b.`id_card`,
			b.`sex`,
			b.`birthday`,
			b.`nation`,
			b.`political_status`,
			b.`rpr_type`,
			b.`rpr_province_code`,
			b.`rpr_city_code`,
			b.`rpr_district_code`,
			b.`zip_code`,
			b.`now_province_code`,
			b.`now_city_code`,
			b.`now_district_code`,
			b.`address`,
			b.`mobile`,
			b.`emergency_contact`,
			b.`job_type`,
			b.`wp_province_code`,
		 	b.`wp_city_code`,
		  	b.`wp_district_code`,
		  	b.`wp_address`,
		  	date_format(b.`wp_time`, '%Y-%m-%d') as wp_time,
		  	b.`wp_telephone`
		FROM
		  `bd_student_info` b 
		WHERE b.`id_card` = #{idCard, jdbcType=VARCHAR}
		limit 0,1
	</select>
	
	<select id="getRelationUserIdByStdId" parameterType="string" resultType="java.lang.String">
		select user_id from bd_student_info where std_id = #{stdId, jdbcType=VARCHAR}
	</select>
	
	<select id="getRecruitMap" parameterType="string" resultType="java.util.HashMap">
		SELECT 
		  r.`recruit`,
		  r.`recruit_dp_id` AS dpId,
		  r.`recruit_campus_id` AS campusId,
		  r.`recruit_campus_manager` AS campusManager 
		FROM
		  bd_learn_rules r 
		  INNER JOIN bd_learn_info l 
		    ON l.`learn_id` = r.`learn_id` 
		WHERE l.`std_id` = #{stdId, jdbcType=VARCHAR}
		ORDER BY l.`create_time` DESC 
		LIMIT 0, 1
	</select>
	

</mapper>