<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/webuploader/css/webuploader.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>学员证明审核</title>
</head>
<body>
<nav class="breadcrumb">
    学员服务 <span class="c-gray en">/</span> 学员证明审核
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <form id="export-form" th:action="@{/certificate/exportCertificateInfo.do}">
        <div class="text-l search" style="position: relative">
            <div class="cl">
                <div class="cl">
                    <div class="f-l">
                        <span>学员姓名:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入学员姓名" id="stdName"
                               name="stdName">
                    </div>
                    <div class="f-l">
                        <span>证件号码:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入证件号码" id="idCard"
                               name="idCard">
                    </div>
                    <div class="f-l">
                        <span>学号:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入学号" id="schoolRoll"
                               name="schoolRoll">
                    </div>
                    <div class="f-r mr-5">
                        <a class="btn btn-primary radius" href="javascript:void(0);" onclick="searchResult();"><i
                                class="Hui-iconfont">&#xe665;</i>搜索</a>
                        <a class="btn btn-normal-outline radius" onclick="_reset()" href="javascript:void(0);"><i
                                class="Hui-iconfont Hui-iconfont-huanyipi"></i></a>
                    </div>
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>年级:</span>
                        <select class="select" size="1" id="grade" name="grade">
                            <option value="" selected>--选择年级--</option>
                        </select>
                    </div>
                    <div class="f-l">
                        <span>院校:</span>
                        <select class="select" size="1" id="unvsId" name="unvsId">
                            <option value="" selected>--选择院校--</option>
                        </select>
                    </div>
                    <div class="f-l">
                        <span>专业层次:</span>
                        <select class="select" size="1" id="pfsnLevel" name="pfsnLevel">
                            <option value="" selected>--选择层次--</option>
                        </select>
                    </div>
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>专业:</span>
                        <select class="select" size="1" id="pfsnId" name="pfsnId" disabled="disabled">
                        </select>
                    </div>
                    <div class="f-l">
                        <span>招生老师:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入招生老师" id="recruit" name="recruit">
                    </div>
                    <div class="f-l">
                        <span>快递单号:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入快递单号" id="expressNo"
                               name="expressNo">
                    </div>
                </div>

                <div class="cl">
                    <div class="f-l">
                        <span>申请开始时间:</span>
                        <input type="text" id="startTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               name="startTime" class="input-text Wdate"
                               style="width: 120px;">
                    </div>
                    <div class="f-l">
                        <span>申请结束时间:</span>
                        <input type="text" id="endTime"
                               onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}'})"
                               name="endTime"
                               class="input-text Wdate" style="width: 120px;">
                    </div>
                    <div class="f-l">
                        <span>申请类型:</span>
                        <select class="select" size="1" id="applyType" name="applyType"></select>
                    </div>
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>招生老师审核起时:</span>
                        <input type="text" id="fdyStartTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               name="fdyStartTime" class="input-text Wdate"
                               style="width: 120px;">
                    </div>
                    <div class="f-l">
                        <span>招生老师审核止时:</span>
                        <input type="text" id="fdyEndTime"
                               onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'fdyStartTime\')}'})"
                               name="fdyEndTime"
                               class="input-text Wdate" style="width: 120px;">
                    </div>
                    <div class="f-l">
                        <span>是否寄出:</span>
                        <select class="select" size="1" id="isSend" name="isSend">
                        </select>
                    </div>
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>终审起时间:</span>
                        <input type="text" id="finalStartTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               name="finalStartTime" class="input-text Wdate"
                               style="width: 120px;">
                    </div>
                    <div class="f-l">
                        <span>终审止时间:</span>
                        <input type="text" id="finalEndTime"
                               onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'finalStartTime\')}'})"
                               name="finalEndTime"
                               class="input-text Wdate" style="width: 120px;">
                    </div>
                    <div class="f-l">
                        <span>领取方式:</span>
                        <select class="select" size="1" id="receiveType" name="receiveType">
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther()">
                <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666"><i class="iconfont  icon-xiala"></i></p>
            </div>
        </div>

    </form>
    <div class="bg-1">
        <div class="cl pd-15 bg-1">
            <div class="mt-35 bg-fff">
                <table class="table table-border table-bordered table-bg table-sort" id="tab">
                    <thead>
                    <tr class="text-c">
                        <th width="60">姓名</th>
                        <th width="60">学号</th>
                        <th width="60">年级</th>
                        <th width="140">院校与专业</th>
                        <th width="60">班主任</th>
                        <th width="60">申请类型</th>
                        <th width="60">申请用途</th>
                        <th width="60">申请时间</th>
                        <th width="60">是否寄出</th>
                        <th width="100">邮寄信息</th>
                        <th width="60">快递单号</th>
                        <th width="60">领取方式</th>
                        <th width="100">审核状态</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="addExpressNoContent" style="display: none">
    <div class="row cl mt-10 form-horizontal otherReasonBox">
        <label class="form-label col-xs-4 col-sm-3 text-r">快递单号：</label>
        <div class="formControls col-xs-8 col-sm-9 skin-minimal">
            <input type="text" class="input-text radius" id="addExpressNo" style="width: 250px;" name="addExpressNo" required>
        </div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/param.json'}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/webuploader/0.1.5/webuploader.min.js}"></script>
<script type="text/javascript" th:src="@{/js/webjs/recruit/student/student_certificate_check_list.js}"></script>

</body>
</html>