<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>收费审核</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 财务管理 <span class="c-gray en">/</span> 收费管理
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="iconfont icon-shuaxin"></i>
    </a>
</nav>
<div class="page-container">
    <form id="export-form">
	    <input type="hidden" name="excelName" id="excelName"/>
		<input type="hidden" name="excelType" id="excelType" value="2"/>
        <div class="text-l search" style="position: relative">
            <div class="cl" style="padding-left: 30px;">
                <div class="cl">
                    <div class="f-l">
                        <span>收据号：</span><input type="text" class="input-text radius ml-10" placeholder="输入收据号"
                                                id="orderNo" name="orderNo">
                    </div>
                    <div class="f-l">
                        <span>流水号：</span><input type="text" class="input-text radius ml-10" placeholder="输入流水号"
                                                id="serialNo" name="serialNo">
                    </div>
                    <div class="f-l">
                        <span>商户订单号：</span><input type="text" class="input-text radius ml-10" placeholder="输入商户订单号"
                                                  id="outSerialNo" name="outSerialNo">
                    </div>
                    <div class="f-r mr-15" style="position: absolute; right: 0;">
                        <a class="btn btn-primary radius" href="javascript:;" style="width: 90px"
                           onclick="searchReview()"> <i class="iconfont icon-sousuo"></i> 搜索
                        </a> <a class="btn btn-normal-outline radius" onclick="_reset()"><i
                            class="iconfont icon-shuaxin"></i></a>
                    </div>
                </div>
                <div class="cl">

                    <div class="f-l">
                        <span>学员姓名：</span><input type="text" class="input-text radius ml-10" placeholder="输入学员姓名"
                                                 id="stdName" name="stdName">
                    </div>
                    <div class="f-l">
                        <span>证件号：</span><input type="text" class="input-text radius ml-10" placeholder="输入证件号"
                                                id="idCard" name="idCard">
                    </div>
                    <div class="f-l">
                        <span>手机号：</span><input type="text" class="input-text radius ml-10" placeholder="输入手机号"
                                                id="mobile" name="mobile">
                    </div>
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>收款方式：</span><select class="select" id="paymentType" name="paymentType">
                   		</select>
                    </div>
                    <div class="f-l">
		          		<span>开始时间： </span><input type="text" id="startTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:'#F{$dp.$D(\'endTime\')}'})" name="startTime" class="input-text Wdate"
		              style="width: 120px;">
		          	</div> 
		          	<div class="f-l">
		          		<span>结束时间： </span><input type="text" id="endTime" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm',minDate:'#F{$dp.$D(\'startTime\')}'})"  name="endTime"
		              class="input-text Wdate" style="width: 120px;">
		          	</div> 
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>是否审核：</span><select class="select" id="serialStatus" name="serialStatus">
                        	<option value=''>请选择</option>
                  		  </select>
                    </div>
                   	<div class="f-l">
						<span>招生类型：</span><select class="select" name="recruitType" id="recruitType">
						</select>
					</div>
					<div class="f-l">
			            <span>年级：</span><select class="select" size="1" id="grade" name="grade">
			            </select>
			         </div>
                </div>
				<div class="cl">
				 	 <div class="f-l">
			            <span>招生分校：</span>
			             <select class="select" size="1" id="campusId" name="campusId">
			                  <option value="" selected>--请选招生分校--</option>
			             </select>
			           </div>
			           <div class="f-l">
			              <span>招生部门：</span>
			              <select class="select" size="1" id="dpId" name="dpId">
			                  <option value="" selected>--请选择部门--</option>
			              </select>
			           </div>  
			          <div class="f-l">
			            <span>招生老师：</span>
			            <input type="text" id="recruitName" name="recruitName" class="input-text radius ml-10" placeholder="输入招生老师姓名" />
			          </div>
				</div>
                <div class="text-c showOther" style="background-color: #FBFBFB;" onclick="_showOther()">
                    <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
                        <i class="iconfont icon-xiala"></i>
                    </p>
                </div>
            </div>
        </div>
    </form>
    <div class="bg-1">
        	<div class="cl pd-15 bg-1">
        		<span style="float:left;font-size:15px" >
        			统计总金额为：<span id="countAmount"></span>
        		</span>
								<span class="l mt-5 mb-15"> 
								<a href="javascript:;" onclick="reviewFees()" class="btn btn-primary radius"><i
                                        class="iconfont icon-tianjia"></i> 批量审核 </a>
								<a href="javascript:;" onclick="backReviews()" class="btn btn-danger radius"><i
                                        class="iconfont icon-edit"></i> 批量撤销审核 </a>
								<a href="javascript:;" onclick="excel_export()" class="btn btn-warning radius"><i
                                        class="iconfont icon-daochu"></i> 按条件导出Excel </a>
								</span>
            <div class="bg-fff">
                <table class="table table-border table-bordered table-bg table-sort" id="tab">
                    <thead>
                    <tr class="text-c">
                        <th width="10"><input type="checkbox" name="all"/></th>
                        <th width="20">学员</th>
                        <th width="40">缴费科目</th>
                        <th width="30">缴费金额</th>
                        <th width="30">智米抵扣</th>
                        <th width="30">滞留抵扣</th>
                        <th width="30">优惠券抵扣</th>
                        <th width="30">缴费日期</th>
                        <th width="30">单据号</th>
                        <th width="30">第三方订单号</th>
                        <th width="30">收款方式</th>
                        <th width="30">收款帐号</th>
                        <th width="20">学员账户</th>
                        <th width="40">收款人</th>
                        <th width="30">是否审核</th>
                        <th width="40">审核人</th>
                        <th width="40">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
    <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script type="text/javascript" th:src="@{/js/webjs/finance/feeReview/feeReview-list.js}"></script>
</div>
</body>
</html>