<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" th:href="@{/css/image/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/webuploader2/webuploader.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/web.css/imaq.css}"/>
    <title>远智学堂-毕业生图像采集</title>
    <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
</head>
<body>
<div class="wrraper">
    <div class="banner">
        <div class="tit">远智学堂</div>
    </div>
    <div class="breadcrumb">
        <div class="inner">
            <a class="f-r fc069" th:href="@{/logout.do}">退出登录&gt;</a>
            <a class="fc9" href="javascript:void(0);" title="远智学堂">远智学堂</a> <i class="arr-r"></i>
            <a class="fc6" href="javascript:void(0);" title="毕业生图像采集">毕业生图像采集</a>
        </div>
    </div>
    <div class="container">
        <div class="sidebar" th:include="common::sidebar"></div>
        <div class="main">
            <div class="form yz-form">
                <form method="post" class="form form-horizontal" id="form-student-info" enctype="multipart/form-data">
                    <ul id="progressbar">
                        <li class="active">核对信息</li>
                        <li>上传图片</li>
                        <li>支付订单</li>
                    </ul>
                    <!--------基本信息------->
                    <fieldset page="baseInfo">
                        <div class="title2">根据国家教育部学籍学历管理要求，毕业生一律要进行毕业图像信息采集，拍摄的电子版照片将用于学信网学历电子注册，纸版照片将用于粘贴到毕业证书上。</div>
                        <div class="content">
                            <p class="row cl"><span class="col-xs-4 col-sm-3">姓名：</span><span class="col-xs-4 col-sm-9" id="name"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">性别：</span><span class="col-xs-4 col-sm-9" id="sex"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">所在校别：</span><span class="col-xs-4 col-sm-9" id="unvsType"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">学历层次：</span><span class="col-xs-4 col-sm-9" id="pfsnLevel"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">专业：</span><span class="col-xs-4 col-sm-9" id="pfsnName"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">学号：</span><span class="col-xs-4 col-sm-9" id="schoolRollImaq"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">证件类型：</span><span class="col-xs-4 col-sm-9" id="idType"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">证件号码：</span><span class="col-xs-4 col-sm-9" id="idCard"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">院校名称：</span><span class="col-xs-4 col-sm-9" id="unvsName"></span></p>
                            <p class="row cl"><span class="col-xs-4 col-sm-3">院校代码：</span><span class="col-xs-4 col-sm-9" id="unvsCode"></span></p>
                        </div>
                        <div class="content2 mt-10">
                            <div class="title cl">
                                <p>项目</p>
                                <p>单价</p>
                            </div>
                            <div class="title-content cl">
                                <p>大学生图像采集服务费</p>
                                <p><span>￥50</span><span>(费用包含：图像核对审核、光盘刻录、纸质相片冲洗、学信网上传、顺丰快递费)</span></p>
                            </div>
                        </div>
                        <div class="onWindow-r-b mt-20 info-btn">
                            <input type="button" name="next"  id="bt_baseInfo_next" class="next btn btn-primary radius mr-10" value="确认信息无误，上传照片" />
                            <input type="button" class="btn btn-primary radius" onclick="error()" value="信息有误反馈" />
                        </div>
                    </fieldset>
                    <!--------学历信息------->
                    <fieldset page="history">
                        <div class="up-pic">
                            <div class="need">
                                <p>毕业图像照片要求：</p>
                                <p>1、相馆拍摄标准证件照（大一寸、蓝底、有领、免冠、摘眼镜、露耳朵额头）；</p>
                                <p>2、图像大小在100K-900K之间，格式为jpg。</p>
                            </div>
                            <div class="pic-box mt-20 cl">
                                <div class="txt">图示：</div>
                                <div class="example mr-10">
                                    <img class="img" th:src="@{/css/image/imaq/pc_pic_templet.png}" alt=""/>
                                </div>
                                <div class="file-box" onclick="showImg()">
                                    <img class="img fileImg" th:src="@{/css/image/imaq/pc_pic_not upload.png}" alt="" id="file"/>
                                </div>
                                <div class="btn-box">
                                    <div class="file-btn">
                                        <div id="fileBtn">选择</div>
                                        <!--<input type="file" class="btn btn-primary radius" /> <br>-->
                                        <input type="button" onclick="testPic()" class="btn btn-normal-outline radius mt-10 check-btn" value="检测相片是否合格" />
                                        <div class="file-name"></div>
                                        <div class="file-test"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-c mt-20">
                            <!--<input type="button" name="previous" class="previous btn btn-normal-outline radius mr-10" value="返回上一步" />-->
                            <input type="button" name="next" class="next btn btn-primary radius" value="点击跳转支付" />
                            <span style="vertical-align: bottom">【温馨提示：需支付完成相片方可上传成功！】</span>
                        </div>
                    </fieldset>
                    <!--------报读信息------->
                    <fieldset page="enroll">
                        <div class="pay">
                            <div class="pay-img">
                                <span class="img-box"></span>
                                <p>扫码支付（打开微信扫一扫）</p>
                            </div>
                            <div class="pay-content">
                                <div class="item">
                                    <span>支付项目</span>
                                    <span>大学生图像采集服务费</span>
                                </div>
                                <div class="item">
                                    <span>费用项</span>
                                    <span>图像核对审核、光盘刻录、纸质相片冲洗、学信网上传、顺丰快递费</span>
                                </div>
                                <div class="item">
                                    <span>支付总额</span>
                                    <span class="c-red">￥50</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="pay-success">
                <p><img th:src="@{/css/image/imaq/pc_success.png}"  alt="">提交成功，请等待审核！</p>
                <div class="pay-content">
                    <div class="item">
                        <span>支付项目</span>
                        <span>大学生图像采集服务费</span>
                    </div>
                    <div class="item">
                        <span>费用项</span>
                        <span>图像核对审核、光盘刻录、纸质相片冲洗、学信网上传、顺丰快递费</span>
                    </div>
                    <div class="item">
                        <span>支付总额</span>
                        <span class="c-red">￥50</span>
                    </div>
                </div>
            </div>

            <div class="un-check">
                <div class="title">图像采集信息</div>
                <div class="content form"></div>
                <div class="pic-box mt-20 cl">
                    <div class="txt">图示：</div>
                    <div class="example mr-10">
                        <img class="img" th:src="@{/css/image/imaq/pc_pic_templet.png}" alt=""/>
                    </div>
                    <div class="file-box" onclick="showImg()">
                        <img class="img fileImg" th:src="@{/css/image/imaq/pc_pic_not upload.png}" alt=""/>
                    </div>
                    <div class="btn-box">
                        <div class="file-btn">
                            <div id="fileBtn2">选择</div>
                            <!--<input type="file" class="btn btn-primary radius" /> <br>-->
                            <input type="button" onclick="testPic()" class="btn btn-normal-outline radius mt-10 check-btn" value="检测相片是否合格" />
                            <div class="check-Status">
                                <p class="check-Status-txt">审核状态：审核不通过</p>
                                <p class="check-reason-txt">原因：图像不清晰</p>
                            </div>
                            <div class="file-name">134546754469077.jpg</div>
                            <div class="file-test">检测结果：相片不合格，图片宽度必需小于600 像素。</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="photoPreview">
                <div class="photoPreview-box">
                    <img th:src="@{/css/image/annex/ico_close_pc.png}">
                    <div class="close" onclick="closePhotoPreview()">
                        <img th:src="@{/css/image/annex/ico_close_pc.png}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" th:include="common::footer">
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/param.json'}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/store/store.legacy.min.js}"></script>
<script type="text/javascript" th:src="@{/js/webuploader2/webuploader.js}"></script>
<script type="text/javascript" th:src="@{/js/html2canvas/html2canvas.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.qrcode/jquery.qrcode.min.js}"></script>

<script th:inline="javascript" type="text/javascript">
    var learnId = store.get("learnId");
    var picCollectId,uploader,pictureUrl,fileInfo,fileTest,isTest,payLearnId,paySuccess,showCheck,hasImg,QrOut;
    //加载附件数据
    $(function () {
            //分步填写
            var current_fs, next_fs, previous_fs, animating, recruitType = $("#recruitType").val(), gradeData;

            $("fieldset[page='history']").hide();
            $("fieldset[page='enroll']").hide();

            var url = [[@{/imaq/getSPCInfo.do?learnId=}]]+learnId;
            $.ajax({
            type: 'post',
            url: url,
            data: {},
            success: function (data) {
                if (data.code === '00') {
                    //判断是否是白名单
                    if(data.body.picCollectId){
                        picCollectId=data.body.picCollectId;
                        pictureUrl=data.body.pictureUrl;
                        payLearnId=data.body.learnId;

                        var name=data.body.stdName||'无';
                        var unvsName=data.body.unvsName||'无';
                        var unvsCode=data.body.unvsCode||'无';
                        var pfsnName=data.body.pfsnName||'无';
                        var schoolRollImaq=data.body.schoolRoll||'无';
                        var idCard=data.body.idCard||'无';
                        var idType=_findDict('idType',data.body.idType)||'无';
                        var unvsType=_findDict('unvsType',data.body.unvsType)||'无';
                        var sex=_findDict('sex',data.body.sex)||'无';
                        var pfsnLevel=_findDict('pfsnLevel',data.body.pfsnLevel)||'无';
                        pfsnLevel = pfsnLevel.indexOf('专科')!=-1?'成人本科':'成人专科'

                        $("#name").html(name);
                        $("#sex").html(sex);
                        $("#unvsName").html(unvsName);
                        $("#unvsType").html(unvsType);
                        $("#pfsnName").html(pfsnName);
                        $("#unvsCode").html(unvsCode);
                        $("#schoolRollImaq").html(schoolRollImaq);
                        $("#idCard").html(idCard);
                        $("#idType").html(idType);
                        $("#pfsnLevel").html(pfsnLevel);

                        if(data.body.pictureUrl){
                            hasImg=true;
                            $(".file-name").show(0).html(data.body.pictureFilename);
                            fileInfo = true;
                            fileTest = true;

                            $(".fileImg").attr('src',_FILE_URL+data.body.pictureUrl);
                        }

                        //判断是否付款成功
                        if (data.body.orderStatus == '1') {
                            $(".form.yz-form").hide(0);
                            $(".un-check").show(0);
                            $(".check-Status").show(0);
                            $(".check-Status-txt").html('<span>审核状态：待审核</span>');
                            $(".check-reason-txt").html('');
                            $(".file-name").show(0).html(data.body.pictureFilename);
                            var html=$(".form.yz-form .content").html();


                            uploader.addButton({
                                id: '#fileBtn2',
                                html:''
                            })
                            $(".un-check .content").html(html);
                            // alert("支付成功！");
                            //判断是否已审核
                            if(data.body.checkStatus == '1'){
                                //已审核
                                $(".check-Status-txt").html('<span class="success">审核状态：审核通过</span>');
                                $(".pic-box>.txt").hide(0);
                                $(".pic-box>.example").hide(0);
                                $("#fileBtn2").hide(0);
                                $(".file-name").hide(0);
                            }
                            if(data.body.checkStatus == '2'){
                                var checkResult ='原因：'+ data.body.checkResult||'无';

                                //已审核
                                $(".check-Status-txt").html('审核状态：审核不通过');
                                $(".check-reason-txt").html(checkResult);
                            }
                        }else {
                            $(".form.yz-form").show(0);
                        }
                    }else {
                        layer.msg('您不在本次任务学员名单中，如有疑问请联系班主任，或致电4008336013', {icon: 0, time: 5000});
                        $(".form.yz-form").hide(0);
                    }
                }
            }
        });

            var qrFlag = true ;
            $(".next").click(function () {
                if (animating) {
                    return false;
                }
                current_fs = $(this).parents('fieldset');
                next_fs = $(this).parents('fieldset').next();
                var pageName = $(next_fs).attr("page");
                console.log(pageName);

                if ('enroll' == pageName) {

                    if(!fileInfo){
                        layer.msg('请先上传图片!', {icon: 0, time: 1000});
                        return
                    }

                    // if(!isTest){
                    //     layer.msg('未检验图片，请检验图片是否合格!', {icon: 0, time: 1000});
                    //     return
                    // }

                    if(!fileTest){
                        layer.msg('相片不合格，请重新上传图片!', {icon: 0, time: 1000});
                        return
                    }
                    if(!qrFlag){
    					return;
    				}
    				qrFlag=false;

                    getQr();
                }



                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                next_fs.fadeIn();
                current_fs.fadeOut();
                animating = false;
            });

            $(".previous").click(function () {
                if (animating) {
                    return false;
                }
                current_fs = $(this).parents('fieldset');
                previous_fs = $(this).parents('fieldset').prev();
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
                previous_fs.fadeIn();
                current_fs.fadeOut();
                animating = false;
            });

        var url = '/imaq/webuploader.do'

        var fileSingleSizeLimit = 0.9*1024*1024;
            uploader = WebUploader.create({
            server: url,
            pick: '#fileBtn',
            auto: true,
            resize: false,
            compress: false,//不启用压缩
            accept: {// 只允许选择图片文件格式
                title: 'Images',
                extensions: 'jpg'
            },
            fileSingleSizeLimit :fileSingleSizeLimit
        });


        uploader.on('fileQueued', function (file) {
            if(file.size<(100*1024)){
                uploader.cancelFile( file );
                var type = 'Q_MIN_SIZE_LIMIT';
                uploader.trigger('error', type);
                return false;
            }
        });

        uploader.on('uploadSuccess', function (file, ri) {

            fileInfo=true;

          /*   if(ri._raw == "false"){
                layer.msg('相片不合格，图片高宽比例必须为4:3!', {icon: 0, time: 1000});
                uploader.removeFile(file);
                return;
            } */


            var fileAnnexUrl = ri._raw;
            var url = [[@{/imaq/submitUploader.do}]];
            $.ajax({
                type: 'post',
                url: url,
                data: {
                    picCollectId: picCollectId,
                    newPictureUrl: fileAnnexUrl,
                    pictureUrl: pictureUrl,
                },
                success: function (data) {
                    if (data.code === '00') {
                        layer.msg('上传成功!', {icon: 1,time: 1000}, function () {
                            // $(".check-btn").show(0);
                            uploader.reset();
                            fileTest=true;
                            hasImg=true;
                            $(".file-name").show(0).html(file.name);
                            $(".fileImg").attr('src',_FILE_URL + fileAnnexUrl);
                            pictureUrl = fileAnnexUrl;
                            $(".check-Status-txt").html('<span>审核状态：待审核</span>');
                            $(".check-reason-txt").html('');
                        })
                    }
                }
            });
        });

        uploader.on("error", function (type) {
            if (type == "Q_TYPE_DENIED") {
                layer.msg("请上传JPG格式文件", {icon: 0, time: 2000});
            }else if(type == "F_EXCEED_SIZE"){
                layer.msg('图片大小不超过900kb,换个小点的图片吧!', {icon: 0, time: 2000});
            }else if(type == "Q_MIN_SIZE_LIMIT"){
                layer.msg('相片不合格，图片大小必须在100-900kb以内!', {icon: 0, time: 2000});
            }
        });
    });


    function subError() {

    }

    // 提交错误信息
    function error() {
        layer.prompt({
            formType: 2,
            title: '信息有误反馈',
            content: '<textarea class="layui-layer-input" placeholder="请填写您的正确信息，如姓名：张**（或专业：行政管理）等" maxlength="100"></textarea>' +
            '<span style="color:#f55161;font-size: 12px;">信息有误的学员请务必联系班主任或致电4008336013，<br>进行修改，该信息为学员毕业证信息，请重视！</span>'
        }, function(value, index, elem){
            var url = [[@{/imaq/infoError.do?picCollectId=}]]+picCollectId+'&errorMessage='+value;
            $.ajax({
                type: 'post',
                url: url,
                data: {},
                success: function (data) {
                    if (data.code === '00') {
                        layer.msg('提交成功！');
                    }   
                }
            });    
            layer.close(index);
        });
    }    

    // 检测图片
    function testPic() { 
        if(!fileInfo){
            layer.msg('请先上传图片!', {icon: 0, time: 1000});
            return
        }
        if((fileInfo.width/fileInfo.height)!=1){
            $(".file-test").show(0).html('检测结果：相片不合格，图片高宽比例必须为4:3');
            isTest=true;
            fileTest=false;
            return
        }

        $(".file-test").show(0).html('<span>检测结果：通过</span>');
        isTest=true;
        fileTest=true;
    }
    
    // 获取支付二维码
    function getQr() {
        var url = [[@{/imaq/getQRCode.do}]]
        $.ajax({
            type: 'post',
            url: url,
            data: {
                picCollectId:picCollectId,
                learnId:payLearnId
            },
            success: function (data) {
                if (data.code === '00') {
                    var codeUrl = 'object' === typeof data.body.payInfo ? data.body.payInfo.codeUrl : data.body.payInfo;
                    // if(!codeUrl){
                    //     $(".form.yz-form").hide(0);
                    //     $(".pay-success").show(0);
                    //     return
                    // }
                    $('.img-box').qrcode({width:204,height:204,text:codeUrl})
                    var orderNo = data.body.orderNo

                    var QrOutTime=10*60*1000;
                    setTimeout(function () {
                        layer.msg('二维码已过期，请刷新重试!', {icon: 0, time: 0});
                        QrOut=true;
                    },QrOutTime);

                    setTimeout(function () {
                        getPayInfo(orderNo);
                    },10000)
                }
                if(data.code=='E000001'){
                    // $(".form.yz-form").hide(0);
                    // $(".pay-success").show(0);
                    return
                }
            }
        });
    }

    // 判断是否缴费成功
    function getPayInfo(orderNo) {
        if(!!paySuccess){
            return
        }
        var url = [[@{/imaq/isFee.do?orderNo=}]]+orderNo

        setInterval(function () {
            if(!!QrOut){
                return
            }
            $.ajax({
                type: 'post',
                url: url,
                data: {},
                success: function (data) {
                    if (data.code === '00') {
                        if(data.body==true){
                            paySuccess=true;
                            $(".form.yz-form").hide(0);
                            $(".pay-success").show(0);
                        }
                    }
                }
            });
        },3000)
    }

    function showImg() {
        if(!hasImg){
            layer.msg('暂无上传图片!', {icon: 0, time: 1000});
            return
        }
        var srcStr = $('.fileImg').attr('src');
        $("#photoPreview .photoPreview-box>img").attr('src', srcStr);
        $("#photoPreview").fadeIn(200);
    }

    function closePhotoPreview() {
        $("#photoPreview").fadeOut(200);
    }

</script>


</body>
</html>