<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.educational.BdPlanCourseMapper" >
  <resultMap id="BaseResultMap" type="com.yz.model.educational.BdPlanCourseKey" >
    <id column="thp_id" property="thpId" jdbcType="VARCHAR" />
    <id column="course_id" property="courseId" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="deleteByCourseId" parameterType="java.lang.String" >
    delete from bd_plan_course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByPrimaryKey" parameterType="com.yz.model.educational.BdPlanCourseKey" >
    delete from bd_plan_course
    where thp_id = #{thpId,jdbcType=VARCHAR}
      and course_id = #{courseId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.yz.model.educational.BdPlanCourseKey" >
    insert into bd_plan_course (thp_id, course_id)
    values (#{thpId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.yz.model.educational.BdPlanCourseKey" >
    insert into bd_plan_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="thpId != null" >
        thp_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="thpId != null" >
        #{thpId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertBatch" >
  	insert into bd_plan_course (thp_id, course_id)
    values 
    <foreach collection="teachPlan" item="tpId" separator=",">
    	(
    		#{tpId, jdbcType=VARCHAR},
    		#{courseId, jdbcType=VARCHAR}
    	)
    </foreach>
  </insert>
  
</mapper>