<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title th:text="UPDATE == ${exType} ? 修改系统参数 : 添加系统参数"></title>
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" style="width: 900px;margin: 0 auto;" id="form-member-add">
        <input type="hidden" class="input-text" id="grade" name="grade">
        <input type="hidden" class="input-text" id="stdId" name="stdId">
        <input type="hidden" class="input-text" id="cityCode" style="border: 0;" readonly="readonly">
        <input type="hidden" th:value="${_web_token}" name="_web_token" id="_web_token" />
        <input type="hidden" th:value="${ifCanUpdate}" name="ifCanUpdate" id="ifCanUpdate" />
        <!-- 执行类型 -->
        <div class="mb-5 bk-gray radius">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>请选择学员:</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <select class="js-data-example-ajax" style="width: 100%;" id="learnId" name="learnId"
                            th:readonly="UPDATE == ${exType} ? false : true">
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">学员阶段：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="stdStage" style="border: 0;" readonly="readonly">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">考试费：</label>
                <div class="formControls col-xs-8 col-sm-10">
                	<input type="hidden" class="input-text" id="examPayStatusv" style="border: 0;" readonly="readonly">
                    <input type="text" class="input-text" id="examPayStatus" style="border: 0;" readonly="readonly">
                </div>
            </div>
        </div>
        <div id="modify" class="bk-gray radius modifyContent" style="padding-bottom: 20px;">
            <div class="layui-layer-title">异动内容</div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">姓名：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="stdName" name="stdName" style="border: 0; width: 35%"
                           readonly="readonly">
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
                    	<input type="text" class="input-text" id="newStdName" name="newStdName">
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">身份证号码：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="idCard" name="idCard" style="border: 0;width: 35%"
                           readonly="readonly">
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
                    	<input type="text" class="input-text" id="newIdCard" name="newIdCard">
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">性别：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="sexv" style="border: 0; width: 35%" readonly="readonly">
                    <input type="hidden" class="input-text" id="sex" name="sex" style="border: 0;" readonly="readonly">
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
	                    <img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
	                    <select
	                            class="select" style="width: 100%;" id="newSex" name="newSex">
	                    </select>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">民族：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="nationv" style="border: 0; width: 35%"
                           readonly="readonly"/>
                    <input type="hidden" class="input-text" id="nation" name="nation" style="border: 0;"
                           readonly="readonly"/>
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
	                    <select
	                            class="select" style="width: 100%;" id="newNation" name="newNation">
	                    </select>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">院校：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" style="border: 0; width: 35%" id="zyUnvsId"
                           readonly="readonly"/>
                    <input type="hidden" class="input-text" id="unvsId" name="unvsId"/>
                    <input type="hidden" class="input-text" id="pfsnId" name="pfsnId"/>
                    <a class="btn btn-primary radius btn-modify" data-classname="items">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
	                    <select class="js-data-example-ajax"
	                            style="width: 100%;" id="newUnvsId" name="newUnvsId">
	                    </select>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">层次：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" style="border: 0; width: 35%" id="zyPfsnLevel"  name="pfsnLevel"
                           readonly="readonly"/>
                    <div class="items" style="display: none">
	                    <img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
	                    <select class="select" style="width: 100%;" id="pfsnLevels2" name="npfsnLevel" disabled="disabled">
	                    </select>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">专业：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" style="border: 0; width: 35%" id="zyPfsnName"
                           readonly="readonly"/>
                    <div class="items" style="display: none">
	                    <img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
	                    <select class="select" style="width: 100%;" id="newPfsnId" name="newPfsnId" disabled="disabled">
	                    </select>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">考区：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="taIdv" name="taIdv" style="border: 0; width: 35%"
                           readonly="readonly"/>
                    <input type="hidden" class="input-text" id="taId" name="taId" style="border: 0;"
                           readonly="readonly"/>
                    <div class="items" style="display: none">
	                    <img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
	                    <select class="select" style="width: 100%;" id="newTaId" name="newTaId" disabled="disabled">
	                    </select>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">优惠类型：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="scholarshipv" style="border: 0; width: 35%"
                           readonly="readonly"/>
                    <input type="hidden" class="input-text" id="scholarship" name="scholarship" style="border: 0;"
                           readonly="readonly"/>
                    <div class="items" style="display: none">
	                    <img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
						<select class="select" style="width: 100%;" id="newScholarship" name="newScholarship" disabled="disabled">
	                	</select>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">户口所在地：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="rprAddress" name="rprAddress" style="border: 0; width: 35%"
                           readonly="readonly"/>
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
                    	<select class="select js-data-example-ajax" id="newHkCode" name="newHkCode" style="width: 100%">
			                </select> 
			                <input type="hidden" class="input-text" id="newRprAddress" name="newRprAddress" style="border: 0;" readonly="readonly">
                    </div>
                </div>
            </div>
            
            <br>
            <HR style="border:0.5 dashed #987cb9" width="100%"  SIZE=1>
            <br>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">原学历类型：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="hidden" class="input-text" id="graduateEdcsType" name="graduateEdcsType" style="border: 0;" readonly="readonly">
                    <input type="text" class="input-text" id="graduateEdcsTypev" style="border: 0;width: 35%"
                           readonly="readonly">
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
                    	<select class="select" id="newGraduateEdcsType" name="newGraduateEdcsType" style="width: 100%">
                	</select>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">原毕业院校：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="graduateUnvsName" name="graduateUnvsName" style="border: 0;width: 35%"
                           readonly="readonly">
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
                    	<input type="text" class="input-text" id="newGraduateUnvsName" name="newGraduateUnvsName">
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">原毕业时间：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="graduateTime" name="graduateTime" style="border: 0;width: 35%"
                           readonly="readonly">
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
                    	<input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="newGraduateTime" name="newGraduateTime" class="input-text Wdate" style="width: 300px;"  placeholder="日期" />
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">原毕业专业：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="graduateProfession" name="graduateProfession" style="border: 0;width: 35%"
                           readonly="readonly">
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
                    	<input type="text" class="input-text" id="newGraduateProfession" name="newGraduateProfession">
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">原毕业证编号：</label>
                <div class="formControls col-xs-8 col-sm-10">
                    <input type="text" class="input-text" id="graduateDiploma" name="graduateDiploma" style="border: 0;width: 35%"
                           readonly="readonly">
                    <a class="btn btn-primary radius btn-modify">变更</a>
                    <div style="display: none">
                    	<img th:attr="src=@{/images/u13205.png}" class="ml-20 mr-20"/>
                    	<input type="text" class="input-text" id="newGraduateDiploma" name="newGraduateDiploma">
                    </div>
                </div>
            </div>
            
        </div>
        <div class="text-c mt-10 mb-20">
            <input class="btn btn-success radius" type="submit" value="提交" style="width: 90px">
            <input class="btn btn-normal-outline radius ml-5" type="button" value="取消" onclick="layer_close()" style="width: 90px">
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/webjs/transfer/confirmModify/student-confirm-modify-add.js}"></script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>