<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui//H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.progress/control.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>成考网报后异动申请</title>
</head>
<body>
  <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 网报及现场确认管理<span class="c-gray en">/</span>成考网报后异动申请 <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px"
      href="javascript:location.replace(location.href);" title="刷新"><i class="iconfont icon-shuaxin"></i></a>
  </nav>
  <div class="page-container">
    <div class="text-l search" style="position: relative">
      <form action="" id="reset">
        <div class="cl">
          <div class="cl">
            <div class="f-l">
              <span>学员姓名:</span> <input type="text" class="input-text radius ml-10"  placeholder="输入学员姓名" id="stdName">
            </div>
            <div class="f-l">
              <span>手机号:</span> <input type="text" class="input-text radius ml-10" placeholder="输入手机号" id="phone">
            </div>
            <div class="f-l">
              <span>身份证号:</span> <input type="text" class="input-text radius ml-10"  placeholder="输入身份证号" id="idCard">
            </div>
            <div class="f-r mr-15">
              <a class="btn btn-primary radius"  href="javascript:;" style="width: 90px" onclick="_search();" /> <i class="iconfont icon-sousuo"></i> 搜索 </a> <a
                class="btn btn-normal-outline radius" onclick="_reset()"><i class="iconfont icon-shuaxin"></i></a>
            </div>
          </div>
          <div class="text-c showOther" style="background-color: #FBFBFB;" onclick="_showOther()">
				<p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
					<i class="iconfont icon-xiala"></i>
				</p>
			</div>
          <div class="cl">
            <div class="f-l">
              <span>院校名称:</span> <input type="text" class="input-text radius ml-10" placeholder="输入院校名称" id="unvsName" />
            </div>
            <div class="f-l">
              <span>专业名称:</span> <input type="text" class="input-text radius ml-10" placeholder="输入专业名称" id="pfsnName" />
            </div>
            <div class="f-l">
              <span>学员阶段:</span> <select class="select" size="1" id="stdStage">
              <option value="" selected>--请选择学员阶段--</option>
            </select>
            </div>
          </div>
          <div class="cl">
            <div class="f-l">
              <span>招生老师:</span> <input type="text" class="input-text radius ml-10" placeholder="输入招生老师" id="recruit" />
            </div>
            <div class="f-l">
              <span>招生校区:</span> <select class="select" size="1" id="campusId">
              <option value="" selected>--请选择招生校区--</option>
            </select>
            </div>
            <div class="f-l">
				<span>招生部门:</span>
				<select class="select" size="1" id="dpId" name="dpId">
					<option value="" selected>--招生部门--</option>
				</select>
			</div>
          </div>
          <div class="cl">
            <div class="f-l">
              <span>报考层次:</span> <select class="select" size="1" id="pfsnLevel">
              <option value="" selected>--请选择报考层次--</option>
            </select>
            </div>
            <div class="f-l">
              <span>考试县区:</span> <select class="select" size="1" id="taId">
              <option value="" selected>--请选择考试县区--</option>
            </select>
            </div>
            <div class="f-l">
              <span>考试费:</span> <select class="select" size="1" id="examPayStatus">
              <option value="" selected>--请选择考试费--</option>
            </select>
            </div>
          </div>
          
          <div class="cl">
            <div class="f-l">
              <span>优惠类型:</span> <select class="select" size="1" id="scholarship">
              <option value="" selected>--请选择优惠类型--</option>
            </select>
            </div>
            <div class="f-l">
				<span>网报状态:</span>
				<select class="select" size="1" id="webRegisterStatus" name="webRegisterStatus">
					<option value="" selected>--请选择网报状态--</option>
				</select>
			</div>
            <div class="f-l">
              <span>审核状态:</span> <select class="select" size="1" id="checkStatus">
                <option value="" selected>--请选择审核状态--</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="bg-1">
      <div class="cl pd-15 bg-1 ">
        <span class="l mt-10 mb-10">
        <a href="javascript:;" onclick="member_add()" class="btn btn-primary radius"><i class="iconfont icon-tianjia"></i> 新增</a>
        <a href="javascript:;" onclick="delAll()" class="btn btn-danger radius"><i class="iconfont icon-shanchu"></i> 批量删除</a> 
          </span>

        <div class="mt-35 bg-fff">
          <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
              <tr class="text-c">
                <th width="25"><input type="checkbox" name="all" value=""></th>
                <th width="80">学员姓名</th>
                <th width="80">年级</th>
                <th width="200">院校及专业</th>
                <th width="80">学员阶段</th>
                <th width="80">优惠情况</th>
                <th width="240">提交的异动内容</th>
                <th width="80">网报状态</th>
                <th width="80">考试费</th>
                <th width="80">提交人</th>
                <th width="100">提交时间</th>
                <th width="90">招生老师</th>
                <th width="90">审核状态</th>
                <th width="90">备注</th>
                <th width="100">操作</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <!--/_footer 作为公共模版分离出去-->

  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.progress/stepBar.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.progress/jquery.easing.1.3.js}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
  <script type="text/javascript" th:src="@{/js/webjs/transfer/confirmModify/student-confirm-modify-list.js}"></script>
</body>
</html>