<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" th:href="@{/favicon.ico}">
<link rel="Shortcut Icon" th:href="@{/favicon.ico}" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.select2/select2.min.css}" />
<style>
table {
	table-layout: fixed;
	word-break: break-all;
}
</style>
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>Banner管理</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 运营管理 <span class="c-gray en">/</span>
		Banner管理 <a class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="iconfont icon-shuaxin"></i></a>
	</nav>
	<div class="page-container">
		<div class="bg-1">
			<div class="cl pd-15 bg-1">
				<span class="l mt-15 mb-15"> <a href="javascript:;"
					onclick="banner_add()" class="btn btn-primary radius"><i
						class="iconfont icon-tianjia"></i> 新增 </a> <a href="javascript:;"
					onclick="delAll()" class="btn btn-danger radius"><i
						class="iconfont icon-shanchu"></i> 批量删除 </a>
				</span>
				<div class="mt-35 bg-fff">

					<table
						class="table table-border table-bordered table-bg table-sort"
						id="tab">
						<thead>
							<tr class="text-c">
								<th width="10"><input type="checkbox" name="all" /></th>
								<th width="50">图片</th>
								<th width="30">名称</th>
								<th width="30">URL</th>
								<th width="10">排序号</th>
								<th width="20">状态</th>
								<th width="30">操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript"
			th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
		<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
		<script type="text/javascript"
			th:src="${_file_browser + 'cache/dict.json'}"></script>
		<script type="text/javascript"
			th:src="${_file_browser + 'cache/param.json'}"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript"
			th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/jquery.select2/select2.full.js}"></script>

		<script type="text/javascript" th:inline="javascript">
			var myDataTable;
			$(function() {

				myDataTable = $('.table-sort')
						.dataTable(
								{
									"serverSide" : true,
									"dom" : 'rtilp',
									"ajax" : {
										url : "/banner/list.do",
										type : "post",
										data : {

										}
									},
									"pageLength" : 10,
									"pagingType" : "full_numbers",
									"ordering" : false,
									"searching" : false,
									"createdRow" : function(row, data,
											dataIndex) {
										$(row).addClass('text-c');
									},
									"language" : _my_datatables_language,
									columns : [ {
										"mData" : null
									}, {
										"mData" : null
									}, {
										"mData" : "bannerName"
									}, {
										"mData" : "redirectUrl"
									}, {
										"mData" : "sort"
									}, {
										"mData" : null
									}, {
										"mData" : null
									} ],
									"columnDefs" : [
											{
												"render" : function(data, type,
														row, meta) {
													return '<input type="checkbox" value="'+ row.bannerId + '" name="bannerIds"/>';
												},
												"targets" : 0
											},
											{
												"render" : function(data, type,
														row, meta) {

													var dom = '';
													var urlPath = _FILE_URL
															+ row.bannerUrl
															+ '?'
															+ Date
																	.parse(new Date());
													dom += '<img src="'+urlPath+'" height="100" width="250" />';
													return dom;
												},
												"targets" : 1
											},
											{
												"render" : function(data, type,
														row, meta) {
													var dom = '';
													if (row.isAllow == '1') {
														dom += '<a onClick="banner_stop(\''
																+ row.bannerId
																+ '\')" href="javascript:;" title="禁用" style="text-decoration:none"><i class="iconfont icon-tingyong"></i></a>';
													} else if (row.isAllow == '0') {
														dom += '<a onClick="banner_start(\''
																+ row.bannerId
																+ '\')" href="javascript:;" title="启用" style="text-decoration:none"><i class="iconfont icon-qiyong"></i></a>';
													}
													dom += ' &nbsp;';
													dom += '<a title="编辑" href="javascript:void(0)" onclick="banner_edit(\''
															+ row.bannerId
															+ '\')" class="ml-5" style="text-decoration:none">';
													dom += '<i class="iconfont icon-edit"></i></a>';
													dom += ' &nbsp;';
													dom += '<a title="删除" href="javascript:;" onclick="banner_del(this,\''
															+ row.bannerId
															+ '\')" class="ml-5" style="text-decoration: none">';
													dom += '<i class="iconfont icon-shanchu"></i></a>';
													return dom;
												},
												"targets" : 6
											},
											{
												"render" : function(data, type,
														row, meta) {
													if (row.isAllow == '1') {
														return '<span class="label label-success radius">已启用</span>';
													} else {
														return '<span class="label label-danger radius">已禁用</span>';
													}
												},
												"targets" : 5
											} ]
								});
			});

			function banner_add() {
				var url = "/banner/toAdd.do";
				layer_show('添加Banner', url, 900, 600, function() {
					myDataTable.fnDraw(true);
				});

			}

			function banner_edit(bannerId) {
				var url = "/banner/toEdit.do" + '?bannerId=' + bannerId;
				layer_show('修改Banner', url, null, 510, function() {
					myDataTable.fnDraw(true);
				});
			}

			/*管理员-删除*/
			function banner_del(obj, id) {
				layer.confirm('确认要删除吗？', function(index) {
					$.ajax({
						type : 'POST',
						url : "/banner/delete.do",
						data : {
							bannerId : id
						},
						dataType : 'json',
						success : function(data) {
							if (data.code == _GLOBAL_SUCCESS) {
								layer.msg('已删除!', {
									icon : 1,
									time : 1000
								});
							}
							myDataTable.fnDraw(true);
						}
					});
				});
			}

			function banner_stop(bannerId) {
				layer.confirm('确认要停用吗？', function(index) {
					//此处请求后台程序，下方是成功后的前台处理……
					$.ajax({
						type : 'POST',
						url : "/banner/block.do",
						data : {
							bannerId : bannerId,
							exType : 'BLOCK'
						},
						dataType : 'json',
						success : function(data) {
							if (data.code == _GLOBAL_SUCCESS) {
								myDataTable.fnDraw(true);
								layer.msg('已停用!', {
									icon : 5,
									time : 1000
								});
							}
						}
					});
				});
			}

			function banner_start(bannerId) {
				layer.confirm('确认要启用吗？', function(index) {
					//此处请求后台程序，下方是成功后的前台处理……
					$.ajax({
						type : 'POST',
						url : "/banner/block.do",
						data : {
							bannerId : bannerId,
							exType : 'START'
						},
						dataType : 'json',
						success : function(data) {
							if (data.code == _GLOBAL_SUCCESS) {
								myDataTable.fnDraw(true);
								layer.msg('已启用!', {
									icon : 6,
									time : 1000
								});
							}
						}
					});

				});

			}
			function searchBanner() {
				myDataTable.fnDraw(true);
			}

			function delAll() {
				var chk_value = [];
				var $input = $("input[name=bannerIds]:checked");

				$input.each(function() {
					chk_value.push($(this).val());
				});
				if (chk_value == null || chk_value.length <= 0) {
					layer.msg('未选择任何数据!', {
						icon : 5,
						time : 1000
					});
					return;
				}
				layer.confirm('确认要删除吗？', function(index) {
					$.ajax({
						type : 'POST',
						url : "/banner/deleteBanners.do",
						data : {
							bannerIds : chk_value
						},
						dataType : 'json',
						success : function(data) {
							if (data.code == _GLOBAL_SUCCESS) {
								layer.msg('已删除!', {
									icon : 1,
									time : 1000
								});
								myDataTable.fnDraw(true);
								$("input[name=all]").attr("checked", false);
							}
						}
					});
				});
			}
		</script>
</body>
</html>