<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico" >
	<link rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript" th:src="@{/js/html5shiv.js}"></script>
	<script type="text/javascript" th:src="@{/js/respond.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
	<!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<!--/meta 作为公共模版分离出去-->
	<title th:text="UPDATE == ${exType} ? 修改角色 : 添加系统角色"></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
</head>
<body>
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal" th:object="${dataInfo}" id="form-graduate-add">
		<input type="hidden" th:value="*{id}" name="id" id="id" />
		<input type="hidden" th:value="${exType}" name="exType" id="exType" />
		<input type="hidden" th:value="${_web_token}" name="_web_token" id="_web_token" />
		<input type="hidden" name="ifSubmit" id="ifSubmit" />
		<input type="hidden" name="ifPass" id="ifPass" />
		<input type="hidden" name="ifMail" id="ifMail" />
		<input type="hidden" name="noPassReason" id="noPassReason"/>
		<input type="hidden" name="expressNo" id="expressNo"/>
		
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">学员：</label>
			<div class="formControls col-xs-8 col-sm-9">
			  	<span id="stdName"></span>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">院校专业：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span id="unvsInfo"></span>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">学籍编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
			   <span id=schoolRoll></span>
			</div>
		</div>
			<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">学号：</label>
			<div class="formControls col-xs-8 col-sm-9">
			   <span id="stdNo"></span>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">身份证号：</label>
			<div class="formControls col-xs-8 col-sm-9">
			   <span id="idCard"></span>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">学员阶段：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span id="stdStage"></span>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">是否提交：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input type="radio" class="ifSubmit"  id="ifSubmit1" name="ifSubmit1" value="1" th:field="*{ifSubmit}">
					<label >是</label>
				</div>
				<div class="radio-box">
					<input type="radio" class="ifSubmit" id="ifSubmit0" name="ifSubmit1" value="0" th:field="*{ifSubmit}">
					<label >否</label>
				</div>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">是否合格：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input type="radio" class="ifSubmit" id="ifPass" name="ifPass1" value="1" th:field="*{ifPass}">
					<label >是</label>
				</div>
				<div class="radio-box">
					<input type="radio" class="ifSubmit" id="ifPass" name="ifPass1" value="0" th:field="*{ifPass}">
					<label >否</label>
				</div>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">不合格原因：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="输入不合格原因" disabled="disabled" id="noPassReason1" name="noPassReason1" th:value="*{noPassReason}">
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">是否邮寄：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
					<input type="radio" class="ifSubmit" id="ifMail" name="ifMail1" value="1" th:field="*{ifMail}">
					<label >是</label>
				</div>
				<div class="radio-box">
					<input type="radio" class="ifSubmit" id="ifMail" name="ifMail1" value="0" th:field="*{ifMail}">
					<label >否</label>
				</div>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">邮寄信息：</label>
			<div class="formControls col-xs-8 col-sm-9 ">
				<span id="expressInfo"></span>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">快递单号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" disabled="disabled" placeholder="输入快递单号" id="expressNo1" name="expressNo1" th:value="*{expressNo}">
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">班主任：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span id="tutorName"></span>
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="remark" id="remark" cols="" rows="" class="textarea" placeholder="请输入备注...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                <p class="textarea-numberbar">
                  <em class="textarea-length">0</em>/100
                </p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius inputW9" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
				<input class="btn btn-normal-outline radius inputW9 ml-5" type="button" onclick="layer_close();" value="返回">
			</div>
		</div>
	</form>
	</article>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>	
	<script type="text/javascript" th:inline="javascript">
		var stdName=[[${dataInfo.stdName}]];
		var grade=[[${dataInfo.grade}]];
		var unvsName=[[${dataInfo.unvsName}]];
		var pfsnCode=[[${dataInfo.pfsnCode}]];
		var pfsnName=[[${dataInfo.pfsnName}]];
		var pfsnLevel=[[${dataInfo.pfsnLevel}]];
		var schoolRoll=[[${dataInfo.schoolRoll}]] ==null ?'':[[${dataInfo.schoolRoll}]];
		var stdNo=[[${dataInfo.stdNo}]] ==null ?'':[[${dataInfo.stdNo}]];
		var idCard=[[${dataInfo.idCard}]];
		var stdStage=[[${dataInfo.stdStage}]];
		var tutorName=[[${dataInfo.tutorName}]]==null?'暂无':[[${dataInfo.tutorName}]];
		var userName=[[${dataInfo.userName}]];
		var address=[[${dataInfo.address}]];
		var mobile=[[${dataInfo.mobile}]];
		var remark=[[${dataInfo.remark}]];
		var ifSubmit=[[${dataInfo.ifSubmit}]];
		var ifMail=[[${dataInfo.ifMail}]];
		var ifPass=[[${dataInfo.ifPass}]];
		var noPassReason=[[${dataInfo.noPassReason}]];
		var expressNo=[[${dataInfo.expressNo}]];
		
	</script>
	<script type="text/javascript" th:src="@{/js/webjs/stdservice/graduateData/student_graduate_data_edit_fdy.js}"></script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>