<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.select2/select2.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/webuploader/html5uploader.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/WebUploader2/webuploader.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<style type="text/css">
#del:hover {
	background-color: red;
}

.uploader-list li {
	list-style: none;
	/*height: 35px;*/
	line-height: 31px;
	margin-top: 5px;
}

.uploader-list li.file-li a.file-delete {
	float: right;
}

.btns span {
	color: #F56B6B;
	vertical-align: bottom;
	margin-left: 5px;
}
</style>
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->
<title th:text="UPDATE == ${exType} ? 修改课程 : 添加课程"></title>
</head>
<body>
	<!--  <div id="tab_demo" class="HuiTab">
    </br>
    <div class="tabBar clearfix">
      <span>基本信息</span><span>变更记录</span>
    </div>
    <div class="tabCon"> -->
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal"
			id="form-member-add" th:object="${courseInfo}">
			<input type="hidden" th:value="${exType}" name="exType" id="exType" />
			<input type="hidden" th:value="*{courseId}" name="courseId"
				id="courseId" />
			<div id="hiddenHtml"></div>
			<!-- 执行类型 -->
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span
					class="c-red">*</span>课程名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" th:value="*{courseName}"
						placeholder="请输入课程名称" id="courseName" name="courseName">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span
					class="c-red">*</span>课程类型：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<select class="select" size="1" id="courseType" name="courseType">
					</select>
				</div>
			</div>

			<div class="row cl" id="testSubjectd" hidden>
				<label class="form-label col-xs-4 col-sm-3"><span
					class="c-red">*</span>入学考试科目：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<select class="select" id="testSubject" name="testSubject"
						width="100%">
						<option value="" selected>--请选择入学考试科目--</option>
						<option th:each="s : ${subjects}" th:value="${s.subjectId}"
							th:text="${s.subjectName}"
							th:selected="${s.subjectId} == *{testSubject}"></option>
					</select> <input type="hidden" class="input-text" th:value="*{testSubject}"
						id="testSubjecth" />
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span
					class="c-red">*</span>课程年度：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<select class="select" size="1" id="year" name="year">
					</select>
				</div>
			</div>

			<div class="row cl" id="teachPlanDiv" hidden>
				<label class="form-label col-xs-4 col-sm-3">教学计划：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<table
						class="table table-border table-bordered table-hover table-bg table-sort"
						id="thpTable" style="width: 70%; float: left;">
						<thead>
							<tr class="text-c">
								<th index="0" width="25"><input type="checkbox" value=""></th>
								<th index="1" width="80">教学计划</th>
								<th index="2" width="40">类型</th>
								<th index="3" width="80">专业</th>
								<th index="3" width="30">操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<div style="float: left;">
						<input class="btn btn-primary radius ml-10" type="button"
							value="选择" onclick="showThpBox();" /> <input
							class="btn btn-danger radius ml-5" type="button" value="批量删除"
							onclick="delMore('1');" />
					</div>
				</div>
			</div>
			<div class="row cl" id="textBookDiv" hidden>
				<label class="form-label col-xs-4 col-sm-3"><span
					class="c-red">*</span>使用教材：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<table
						class="table table-border table-bordered table-hover table-bg table-sort"
						id="textBookTable" style="width: 70%; float: left;">
						<thead>
							<tr class="text-c">
								<th index="0" width="25"><input type="checkbox" value=""></th>
								<th index="1" width="80">教材编码</th>
								<th index="2" width="40">教材名称</th>
								<th index="3" width="30">操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<div style="float: left;">
						<input class="btn btn-primary radius ml-10" type="button"
							value="选择" onclick="showTbBox();" /> <input
							class="btn btn-danger radius ml-5" type="button" value="批量删除"
							onclick="delMore('2');" />
					</div>
				</div>
			</div>
			<div class="row cl" id="courseList" style="margin-top: 15px;">
				<label class="form-label col-xs-4 col-sm-3">课程资源：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<!--<div id="upload">-->
					<!--<div id="picker">选择文件</div>-->
					<!--<button id="ctlBtn" class="btn btn-default">开始上传</button>-->
					<!--</div>-->
					<!--<ul class="mt-10 uploader-list" style="width: 69%;" id="display_file">-->
					<!---->
					<!--</ul>-->
					<!--<div id="delFile">-->
					<!--</div>-->
					<div id="uploader" class="wu-example">
						<!--用来存放文件信息-->
						<div class="btns">
							<div id="picker" class="btn btn-primary radius">选择文件</div>
							<a id="ctlBtn" class="btn btn-success ml-5 radius">开始上传</a> <span
								class="f-12 ">(温馨提示：上传文件大小需控制在30M以内)</span>
						</div>
						<div id="fileList" class="uploader-list mt-10"></div>
					</div>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span
					class="c-red">*</span>是否可用：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div class="radio-box">
						<input type="radio" name="isAllow" value="1"
							th:checked="1 == *{isAllow}? true : (1 == *{isAllow}? false : true)">
						<label for="radio-1">是</label>
					</div>
					<div class="radio-box">
						<input type="radio" name="isAllow" value="0"
							th:checked="0 == *{isAllow}? true : false"> <label
							for="radio-2">否</label>
					</div>
				</div>
			</div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3 mt-15">
					<input class="btn btn-success inputW9 radius" type="submit"
						value="提交">
				</div>
			</div>
		</form>
	</article>
	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript"
		th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/webuploader/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
	<!--/_footer 作为公共模版分离出去-->
	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		th:src="${_file_browser + 'cache/dict.json'}"></script>
	<script type="text/javascript"
		th:src="${_file_browser + 'cache/pcd.json'}"></script>
	<script type="text/javascript"
		th:src="${_file_browser + 'cache/param.json'}"></script>
	<script type="text/javascript"
		th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/webuploader/jquery.html5uploader.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/WebUploader2/webuploader.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		  var exType = /*[[${exType}]]*/;
		  var courseType = /*[[${courseInfo.courseType}]]*/;
		  var year = /*[[${courseInfo.year}]]*/;
		  var grade = /*[[${courseInfo.grade}]]*/;
		  var courseResource_global=/*[[${courseResource}]]*/
		  var thpList_global = /*[[${thpList}]]*/;
		  var textBooks_global = /*[[${textBooks}]]*/;
  </script>
	<script type="text/javascript"
		th:src="@{/js/webjs/educational/course/course-edit.js}"></script>
</body>
</html>