<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" th:href="@{/favicon.ico}">
<link rel="Shortcut Icon" th:href="@{/favicon.ico}" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>现场确认跟进</title>
</head>
<body>
	<nav class="breadcrumb">
		网报及现场确认管理<span class="c-gray en">/</span> 现场确认跟进
		<a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>
	<div class="page-container">
		<form id="export-form">
		<div class="text-l search" style="position: relative">
			<div class="cl">
					<div class="cl">
						<div class="f-l">
							<span>学员姓名:</span>
							<input type="text" class="input-text radius ml-10" placeholder="输入学员姓名" id="stdName" name="stdName">
						</div>
						<div class="f-l">
							<span>证件号码:</span>
							<input type="text" class="input-text radius ml-10" placeholder="输入证件号码" id="idCard" name="idCard">
						</div>
						<div class="f-l">
							<span>手机号:</span>
							<input type="text" class="input-text radius ml-10" placeholder="输入手机号" id="mobile" name="mobile">
						</div>
						<div class="f-r mr-5">
							<a class="btn btn-primary radius" href="javascript:void(0);" onclick="searchResult();"><i class="Hui-iconfont">&#xe665;</i>搜索</a>
							<a class="btn btn-normal-outline radius" onclick="_reset()" href="javascript:void(0);"><i class="Hui-iconfont Hui-iconfont-huanyipi"></i></a>
						</div>
					</div>
					<div class="cl">
						<div class="f-l">
							<span>年级:</span>
							<select class="select" size="1" id="grade" name="grade">
								<option value="" selected>--选择年级--</option>
							</select>
						</div>
						<div class="f-l">
							<span>报考院校:</span>
							<select class="select" size="1" id="unvsId" name="unvsId">
								<option value="" selected>--选择院校--</option>
							</select>
						</div>
						<div class="f-l">
							<span>报考层次:</span>
							<select class="select" size="1" id="pfsnLevel" name="pfsnLevel">
								<option value="" selected>--选择报考层次--</option>
							</select>
						</div>
					</div>
					<div class="cl">
						<div class="f-l">
							<span> 报考专业:</span>
							 <select class="select" size="1" id="pfsnId" name="pfsnId"  disabled="disabled">
              				</select>
						</div>
						<div class="f-l">
							<span>学员阶段:</span>
							<select class="select" size="1" id="stdStage" name="stdStage">
								<option value="" selected>--学员阶段--</option>
							</select>
						</div>
						<div class="f-l">
							<span>优惠类型:</span>
							<select class="select" size="1" id="scholarship" name="scholarship">
								<option value="" selected>--优惠类型--</option>
							</select>
						</div>
						
					</div>
					<div class="cl">
						<div class="f-l">
							<span>考试县区:</span>
							<select class="select" size="1" id="taId" name="taId">
								<option value="" selected>--考试县区--</option>
							</select>
						</div>
						<div class="f-l">
							<span>招生老师:</span>
							<input type="text" class="input-text radius ml-10" placeholder="输入招生老师" id="recruit" name="recruit">
						</div>
						<div class="f-l">
							<span>招生部门:</span>
							<select class="select" size="1" id="dpId" name="dpId">
								<option value="" selected>--招生部门--</option>
							</select>
						</div>
						
					</div>
					
					<div class="cl">
						<div class="f-l">
							<span>是否预约:</span>
							<select class="select" size="1" id="placeConfirmStatus" name="placeConfirmStatus">
								<option value="" selected>--是否预约--</option>
							</select>
						</div>
						<div class="f-l">
							<span>预约时间起： </span>
							<input type="text" id="startTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})"
								   name="startTime" class="input-text Wdate"
								   style="width: 120px;">
						</div>
						<div class="f-l">
							<span>预约时间止： </span>
							<input type="text" id="endTime"
								   onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})"
								   name="endTime"
								   class="input-text Wdate" style="width: 120px;">
						</div>
					</div>
					
					
					<div class="cl">
						<div class="f-l">
							<span>预约点查询:</span>
							<input type="text" class="input-text radius ml-10" placeholder="确认城市/地点/地址" id="content" name="content">
					    </div>
						<div class="f-l">
							<span>网报状态:</span>
							<select class="select" size="1" id="webRegisterStatus" name="webRegisterStatus">
								<option value="" selected>--网报状态--</option>
							</select>
						</div>
					   <div class="f-l">
							<span>是否有预报名号:</span>
							<select class="select" size="1" id="hasUsername" name="hasUsername">
								<option value="" selected>--是否有预报名号--</option>
							</select>
						</div>
						
						
					</div>
					<div class="cl">
						<div class="f-l">
							<span>是否有预报名编号:</span>
							<select class="select" size="1" id="hasRegisterNo" name="hasRegisterNo">
								<option value="" selected>--是否有预报名号--</option>
							</select>
						</div>
						<div class="f-l">
							<span>学历鉴定结果:</span>
							<select class="select" size="1" id="educationAppraisal" name="educationAppraisal">
								<option value="" selected>--学历鉴定结果--</option>
							</select>
						</div>
						<div class="f-l">
							<span>是否缴费:</span>
							<select class="select" size="1" id="examPayStatus" name="examPayStatus">
								<option value="" selected>--是否缴费--</option>
							</select>
						</div>
						
						
						
					</div>
				<div class="cl">
					<div class="f-l">
							<span>是否签到:</span>
							<select class="select" size="1" id="signStatus" name="signStatus">
								<option value="" selected>--是否签到--</option>
							</select>
						</div>
					<div class="f-l">
						<span>签到时间起： </span>
						<input type="text" id="signStartTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'signEndTime\')}'})"
							   name="signStartTime" class="input-text Wdate"
							   style="width: 120px;">
					</div>
					<div class="f-l">
						<span>签到时间止： </span>
						<input type="text" id="signEndTime"
							   onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'signStartTime\')}'})"
							   name="signEndTime"
							   class="input-text Wdate" style="width: 120px;">
					</div>
					
					
				</div>
				<div class="cl">
					<div class="f-l">
						<span>是否确认成功:</span>
						<select class="select" size="1" id="sceneConfirmStatus" name="sceneConfirmStatus">
							<option value="" selected>--是否确认成功--</option>
						</select>
					</div>
					<div class="f-l">
						<span>是否有考生号:</span>
						<select class="select" size="1" id="hasExamNo" name="hasExamNo">
							<option value="" selected>--是否有考生号--</option>
						</select>
					</div>
					<div class="f-l">
						<span>确认院校是否一致:</span>
						<select class="select" size="1" id="isUnvsPfsnChange" name="isUnvsPfsnChange">
							<option value="" selected>--院校是否一致--</option>
						</select>
					</div>
					
			</div>
			<div class="cl">
					<div class="f-l">
						<span>是否有工作证明:</span>
						<select class="select" size="1" id="workProve" name="workProve">
							<option value="" selected>--是否有工作证明--</option>
						</select>
					</div>
					<div class="f-l">
						<span>是否有备注:</span>
						<select class="select" size="1" id="isRemark" name="isRemark">
							<option value="" selected>--是否有备注--</option>
						</select>
					</div>
				<div class="f-l">
					<span>绑定手机号:</span>
					<select class="select" size="1" id="mobileBindStatus" name="mobileBindStatus">
						<option value="" selected>--是否绑定手机号--</option>
					</select>
				</div>
					
			</div>
			<div class="cl">
					<div class="f-l">
						<span>相片采集:</span>
						<select class="select" size="1" id="picCollectStatus" name="picCollectStatus">
							<option value="" selected>--是否相片采集--</option>
						</select>
					</div>
					<div class="f-l">
							<span>是否离职老师:</span>
							<select class="select" size="1" id="empStatus" name="empStatus">
								<option value="" selected>--是否离职老师--</option>
							</select>
						</div>
				</div>
				<div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther()">
					<p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666"><i  class="iconfont  icon-xiala"></i></p>
				</div>
			</div>
		</div>
		</form>
		<div class="bg-1">
			<div class="cl pd-15 bg-1">
			   <span class="l mt-15 mb-15">
					<a href="javascript:;" onclick="checkResetTask()" class="btn btn-warning radius"><i
							class="iconfont icon-tuichu"></i>勾选重置预约任务</a>
					<a href="javascript:;" onclick="queryResetTask()" class="btn btn-warning radius"><i
							class="iconfont icon-tuichu"></i>筛选重置预约任务</a>
					<a href="javascript:;" onclick="importKsh()" class="btn btn-success radius"><i
							class="iconfont icon-daoru"></i>导入考生号</a>	
					<a href="javascript:;" onclick="exportConfirmStudent()" class="btn btn-success radius"><i
							class="iconfont icon-daochu"></i>导出Excel</a>				
					<a href="javascript:;" onclick="confirmStat()" class="btn btn-success2 radius"><i
							class="iconfont"></i>现场确认统计</a>			
	            </span>
				<div class="mt-35 bg-fff">
					<table class="table table-border table-bordered table-bg table-sort" id="tab">
						<thead>
							<tr class="text-c">
								<th width="25"><input type="checkbox" name="all" value=""></th>
								<th width="70">学员</th>
								<th width="70">年级</th>
								<th width="100">院校及专业</th>
								<th width="40">学员阶段</th>
								<th width="50">优惠类型</th>
								<th width="60">考试县区</th>
								<th width="60">确认点预约</th>
								<th width="200">预约内容</th>
								<th width="60">网报状态</th>
								<th width="70">绑定手机号</th>
								<th width="60">相片采集</th>
								<th width="100">预报名信息</th>
								<th width="60">学历鉴定</th>
								<th width="60">考试费</th>
								<th width="60">签到状态</th>
								<th width="60">现场确认状态</th>
								<th width="60">考生号</th>
								<th width="60">工作证明</th>
								<th width="100">备注</th>
								<th width="50">操作</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="addRemarkContent" style="display: none">
		<div class="row cl mt-10 form-horizontal otherReasonBox">
			<label class="form-label col-xs-4 col-sm-3 text-r">填写备注：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<input type="text" class="input-text radius" id="addRemark" style="width: 250px;" name="addRemark">
			</div>
		</div>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/param.json'}"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script type="text/javascript" th:src="@{/js/webjs/sceneMng/student_scene_confirm_list.js}"></script>
</body>
</html>