<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title></title>
</head>
<body>
  <article class="page-container">
    <form action="" method="post" class="form form-horizontal max-w" id="form-member-add" th:object="${studentModifyInfo}">
    <input type="hidden" class="input-text" id="modifyId" name="modifyId" th:value="*{modifyId}" style="border: 0;" readonly="readonly">
     <input type="hidden" th:value="${exType}" name="exType" id="exType" />
      <!-- 执行类型 -->
        <div class="mb-5 bk-gray radius">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">学员：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" th:value="*{stdName}" style="border: 0;" readonly="readonly">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3">年级：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span id="grade" th:text="*{grade}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">学员阶段：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span id="stdStage" th:text=*{stdStage}></span>
                </div>
            </div>
        </div>
        <div class="bk-gray radius mb-5" style="padding-bottom: 20px;">
            <div class="layui-layer-title">异动内容</div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">姓名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" th:value="*{stdName}" style="width: 25%; border: 0;" readonly="readonly">
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <span id="newStdName" name="newStdName" th:text="*{newStdName}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">身份证号码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" th:value="*{idCard}" style="border: 0;width: 25%;" readonly="readonly">
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <span id="newIdCard" name="newIdCard" th:text="*{newIdCard}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">性别：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" id="sexv" th:value="*{sex}" style="border: 0;width: 25%;" readonly="readonly">
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <span id="newSex" name="newSex" th:text="*{newSex}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">民族：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" id="nationv" th:value="*{nation}" style="border: 0;width: 25%;" readonly="readonly" />
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                     <span id="newNation" name="newNation" th:text="*{newNation}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">志愿一：</label>
                <div class="formControls col-xs-8 col-sm-9">
                	<input type="text" class="input-text" id="unvsName" th:value="*{unvsName}" style="border: 0;width: 25%;" readonly="readonly" />
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <span id="nunvsName" name="nunvsName" th:text="*{nunvsName}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">层次：</label>
                <div class="formControls col-xs-8 col-sm-9">
                	<input type="text" class="input-text" id="pfsnLevelv" th:value="*{pfsnLevel}" style="border: 0;width: 25%;" readonly="readonly" />
                    <img src="/images/u13205.png" class="ml-20 mr-20" width="20px" />
                    <span id="pfsnLevel" name="pfsnLevel" th:text="*{npfsnLevel}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">专业：</label>
                <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" id="pfsnLevelv" th:value="*{pfsnName}" style="border: 0;width: 25%;" readonly="readonly" />
                    <img src="/images/u13205.png" class=" ml-20 mr-20" width="20px" />
                    <span th:text="*{npfsnName}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">考区：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" id="taIdv" th:value="*{taName}" style="border: 0;width: 25%;" readonly="readonly" />
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <span id="ntaName" name="ntaName" th:text="*{ntaName}"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">优惠类型：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" id="scholarshipv" th:value="*{scholarship}" style="border: 0;width: 25%;" readonly="readonly" />
                    <input type="hidden" class="input-text" id="scholarship"  th:value="*{newScholarship}"style="border: 0;" readonly="readonly" />
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <span id="newScholarship" name="newScholarship" th:text="*{newScholarship}"></span>
                </div>
            </div>
        </div>
        <div class="bk-gray radius" style="padding-bottom: 20px;">
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">提交人：</label>
                <div class="formControls col-xs-8 col-sm-2">
                    <input type="text" class="input-text" th:value="*{createUser}" style="border: 0;" readonly="readonly">
                </div>
                <label class="form-label col-xs-4 col-sm-2">提交时间：</label>
                <div class="formControls col-xs-8 col-sm-5">
                    <input type="text" class="input-text" id="createTime" th:value="*{createTime}" style="border: 0;" readonly="readonly">
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">校办处理：</label>
                <div class="formControls col-xs-8 col-sm-2">
                    <input type="text" class="input-text" th:value="*{empName}" style="border: 0;" readonly="readonly">
                </div>
                <label class="form-label col-xs-4 col-sm-2">处理时间：</label>
                <div class="formControls col-xs-8 col-sm-5">
                    <span id="bcruptime"></span>
                </div>
            </div>
            <div class="row cl" >
                <label class="form-label col-xs-4 col-sm-3">驳回信息：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span th:text="*{reason}" ></span>
                </div>
            </div>
        </div>
      <div class="row cl mt-10 mb-20">
        <div class="col-xs-8 col-sm-7 col-xs-offset-4 col-sm-offset-5" id="updateSubmit">
          <input class="btn btn-success radius" type="submit" value="提交" style="width: 90px">
            <input class="btn btn-normal-outline radius ml-5" type="button" value="取消" style="width: 90px">
        </div>
      </div>
    </form>
  </article>

  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <!--/_footer 作为公共模版分离出去-->

  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
  <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
  <script type="text/javascript" th:src="@{/js/webjs/transfer/modify/student-modify-edit.js}"></script>
  
  <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>