<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/zTree/v3/css/zTreeStyle/zTreeStyle.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
.ztree li span.button.switch.level0 {
	display: none;
}
</style>
<title th:text="UPDATE == ${exType} ? 编辑优惠券规则 : 添加优惠券规则"></title>
</head>
<body>
		<!-- <div id="tab_demo" class="HuiTab">
		</br>
		<div class="tabBar clearfix">
			<span>基本信息</span><span>变更记录</span>
		</div> 
		<div class="tabCon">-->
		<article class="page-container">
				<form action="" method="post" class="form form-horizontal" id="form-coupon" th:object="${coupon}">
						<input type="hidden" th:value="${exType}" name="exType" id="exType" /> <input type="hidden" th:value="*{couponId}" name="couponId" id="couponId" />
						<input type="hidden" th:value="${_web_token}" name="_web_token" id="_web_token" />
						<!-- 执行类型 -->
						
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>优惠券领取规则：</label>
								<div class="formControls col-xs-4 col-sm-4" id="triggerDiv">
										<select class="select" size="2" id="cTriggerType" name="cTriggerType" onchange="cTriggerChange()" >
												<option value="">--优惠券领取规则--</option>
										</select>
								</div>
						</div>
						
						<div id="scoreCouponDiv">
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3"> <span class="c-red">*</span>年级：
								</label>
								<div class="formControls col-xs-5 col-sm-5" id="gradeDiv">
										<select class="select" size="2" id="grade" name="grade" onchange="resetPfsnFeeName()">
												<option selected value="">--请选择年级--</option>
										</select>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">层次：</label>
								<div class="formControls col-xs-5 col-sm-5" id="pfsnLevelDiv">
										<select class="select" size="2" id="pfsnLevel" name="pfsnInfo.pfsnLevel" onchange="pfsnLevelOnChange()" disabled="disabled">
												<option selected value="">--请选择层次--</option>
										</select>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">院校：</label>
								<div class="formControls col-xs-5 col-sm-5" id="unvsDiv">
										<select class="select" size="2" id="unvs" name="unvs" onchange="unvsOnChange()" disabled="disabled">
												<option selected value="">--请选择院校--</option>
										</select>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">专业：</label>
								<div class="formControls col-xs-5 col-sm-5" id="pfsnDiv">
										<span class="btn btn-primary-outline radius mb-10" onclick="showPfsn(event)" style="width: 90px;
    line-height: 23px;">选取</span>
										<div class="f-12 c-999 ml-20 " id="pfsnCheckDiv"></div>
										<div class="zTreeDemoBackground left ztreeDiv max-w" id="pfsnztree">
												<div class="layui-layer-title">专业选择</div>
												<div class="bk-gray radius">
													<ul id="user_tree" class="ztree"></ul>
												</div>
												<div class="mt-10 mb-20">
							                        <input class="btn btn-normal radius" style="width:50px;margin-left:10px" onclick="ztreeCheckAll('user_tree','pfsnCheck','pfsn')" value="全选">
							                        <input type="hidden" id="pfsnCheck" value="0"/>
							                    </div>
												<div class="mt-10 mb-20 text-c">
				                                    <input class="btn btn-primary radius" onclick="selectedPfsn()" value="确定" style="width: 90px">
				                                </div>
										</div>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">考区：</label>
								<div class="formControls col-xs-5 col-sm-5" id="taDiv">
										<span class="btn btn-primary-outline radius mb-10" onclick="showTa(event)" style="width: 90px;
    line-height: 23px;">选取</span>
										<div class="f-12 c-999 ml-20 " id="taCheckDiv"></div>
										<div class="zTreeDemoBackground left ztreeDiv max-w" id="taztree">
												<div class="layui-layer-title">考区选择</div>
												<div class="bk-gray radius">
													<ul id="ta_tree" class="ztree"></ul>
												</div>	
												<div class="mt-10 mb-20">
							                        <input class="btn btn-normal radius" style="width:50px;margin-left:10px" onclick="ztreeCheckAll('ta_tree','taCheck','ta')" value="全选">
							                        <input type="hidden" id="taCheck" value="0"/>
							                    </div>
												<div class="mt-10 mb-20 text-c">
				                                    <input class="btn btn-primary radius" onclick="selectedTa()" value="确定" style="width: 90px">
				                                </div>
										</div>
								</div>
						</div>
						</div>
						<div class="row cl" id="scoreCouponDiv2">
								<label class="form-label col-xs-4 col-sm-3">优惠类型：</label>
								<div class="formControls col-xs-5 col-sm-5" id="shipDiv">
										<select class="select" size="2" id="scholarship" name="scholarship">
												<option selected value="">--请选择优惠类型--</option>
										</select>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>优惠金额：</label>
								<div class="formControls col-xs-4 col-sm-4">
										<input type="number" class="input-text" th:value="null == *{amount} ? '0.00' : *{amount}" style="width:30px" id="amount" name="amount">
										 元
								</div>
						</div>
						<div class="row cl" id="itemDiv">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>科目及费用：</label>
								<div class="formControls col-xs-5 col-sm-3">
										<table class="table table-border table-bordered table-bg">
												<thead>
														<tr class="text-c">
																<th width="10" class="text-c"><input type="checkbox" name="all" /></th>
																<th width="40">优惠科目</th>
														</tr>
												</thead>
												<tbody id="items">

												</tbody>
										</table>
								</div>
						</div>
						
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发放条件：</label>
								<div class="formControls col-xs-4 col-sm-4">
										<input type="text" class="input-text" th:value="null == *{remark} ? '' : *{remark}" id="remark" name="remark">
								</div>
						</div>
						<div class="row cl" id="betweenScore">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分数区间：</label>
								<div class="formControls col-xs-4 col-sm-4">
										<input type="number" class="input-text" th:value="*{lowestScore}" id="lowestScore" name="lowestScore" style="width:40px"> - 
										<input type="number" class="input-text" th:value="*{highestScore}" id="highestScore" name="highestScore" style="width:40px">
								</div>
						</div>
						
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发放时间：</label>
								<div class="formControls col-xs-4 col-sm-9">
										<input th:value="*{publishStartTime}" type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="publishStartTime" name="publishStartTime" class="input-text Wdate" style="width: 200px;" /> - 
										<input th:value="*{publishExpireTime}" type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss', minDate:'#F{$dp.$D(\'publishStartTime\')||\'%y-%M-%d\'}' })" id="publishExpireTime" name="publishExpireTime" class="input-text Wdate" style="width: 200px;" />
								</div>
						</div>

						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>使用时间：</label>
								<div class="formControls col-xs-4 col-sm-9">
										<input th:value="*{availableStartTime}" type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="availableStartTime" name="availableStartTime" class="input-text Wdate" style="width: 200px;" /> - 
										<input th:value="*{availableExpireTime}" type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss', minDate:'#F{$dp.$D(\'availableStartTime\')||\'%y-%M-%d\'}' })" id="availableExpireTime" name="availableExpireTime" class="input-text Wdate" style="width: 200px;" />
								</div>
						</div>
						
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>优惠券名称：</label>
								<div class="formControls col-xs-4 col-sm-4">
										<input type="text" class="input-text" th:value="null == *{couponName} ? '' : *{couponName}" id="couponName" name="couponName">
								</div>
						</div>
						
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>启用/禁用：</label>
								<div class="formControls col-xs-4 col-sm-4" id="statusRadio">
								
								</div>
						</div>

						<div class="row cl">
								<div class="col-xs-5 col-sm-5 col-xs-offset-4 col-sm-offset-3">
										<input class="btn btn-success radius inputW9" type="submit" value="提交">
								</div>
						</div>
				</form>
		</article>
		<!-- </div>
		<div class="tabCon">
			<div class="mt-20">
				<table
					class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="80">操作人</th>
							<th width="100">操作记录</th>
							<th width="40">操作时间</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div> -->
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
		<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
		<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
		<script type="text/javascript" th:src="@{/js/zTree/v3/js/jquery.ztree.core-3.5.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/zTree/v3/js/jquery.ztree.excheck-3.5.min.js}"></script>
		<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
		<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
		<script type="text/javascript" th:inline="javascript">
		var attr = /*[[${coupon.itemCodes}]]*/;
		var pfsnInfo = /*[[${coupon.pfsnInfo}]]*/;
		var status = /*[[${coupon.isAllow}]]*/;
		var coupon = /*[[${coupon}]]*/;
		var pfsnInfo = /*[[${coupon.pfsnInfo}]]*/;
		var taInfo = /*[[${coupon.taInfo}]]*/;
		</script>
		<script type="text/javascript" th:src="@{/js/webjs/finance/coupon/coupon-edit.js}"></script>
		<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>