<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>优惠券管理</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 财务管理 <span class="c-gray en">/</span>优惠券规则管理 <a
        class="btn btn-success radius r"
        style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新"><i
        class="iconfont icon-shuaxin"></i></a>
</nav>
<div class="page-container">
    <div class="text-l search" style="position: relative">
        <div class="cl" style="padding-left: 30px;">
            <div class="cl">
                <div class="f-l">
                    <span>是否禁用：</span>
                    <select class="select" id="isAllow" size="1" name="isAllow">
                        <option value="">--请选择--</option>
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
                <div class="f-l">
                    <span>优惠券名称：</span>
                    <input type="text" class="input-text radius" placeholder="输入标准名称" id="couponName"
                           name="couponName">
                </div>
                <div class="f-l">
                    <span>优惠类型：</span>
                    <select class="select" size="1" id="scholarship" name="shcolarship">
                    </select>
                </div>
                <div class="f-r mr-5" style="position: absolute; right: 0;">
                    <a class="btn btn-primary radius" href="javascript:;" style="width: 90px" onclick="searchCoupon()">
                        <i class="iconfont icon-sousuo"></i> 搜索
                    </a> <a class="btn btn-normal-outline radius"><i class="iconfont icon-shuaxin"></i></a>
                </div>
            </div>
            <div class="cl">
                    <div class="f-l">
                        <span>年级：</span>
                        <select class="select" size="1" id="grade" name="grade">
                        </select>
                    </div>
                    <div class="f-l">
                        <span>科目：</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入科目"
                                                id="itemCode" name="itemCode">
                    </div>
                     <div class="f-l">
		          		<span>使用开始时间： </span>
		            	<input type="text" id="availableStartTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:'#F{$dp.$D(\'availableExpireTime\')}'})" name="availableStartTime" class="input-text Wdate"
		              style="width: 120px;">
		          	</div> 
            </div>
            <div class="cl">
                      <div class="f-l">
		          		<span>使用结束时间： </span>
		            	<input type="text" id="availableExpireTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:'#F{$dp.$D(\'availableStartTime\')}'})" name="availableExpireTime" class="input-text Wdate"
		              style="width: 120px;">
		          	</div> 
                    <div class="f-l">
		          		<span>发放开始时间： </span>
		            	<input type="text" id="publishStartTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:'#F{$dp.$D(\'publishExpireTime\')}'})" name="publishStartTime" class="input-text Wdate"
		              style="width: 120px;">
		          	</div> 
		          	<div class="f-l">
		          		<span>发放结束时间： </span>
		            	<input type="text" id="publishExpireTime" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm',minDate:'#F{$dp.$D(\'publishStartTime\')}'})"  name="publishExpireTime"
		              class="input-text Wdate" style="width: 120px;">
		          	</div> 
             </div>
              <div class="text-c showOther" style="background-color: #FBFBFB;" onclick="_showOther()">
               <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
                   <i class="iconfont icon-xiala"></i>
               </p>
            </div>
        </div>
    </div>
    <div class="bg-1">
        <div class="cl pd-15 bg-1">
						<span class="l mt-15 mb-15"> <a href="javascript:;" onclick="coupon_add()"
                                                        class="btn btn-primary radius"><i
                                class="iconfont icon-tianjia"></i> 新增 </a> <a href="javascript:;"
                                                                              onclick="delAll()"
                                                                              class="btn btn-danger radius"><i
                                class="iconfont icon-shanchu"></i> 批量删除 </a>
						</span>

            <table class="table table-border table-bordered table-bg table-sort" id="tab">
                <thead>
                <tr class="text-c">
                    <th width="10" class="text-c"><input type="checkbox" name="all"/></th>
                    <th width="80">优惠券名称</th>
                    <th width="50">优惠类型</th>
                    <th width="30">年级</th>
                    <th width="30">优惠券金额</th>
                    <th width="80">适用科目</th>
                    <th width="80">发放条件</th>
                    <th width="20">发放时间</th>
                    <th width="20">使用时间</th>
                    <th width="20">是否禁用</th>
                    <th width="70">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/webjs/finance/coupon/coupon-list.js}"></script>
</body>
</html>