<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" th:href="@{/favicon.ico}">
<link rel="Shortcut Icon" th:href="@{/favicon.ico}" />
<!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
<title>学员应缴变更</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 财务管理 <span class="c-gray en">/</span>学员应缴变更
		<a class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="iconfont icon-shuaxin"></i></a>
	</nav>
	<div class="page-container">
		<div class="text-l search" style="position: relative">
			<div class="cl" style="padding-left: 30px;">
				<div class="cl">
					<div class="f-l">
						<span>学员姓名：</span> <input type="text" class="input-text radius"
							placeholder="" id="studentName" name="studentName">
					</div>
					<div class="f-l">
						<span>证件号码：</span> <input type="text" class="input-text radius"
							placeholder="" id="idCard" name="idCard">
					</div>
					<div class="f-l">
						<span>手机号：</span> <input type="text" class="input-text radius"
							placeholder="" id="mobile" name="mobile">
					</div>
					<div class="f-r mr-5" style="position: absolute; right: 0;">
						<a class="btn btn-primary radius" href="javascript:;"
							style="width: 90px" onclick="tosearch()"> <i
							class="iconfont icon-sousuo"></i> 搜索
						</a> <a class="btn btn-normal-outline radius" onclick="_reset()"><i class="iconfont icon-shuaxin"></i></a>
					</div>
				</div>
				<div class="cl">
					<div class="f-l">
						<span>招生类型：</span> <select class="select" size="1"
							id="recruitType" name="recruitType">
						</select>
					</div>
					<div class="f-l">
						<span>优惠类型：</span> <select class="select" size="1"
							id="scholarship" name="scholarship">
						</select>
					</div>
					<div class="f-l">
						<span>学员阶段：</span> <select class="select" size="1" id="stdStage"
							name="stdStage">
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-1">
			<div class="cl pd-15 bg-1">
				<table class="table table-border table-bordered table-bg table-sort"
					id="tab">
					<thead>
						<tr class="text-c">
							<th width="30">学员姓名</th>
							<th width="30">年级</th>
							<th width="100">院校及专业</th>
							<th width="40">学员阶段</th>
							<th width="180">缴费科目</th>
							<th width="40">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript"
		th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
	<script type="text/javascript"
		th:src="${_file_browser + 'cache/dict.json'}"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/webjs/finance/editpayable/payable-list.js}"></script>
</body>
</html>