<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title th:text="UPDATE == ${exType} ? 修改系统参数 : 添加系统参数"></title>
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal max-w" id="form-member-add">
        <input type="hidden" class="input-text" id="stdId" name="stdId">
        <input type="hidden" class="input-text" id="grade" name="grade">
        <!-- 执行类型 -->
        <div class="mb-5 bk-gray radius" style="padding-bottom: 20px;">
            <div class="layui-layer-title">学员信息</div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray"><span class="c-red">*</span>请选择学员：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <select class="js-data-example-ajax" style="width: 100%;" id="learnId" name="learnId"
                            th:readonly="UPDATE == ${exType} ? false : true">
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray">学员阶段</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text c-gray" id="stdStage" style="border: 0;" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="mb-5 bk-gray radius modifyContent" style="padding-bottom: 20px;">
            <div class="layui-layer-title">异动内容</div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray">姓名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text c-gray" id="stdName" name="stdName"
                           style="border: 0;width:25%;"
                           readonly="readonly">
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <input type="text" class="input-text" id="newStdName" name="newStdName">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray">身份证号码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text c-gray" id="idCard" name="idCard" style="border: 0;width:25%;"
                           readonly="readonly">
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <input type="text" class="input-text" id="newIdCard" name="newIdCard">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray">性别：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text c-gray" id="sexv" style="border: 0;width:25%;"
                           readonly="readonly">
                    <input type="hidden" class="input-text" id="sex" name="sex" style="border: 0;" readonly="readonly">
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <select
                            class="select" style="width: 100%;" id="newSex" name="newSex">
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray">民族：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text c-gray" id="nationv" style="border: 0;width:25%;"
                           readonly="readonly"/>
                    <input type="hidden" class="input-text" id="nation" name="nation" style="border: 0;"
                           readonly="readonly"/>
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <select
                            class="select" style="width: 100%;" id="newNation" name="newNation">
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray">院校：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text c-gray" style="border: 0; width: 25%" id="zyUnvsId"
                           readonly="readonly"/>
                    <input type="hidden" class="input-text" id="unvsId" name="unvsId"/>
                    <input type="hidden" class="input-text" id="pfsnId" name="pfsnId"/>
                    <img src="/images/u13205.png" class="ml-20 mr-20"/>
                    <select class="js-data-example-ajax"
                            style="width: 100%;" id="newUnvsId" name="newUnvsId">
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray">层次：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text c-gray" style="border: 0; width: 25%" id="zyPfsnLevel"
                           readonly="readonly"/>
                    <img src="/images/u13205.png" class="ml-20 mr-20" width="20px"/>
                    <select class="select" style="width: 100%;" id="pfsnLevels2" name="pfsnLevel">
                    </select>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3 c-gray">专业：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text c-gray" style="border: 0; width: 25%" id="zyPfsnName"
                           readonly="readonly"/>
                    <img src="/images/u13205.png" class="ml-20 mr-20" width="20px"/>
                    <select class="select" style="width: 100%;" id="newPfsnId" name="newPfsnId">
                    </select>
                </div>
            </div>
        </div>
        <div class="text-c mt-10">
            <input class="btn btn-success radius" type="submit" value="提交" style="width: 90px">
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/webjs/transfer/roll/student-roll-add.js}"></script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>