<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>教务任务</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 教务管理 <span class="c-gray en">/</span> 教务任务<a class="btn btn-success radius r"
                                                                                      style="line-height: 1.6em; margin-top: 3px"
                                                                                      href="javascript:location.replace(location.href);"
                                                                                      title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="text-l search" style="position: relative">
        <form action="" id="reset">
            <div class="cl">
                <div class="cl">
                    <div class="f-l">
                        <span>任务名称:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入任务名称" id="taskTitle"
                               name="taskTitle">
                    </div>
                    <div class="f-l">
                        <span>创建人:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入创建人名称" id="creater"
                               name="creater">
                    </div>
                    <div class="f-l">
                        <span>是否禁用:</span>
                        <select class="select" size="1" id="isAllow">
                            <option value="" selected>--是否禁用--</option>
                        </select>
                    </div>
                    <div class="f-r mr-5">
                        <a class="btn btn-primary radius" href="javascript:;" onclick="searchTask();">
                            <i class="iconfont  icon-sousuo"></i>
                            搜索
                        </a>
                        <a class="btn btn-normal-outline radius" onclick="_reset()" href="javascript:;"><i
                                class="iconfont  icon-shuaxin"></i></a>
                    </div>
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>是否需毕业核查:</span>
                        <select class="select" size="1" id="isNeedCheck">
                            <option value="" selected>--是否需毕业核查--</option>
                        </select>
                    </div>
                    <div class="f-l">
                        <span>开始时间起:</span>
                        <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'startTimeEnd\')}'})" id="startTimeStart"
                               name="startTimeStart" class="input-text Wdate"/>
                    </div>
                    <div class="f-l">
                        <span>开始时间至:</span>
                        <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTimeStart\')}'})" id="startTimeEnd"
                               name="startTimeEnd" class="input-text Wdate"/>
                    </div>
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>截止时间起:</span>
                        <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTimeEnd\')}'})" id="endTimeStart"
                               name="endTimeStart" class="input-text Wdate"/>
                    </div>
                    <div class="f-l">
                        <span>截止时间至:</span>
                        <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'endTimeStart\')}'})" id="endTimeEnd"
                               name="endTimeEnd" class="input-text Wdate"/>
                    </div>
                </div>
                <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther()">
                    <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
                        <i class="iconfont  icon-xiala"></i>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="bg-1">
        <div class="cl pd-15 bg-1">
			<span class="l mt-15 mb-15"> 
				<a href="javascript:;" onclick="task_add()" class="btn  btn-primary  radius"> <i
                        class="iconfont icon-tianjia"></i> 新增 </a>
				<a href="javascript:;" onclick="delAll()" class="btn btn-danger radius"><i
                        class="iconfont  icon-shanchu"></i> 批量删除</a>
			</span>
            <div class="mt-35 bg-fff">

                <table class="table table-border table-bordered table-bg table-sort" id="tab">
                    <thead>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" name="all" value=""></th>
                        <th width="80">任务名称</th>
                        <th width="100">任务简述</th>
                        <th width="40">创建人</th>
                        <th width="50">开始时间</th>
                        <th width="50">截止时间</th>
                        <th width="30">是否启用</th>
                        <th width="30">是否需毕业核查</th>
                        <th width="40">选择目标学员</th>
                        <th width="60">完成率</th>
                        <th width="30">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
    <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script type="text/javascript" th:src="@{/js/webjs/educational/task/task_list.js}"></script>
</body>
</html>