<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.invite.InviteFansMapper">
    <resultMap id="InviteListMap" type="com.yz.model.invite.InviteFansList">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <id column="std_id" property="stdId" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="yz_code" property="yzCode" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="mobile_location" property="mobileLocation" jdbcType="VARCHAR"/>
        <result column="s_scholarship" property="sScholarship" jdbcType="CHAR"/>
        <result column="d_scholarship" property="dScholarship" jdbcType="VARCHAR"/>
        <result column="reg_time" property="regTime" jdbcType="VARCHAR"/>
        <result column="pfsn_level" property="pfsnLevel" jdbcType="VARCHAR"/>
        <result column="pfsn_name" property="pfsnName" jdbcType="VARCHAR"/>
        <result column="unvs_name" property="unvsName" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="p_id" property="pId" jdbcType="VARCHAR"/>
        <result column="emp_id" property="empId" jdbcType="VARCHAR"/>
        <result column="enroll_time" property="enrollTime" jdbcType="VARCHAR"/>
        <result column="emp_status" property="empStatus" jdbcType="VARCHAR"/>
        <result column="dp_manager" property="dpManager" jdbcType="VARCHAR"/>
        <result column="assign_flag" property="assignFlag" jdbcType="VARCHAR"/>
        <result column="p_nickname" property="pNickname" jdbcType="VARCHAR"/>
        <result column="p_yz_code" property="pYzCode" jdbcType="VARCHAR"/>
        <result column="p_name" property="pName" jdbcType="VARCHAR"/>
        <result column="p_id_card" property="pIdCard" jdbcType="VARCHAR"/>
        <result column="p_mobile" property="pMobile" jdbcType="VARCHAR"/>
        <result column="p_mobile_location" property="pMobileLocation" jdbcType="VARCHAR"/>
        <result column="intention_type" property="intentionType" jdbcType="CHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="sub_order_status" property="subOrderStatus" jdbcType="VARCHAR"/>
        <result column="std_stage" property="stdStage" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAssignedList" parameterType="com.yz.model.condition.invite.InviteUserQuery" resultMap="InviteListMap">
        SELECT
          u.user_id,
		  u.std_id,
		  u.nickname,
		  u.yz_code,
		  u.real_name AS NAME,
		  c.cert_no AS id_card,
		  c.cert_type,
		  u.mobile,
		  u.mobile_location,
		  u.scholarship AS s_scholarship,
		  e.scholarship AS d_scholarship,
		  DATE_FORMAT(u.reg_time, '%Y-%m-%d %H:%i:%s') AS reg_time,
		  e.pfsn_level,
		  e.pfsn_name,
		  e.unvs_name,
		  e.grade,
		  u.p_id,
		  f.emp_id,
		  f.emp_status,
		  DATE_FORMAT(
		    e.enroll_time,
		    '%Y-%m-%d %H:%i:%s'
		  ) AS enroll_time,
		  f.dp_manager,
		  f.assign_flag,
		  pu.nickname AS p_nickname,
		  pu.yz_code AS p_yz_code,
		  pu.real_name AS p_name,
		  pc.cert_no AS p_id_card,
		  pu.mobile AS p_mobile,
		  pu.mobile_location AS p_mobile_location,
		  u.intention_type,
		  u.remark,
 		  subo.`sub_order_status`,
  		  bli.`std_stage`
        FROM us.`us_base_info` u
        LEFT JOIN us.`us_enroll_log` e ON e.user_id = u.user_id
        LEFT JOIN us.`us_certificate` c ON c.user_id = u.user_id AND c.cert_type = '1'
        LEFT JOIN us.`us_follow` f ON f.user_id = u.user_id
        LEFT JOIN us.`us_base_info` pu ON pu.user_id=u.p_id
        LEFT JOIN us.`us_certificate` pc ON pc.user_id = pu.user_id AND pc.cert_type = '1'
        LEFT JOIN bms.`bd_student_info` bsi ON bsi.`id_card` = e.`id_card` 
	    LEFT JOIN bms.`bd_learn_info` bli ON (bli.`unvs_id` = e.`unvs_id` AND bli.`pfsn_id` = e.`pfsn_id` AND bli.`grade` = e.`grade` AND bli.`std_id` = bsi.`std_id` ) 
	    LEFT JOIN bms.`bd_student_order` bso ON bso.`learn_id` = bli.`learn_id`  
	    LEFT JOIN bms.`bd_sub_order` subo ON (bso.`order_no` = subo.`order_no` AND subo.`sub_order_status` <![CDATA[ <> ]]> 4  AND IF(bli.`recruit_type` = '1',subo.`item_code` = 'Y0',subo.`item_code` = 'Y1'))
        WHERE f.emp_id = #{empId, jdbcType=VARCHAR}
        <if test="inviteType != null and inviteType != ''">
            AND u.user_type = #{inviteType, jdbcType=VARCHAR}
        </if>
        <if test="name != null and name != ''">
            AND u.real_name LIKE CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile LIKE CONCAT('%', #{mobile, jdbcType=VARCHAR}, '%')
        </if>
        <if test="yzCode != null and yzCode != ''">
            AND u.yz_code LIKE CONCAT('%', #{yzCode, jdbcType=VARCHAR}, '%')
        </if>
        <if test="idCard != null and idCard != ''">
            AND c.cert_no LIKE CONCAT('%', #{idCard, jdbcType=VARCHAR}, '%')
        </if>
        <if test="pName != null and pName != ''">
            AND pu.real_name LIKE CONCAT('%', #{pName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="pMobile != null and pMobile != ''">
            AND pu.mobile LIKE CONCAT('%', #{pMobile, jdbcType=VARCHAR}, '%')
        </if>
        <if test="pYzCode != null and pYzCode != ''">
            AND pu.yz_code LIKE CONCAT('%', #{pYzCode, jdbcType=VARCHAR}, '%')
        </if>
        <if test="unvsName != null and unvsName != ''">
            AND e.unvs_name LIKE CONCAT('%', #{unvsName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="pfsnName != null and pfsnName != ''">
            AND e.pfsn_name LIKE CONCAT('%', #{pfsnName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="sScholarship != null and sScholarship != ''">
            AND u.scholarship = #{sScholarship, jdbcType=VARCHAR}
        </if>
        <if test="dScholarship != null and dScholarship != ''">
            AND e.scholarship = #{dScholarship, jdbcType=VARCHAR}
        </if>
        <if test="grade != null and grade != ''">
            AND e.grade = #{grade, jdbcType=VARCHAR}
        </if>
        <if test="mobileLocation != null and mobileLocation != ''">
            AND u.mobile_location LIKE CONCAT('%', #{mobileLocation, jdbcType=VARCHAR}, '%')
        </if>
        <if test="regTime != null and regTime != ''">
            AND u.reg_time &gt;= #{regTime, jdbcType=VARCHAR}
        </if>
        <if test="regTime1 != null and regTime1 != ''">
            AND u.reg_time &lt;= #{regTime1, jdbcType=VARCHAR}
        </if>
        <if test="assignFlag != null and assignFlag != ''">
            AND f.assign_flag = #{assignFlag, jdbcType=VARCHAR}
        </if>
        <if test="assignTime != null and assignTime != ''">
            AND f.assign_time &gt;= #{assignTime, jdbcType=VARCHAR}
        </if>
        <if test="assignTime1 != null and assignTime1 != ''">
            AND f.assign_time &lt;= #{assignTime1, jdbcType=VARCHAR}
        </if>
        <if test="intentionType != null and intentionType != ''">
            AND u.intention_type = #{intentionType, jdbcType=VARCHAR}
        </if>
        <if test="remark != null and remark != ''">
            AND u.remark LIKE CONCAT('%', #{remark, jdbcType=VARCHAR}, '%')
        </if>
         <if test="subOrderStatus != null and subOrderStatus != ''">
            AND subo.`sub_order_status`=#{subOrderStatus,jdbcType=VARCHAR}
        </if>
        order by u.reg_time desc
    </select>


    <select id="getSubFansList" parameterType="com.yz.model.condition.invite.InviteUserQuery" resultMap="InviteListMap">
        SELECT
            u.user_id, u.nickname, u.yz_code, u.real_name as name, c.cert_no as id_card, c.cert_type,
            u.mobile, u.mobile_location, u.scholarship AS s_scholarship,
            e.scholarship AS d_scholarship, DATE_FORMAT(u.reg_time, '%Y-%m-%d %H:%i:%s') AS reg_time,
            e.pfsn_level, e.pfsn_name, e.unvs_name, e.grade, u.p_id, f.emp_id, f.emp_status,
            DATE_FORMAT(e.enroll_time, '%Y-%m-%d %H:%i:%s') AS enroll_time, f.dp_manager,f.assign_flag,
            pu.nickname as p_nickname, pu.yz_code as p_yz_code, pu.real_name as p_name,
            pc.cert_no as p_id_card, pu.mobile as p_mobile, pu.mobile_location as p_mobile_location
        FROM us.`us_base_info` u
        LEFT JOIN us.`us_enroll_log` e ON e.user_id = u.user_id
        LEFT JOIN us.`us_certificate` c ON c.user_id = u.user_id AND c.cert_type = '1'
        LEFT JOIN us.`us_follow` f ON f.user_id = u.user_id
        LEFT JOIN us.`us_base_info` pu ON pu.user_id=u.p_id
        LEFT JOIN us.`us_certificate` pc ON pc.user_id = pu.user_id AND pc.cert_type = '1'
        WHERE 1=1
        <choose>
            <when test="empIds != null and empIds.size()>0">
                and f.emp_id in
                <foreach collection="empIds" item="item" open="(" separator="," close=")">
                    #{item, jdbcType=VARCHAR}
                </foreach>
            </when>
            <otherwise>
                and 1=0
            </otherwise>
        </choose>

        <if test="empId!=null and  empId!=''">
            AND f.emp_id = #{empId, jdbcType=VARCHAR}
        </if>
        <if test="inviteType != null and inviteType != ''">
            AND u.user_type = #{inviteType, jdbcType=VARCHAR}
        </if>
        <if test="name != null and name != ''">
            AND u.real_name LIKE CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.mobile LIKE CONCAT('%', #{mobile, jdbcType=VARCHAR}, '%')
        </if>
        <if test="yzCode != null and yzCode != ''">
            AND u.yz_code LIKE CONCAT('%', #{yzCode, jdbcType=VARCHAR}, '%')
        </if>
        <if test="idCard != null and idCard != ''">
            AND c.cert_no LIKE CONCAT('%', #{idCard, jdbcType=VARCHAR}, '%')
        </if>
        <if test="pName != null and pName != ''">
            AND pu.real_name LIKE CONCAT('%', #{pName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="pMobile != null and pMobile != ''">
            AND pu.mobile LIKE CONCAT('%', #{pMobile, jdbcType=VARCHAR}, '%')
        </if>
        <if test="pYzCode != null and pYzCode != ''">
            AND pu.yz_code LIKE CONCAT('%', #{pYzCode, jdbcType=VARCHAR}, '%')
        </if>
        <if test="unvsName != null and unvsName != ''">
            AND e.unvs_name LIKE CONCAT('%', #{unvsName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="pfsnName != null and pfsnName != ''">
            AND e.pfsn_name LIKE CONCAT('%', #{pfsnName, jdbcType=VARCHAR}, '%')
        </if>
        <if test="sScholarship != null and sScholarship != ''">
            AND u.scholarship = #{sScholarship, jdbcType=VARCHAR}
        </if>
        <if test="dScholarship != null and dScholarship != ''">
            AND e.scholarship = #{dScholarship, jdbcType=VARCHAR}
        </if>
        <if test="grade != null and grade != ''">
            AND e.grade = #{grade, jdbcType=VARCHAR}
        </if>
        <if test="empStatus != null and empStatus != ''">
            AND f.emp_status = #{empStatus, jdbcType=VARCHAR}
        </if>
        <if test="mobileLocation != null and mobileLocation != ''">
            AND u.mobile_location LIKE CONCAT('%', #{mobileLocation, jdbcType=VARCHAR}, '%')
        </if>
        <if test="regTime != null and regTime != ''">
            AND u.reg_time &gt;= #{regTime, jdbcType=VARCHAR}
        </if>
        <if test="regTime1 != null and regTime1 != ''">
            AND u.reg_time &lt;= #{regTime1, jdbcType=VARCHAR}
        </if>
        order by u.reg_time desc
    </select>


    <select id="getUndistributedList" parameterType="com.yz.model.condition.invite.InviteFansQuery" resultMap="InviteListMap">
        SELECT
            u.`user_id`,
            u.`nickname`,
            u.`yz_code`,
            u.`real_name` as `name`,
            <if test="idCard != null and idCard != ''">
                c.`cert_no` AS id_card,
            </if>
            u.`mobile`,
            u.`mobile_location`,
            u.`scholarship` AS s_scholarship,
            DATE_FORMAT(u.`reg_time`, '%Y-%m-%d %H:%i:%s') AS reg_time,
            u.`p_id`
        FROM us.`us_base_info` u
        <if test="idCard != null and idCard != ''">
            LEFT JOIN us.`us_certificate` c ON c.`user_id` = u.`user_id` AND c.`cert_type` = '1'
        </if>
        left join us.`us_follow` f on f.user_id = u.user_id
        <where>
            (f.user_id is null or f.emp_status = '2')
            <if test="name != null and name != ''">
                AND u.`real_name` LIKE CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
            </if>
            <if test="mobile != null and mobile != ''">
                AND u.`mobile` LIKE CONCAT('%', #{mobile, jdbcType=VARCHAR}, '%')
            </if>
            <if test="yzCode != null and yzCode != ''">
                AND u.`yz_code` LIKE CONCAT('%', #{yzCode, jdbcType=VARCHAR}, '%')
            </if>
            <if test="idCard != null and idCard != ''">
                AND c.`cert_no` LIKE CONCAT('%', #{idCard, jdbcType=VARCHAR}, '%')
            </if>
            <if test="sScholarship != null and sScholarship != ''">
                AND u.`scholarship` = #{sScholarship, jdbcType=VARCHAR}
            </if>
            <if test="inviteType != null and inviteType != ''">
                AND u.`user_type` = #{inviteType, jdbcType=VARCHAR}
            </if>
        </where>
        order by u.reg_time desc
    </select>

    <select id="countFollow" parameterType="string" resultType="int">
  	  select count(1) from us.`us_follow` where user_id = #{userId, jdbcType=VARCHAR}
    </select>

    <update id="updateFollow" parameterType="com.yz.model.invite.InviteAssignInfo">
        UPDATE us.`us_follow`
        <set>
            <if test="empId != null and empId != ''">
                `emp_id` = #{empId, jdbcType=VARCHAR},
            </if>
            <if test="dpId != null and dpId != ''">
                `dp_id` = #{dpId, jdbcType=VARCHAR} ,
            </if>
            <if test="campusId != null and campusId != ''">
                `campus_id` = #{campusId, jdbcType=VARCHAR} ,
            </if>
            <if test="updateUser != null and updateUser != ''">
                `update_user` = #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                `update_user_id` = #{updateUserId, jdbcType=VARCHAR},
            </if>
            <if test="empStatus != null and empStatus != ''">
                `emp_status` = #{empStatus, jdbcType=VARCHAR},
            </if>
            <if test="assignFlag != null and assignFlag != ''">
                `assign_flag` = #{assignFlag, jdbcType=VARCHAR},
            </if>
            <if test="dpManager != null and dpManager != ''">
                `dp_manager` = #{dpManager, jdbcType=VARCHAR},
            </if>
            <if test="assignTime != null and assignTime != ''">
                `assign_time` = DATE_FORMAT(#{assignTime, jdbcType=VARCHAR}, '%Y-%m-%d %H:%i:%s'),
            </if>
        </set>
        WHERE `user_id` = #{userId, jdbcType=VARCHAR}
    </update>

    <insert id="insertFollow" parameterType="com.yz.model.invite.InviteAssignInfo">
        insert into us.`us_follow`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="empId != null">
                emp_id,
            </if>
            <if test="dpId != null">
                dp_id,
            </if>
            <if test="campusId != null">
                campus_id,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="assignFlag != null">
                assign_flag,
            </if>
            <if test="dpManager != null">
                dp_manager,
            </if>
            <if test="assignTime != null and assignTime != ''">
                assign_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="empId != null">
                #{empId,jdbcType=VARCHAR},
            </if>
            <if test="dpId != null">
                #{dpId,jdbcType=VARCHAR},
            </if>
            <if test="campusId != null">
                #{campusId,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="assignFlag != null">
                #{assignFlag,jdbcType=VARCHAR},
            </if>
            <if test="dpManager != null">
                #{dpManager,jdbcType=VARCHAR},
            </if>
            <if test="assignTime != null and assignTime != ''">
                DATE_FORMAT(#{assignTime, jdbcType=VARCHAR}, '%Y-%m-%d %H:%i:%s'),
            </if>
        </trim>
    </insert>

    <select id="getUser" resultType="com.yz.model.invite.InviteUserInfo">
        select
            u.`user_id` as userId,
            u.`nickname` as nickname,
            u.`yz_code` as yzCode,
            u.`real_name` as `name`,
            c.`cert_no` as idCard,
            u.`mobile` as mobile,
            uf.emp_id as empId,
            uf.emp_status as empStatus
        from us.`us_base_info` u
        left join us.`us_certificate` c on c.`user_id` = u.`user_id` and c.`cert_type` = '1'
        left join us.us_follow uf on uf.user_id=u.user_id
        where u.`user_id` in (
        <foreach collection="userIds" item="userId" separator=",">
            #{userId, jdbcType=VARCHAR}
        </foreach>
        )
    </select>

    <update id="updateUsFollow">
        UPDATE us.`us_follow` SET dp_id=#{dpId,jdbcType=VARCHAR},campus_id=#{campusId,jdbcType=VARCHAR}
        WHERE user_id IN
        <foreach item="userId" collection="list" open="(" separator="," close=")">
            #{userId,jdbcType=VARCHAR}
        </foreach>
    </update>

    <select id="selectList" parameterType="string" resultType="map">
  	  SELECT f.`emp_id` AS empId, f.`dp_id` AS dpId, f.`campus_id` AS campusId, f.`user_id` FROM us.`us_follow` f WHERE f.`emp_id` = #{empId, jdbcType=VARCHAR}
    </select>

    <update id="clearFollow">
  	  update us.`us_follow` set emp_status=#{empStatus, jdbcType=VARCHAR} where emp_id = #{empId, jdbcType=VARCHAR}
    </update>

    <select id="getXJInfo" parameterType="string" resultType="map">
        SELECT
            od.dp_id AS dpId,
            od.campus_id AS campusId,
            oe.emp_name AS empName
        FROM oa_employee_job oej
        LEFT JOIN oa_department od ON oej.dp_id = od.dp_id
        LEFT JOIN oa_employee oe on oe.emp_id=oej.emp_id
        WHERE oej.emp_id = #{empId, jdbcType=VARCHAR} and od.is_stop = '0'
    </select>
	
	<update id="updateUserRelationByUserId">
		UPDATE us.`us_base_info` SET emp_id=NULL,relation=
		( CASE WHEN '6' = (SELECT a.relation FROM (SELECT relation FROM us.`us_base_info` ubi WHERE ubi.user_id=#{userId,jdbcType=VARCHAR}) a)
		 THEN '4'
		 ELSE '0' END)
		 WHERE user_id=#{userId,jdbcType=VARCHAR}
	</update>
    
    <delete id="deleteUserFollow">
        DELETE FROM us.us_follow WHERE user_id = #{userId} and emp_id = #{empId}
    </delete>
</mapper>