<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" th:href="@{/favicon.ico}">
<link rel="Shortcut Icon" th:href="@{/favicon.ico}" />
<!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
<title>月度报销</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 绩效管理 <span class="c-gray en">/</span>
		月度报销 <a class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="iconfont icon-sousuo"></i></a>
	</nav>
	<div class="page-container">
		<div class="text-l search" style="position: relative">
			<div class="cl" style="padding-left: 30px;">
				<div class="cl">
					<div class="f-l">
						<span>招生老师：</span> <input type="text"
							class="input-text radius ml-10" id="recruitName"
							name="recruitName">
					</div>
					<div class="f-l">
						<span>年度：</span> <select class="select" id="year" name="year">
							<option value="" selected>--请选择--</option>
							<option value="2019">2019</option>
						</select>
					</div>
					<div class="f-l">
						<span>是否在职：</span> <select class="select" id="empStatus"
							name="empStatus">
						</select>
					</div>
					<div class="f-r mr-15" style="position: absolute; right: 0;">
						<a class="btn btn-primary radius" style="width: 90px"
							href="javascript:;" onclick="searchItem()"> <i
							class="iconfont icon-sousuo"></i> 搜索
						</a> <a class="btn btn-normal-outline radius" onclick="_reset()"><i
							class="iconfont icon-shuaxin"></i></a>
					</div>
					<div class="cl">
						<div class="f-l">
							<span> 招生分校：</span> <select class="select" size="1"
								id="recruitCampus">
							</select>
						</div>
						<div class="f-l">
							<span> 招生部门：</span> <select class="select" size="1"
								id="recruitDepartment">
							</select>
						</div>
						<div class="text-c showOther" style="background-color: #FBFBFB"
							onclick="_showOther()">
							<p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
								<i class="iconfont  icon-xiala"></i>
							</p>
						</div>
					</div>

				</div>

			</div>
		</div>
		<div class="bg-1">
			<div class="cl pd-15 bg-1">
				<span class="l mt-15 mb-15"> <a href="javascript:;"
					onclick="charges_add()" class="btn btn-primary radius"><i
						class="iconfont icon-tianjia"></i> 新增 </a>
				</span>
				<div class="bg-fff">

					<table
						class="table table-border table-bordered table-bg table-sort"
						id="tab">
						<thead>
							<tr class="text-c">
								<th width="30">招生老师</th>
								<th width="30">职位</th>
								<th width="30">用户类型</th>
								<th width="30">是否在职</th>
								<th width="40">部门</th>
								<th width="40">校区</th>
								<th width="20">招生年度</th>
								<th width="50">预计报销额</th>
								<th width="40">已报销金额</th>
								<th width="80">余额</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript"
			th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
		<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
		<script type="text/javascript"
			th:src="${_file_browser + 'cache/dict.json'}"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript"
			th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/jquery.select2/select2.full.js}"></script>

		<script type="text/javascript"
			th:src="@{/js/webjs/performance/expense/expense-list.js}"></script>
</body>
</html>