<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.graduate.GraduateImageCaptureMapper">
	
	<resultMap type="com.yz.model.graduate.ImageCaptureMap" id="ImageCaptureMap">
	  <id column="order_no" property="orderNo" jdbcType="VARCHAR"></id>
	  <result column="pay_item" property="payItem" jdbcType="VARCHAR"/>
	  <result column="amount" property="amount" jdbcType="VARCHAR"/>
	  <result column="payable" property="payable" jdbcType="VARCHAR"/>
	  <result column="payment_type" property="paymentType" jdbcType="VARCHAR"/>
	  <result column="learn_id" property="learnId" jdbcType="VARCHAR"/>
	  <result column="std_id" property="stdId" jdbcType="VARCHAR"/>
	  <result column="std_name" property="stdName" jdbcType="VARCHAR"/>
	  <result column="pay_time" property="payTime" jdbcType="VARCHAR"/>
	  <result column="check_user" property="checkUser" jdbcType="VARCHAR"/>
	  <result column="check_user_id" property="checkUserId" jdbcType="VARCHAR"/>
	  <result column="check_time" property="checkTime" jdbcType="VARCHAR"/>
	  <result column="out_serial_no" property="outSerialNo" jdbcType="VARCHAR"/>
	  <result column="order_status" property="orderStatus" jdbcType="VARCHAR"/>
	  <result column="remark" property="remark" jdbcType="VARCHAR"/>
	  <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
	  <result column="pfsn_name" property="pfsnName" jdbcType="VARCHAR"/>
	  <result column="unvs_name" property="unvsName" jdbcType="VARCHAR"/>
	  <result column="grade" property="grade" jdbcType="VARCHAR"/>
	  <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
	  <result column="pfsn_code" property="pfsnCode" jdbcType="VARCHAR"/>
	  <result column="pfsn_level" property="pfsnLevel" jdbcType="VARCHAR"/>
	  <result column="std_stage" property="stdStage" jdbcType="VARCHAR"/>
	  <result column="check_status" property="checkStatus" jdbcType="VARCHAR"/>
	  <result column="std_type" property="stdType" jdbcType="VARCHAR"/>
	  <result column="recruit_type" property="recruitType" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 毕业图像采集缴费信息-->
	<select id="findAllListByPage" resultMap="ImageCaptureMap" parameterType="com.yz.model.graduate.ImageCaptureMap">
	   select 
	      bspo.`pay_item`,
		  bspo.`amount`,
		  bspo.`remark`,
		  bspo.`order_status`,
		  DATE_FORMAT(
		    bspo.`pay_time`,
		    '%Y-%m-%d %H:%i:%s'
		  ) pay_time,
		  bspo.`order_no`,
		  bspo.`out_serial_no`,
		  bspo.`payment_type`,
		  bspo.`check_user`,
		  bspo.`check_status`,
		  bli.`std_id`,
		  bli.`learn_id`,
		  bli.`grade`,
		  bli.`std_type`,
		  bli.`std_stage`,
		  bsi.`std_name`,
		  bsi.`id_card`,
		  bsi.`mobile`,
		  bu.`unvs_name`,
		  bup.`pfsn_name`,
		  bup.`pfsn_code`,
		  bup.`pfsn_level`,
		  bli.`recruit_type`
		from
		  bd_student_pay_order bspo
		  left join bd_learn_info bli 
		    on bspo.`learn_id` = bli.`learn_id`
		  left join bd_student_graduate bsg 
		    on bspo.`learn_id` = bsg.`learn_id` 
		  left join bd_student_info bsi 
		    on bli.`std_id` = bsi.`std_id` 
		  left join bd_university bu 
		    on bli.`unvs_id` = bu.`unvs_id` 
		  left join bd_unvs_profession bup 
		    on bli.`pfsn_id` = bup.`pfsn_id` 
		where 1=1 and order_status='1'
		 <if test="orderNo !=null and '' != orderNo">
		      and bspo.`order_no`=#{orderNo}
		 </if>
		 <if test="outSerialNo !=null and '' != outSerialNo">
		     and bspo.`out_serial_no` = #{outSerialNo}
		 </if>
		  <if test="grade !=null and '' != grade">
		  	 and bli.`grade` =#{grade}
		 </if>
		 <if test="stdName !=null and '' != stdName">
		    and bsi.`std_name` like CONCAT('%', CONCAT(#{stdName}, '%'))
		 </if>
		 <if test="pfsnName !=null and '' != pfsnName">
		    and bup.`pfsn_name` like CONCAT('%', CONCAT(#{pfsnName}, '%'))
		 </if>
		  <if test="idCard !=null and '' != idCard">
		    and bsi.`id_card` = #{idCard}
		 </if>
		 <if test="mobile !=null and '' != mobile">
		    and bsi.`mobile`=#{mobile}
		 </if>
		<if test="payStartTime != null and payStartTime != ''">
			AND DATE_FORMAT(bspo.`pay_time`,'%Y-%m-%d') &gt;= #{payStartTime}
		</if>
		<if test="payEndTime != null and payEndTime != ''">
			AND DATE_FORMAT(bspo.`pay_time`,'%Y-%m-%d') &lt;= #{payEndTime}
		</if>
		<if test="unvsId != null and unvsId != ''">
			and bli.`unvs_id` = #{unvsId}
		</if>
		<if test="pfsnLevel != null and pfsnLevel != ''">
			and bup.`pfsn_level` = #{pfsnLevel}
		</if>
		<if test="pfsnId != null and pfsnId != ''">
			and bli.`pfsn_id` = #{pfsnId}
		</if>
		<if test="recruitType != null and recruitType != ''">
			and bli.`recruit_type` = #{recruitType}
		</if>
		<if test="paymentType != null and paymentType != ''">
			and bspo.`payment_type` = #{paymentType}
		</if>
		<if test="checkStatus != null and checkStatus != ''">
			and bspo.`check_status`= #{checkStatus}
		</if>
		<if test="orderNo != null and orderNo != ''">
			and bspo.`order_no` = #{orderNo}
		</if>
		<if test="outSerialNo != null and outSerialNo != ''">
			and bspo.`out_serial_no` = #{outSerialNo}
		</if>
		order by bspo.`pay_time` DESC
	</select>
	
	<update id="reviewCheck" parameterType="com.yz.model.graduate.ImageCaptureMap">
	  update bd_student_pay_order
		<set>
			<if test="checkUser != null">
				check_user = #{checkUser,jdbcType=VARCHAR},
			</if>
			<if test="checkUserId != null">
				check_user_id = #{checkUserId,jdbcType=VARCHAR},
			</if>
			<if test="checkTime != null">
				check_time = #{checkTime,jdbcType=VARCHAR},
			</if>
			<if test="checkStatus != null">
				check_status = #{checkStatus,jdbcType=VARCHAR},
			</if>
		</set>
	    where order_no=#{orderNo}
	</update>
	
	<update id="reviewSerial">
  	UPDATE 
	  `bd_student_pay_order` bspo 
	SET
	  bspo.`check_status` = '1',
	  bspo.check_user = #{realName,jdbcType=VARCHAR},
	  bspo.check_user_id = #{userId,jdbcType=VARCHAR},
	  bspo.check_time = now()
	WHERE bspo.`order_no` in
	<foreach collection="orderNos" item="orderNo" open="(" close=")" separator=",">
    	#{orderNo,jdbcType=VARCHAR}
    </foreach>
  </update>
	
</mapper>