<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
<!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
<!--/meta 作为公共模版分离出去-->
<title>添加学员</title>
</head>
<body>
	<script type="text/javascript">
		var varLearnId = '[[${learnId}]]';
	</script>
	<script type="text/javascript"
		th:src="@{/js/webjs/baseinfo/student/student_modify.js}"></script>
	<div class="page-container">
		<div class="bg-1">
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<div class="mt-35 bg-fff">
					<table
						class="table table-border table-bordered table-hover table-bg table-sort"
						id="modifyListTable">
						<thead>
							<tr class="text-c">
								<th width="80">变更类型</th>
								<th width="180">变更内容</th>
								<th width="180">附件</th>
								<th width="180">备注</th>
								<th width="80">操作人</th>
								<th width="100">操作时间</th>
								<th width="60">是否已完成</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="photoPreview">
		<div class="img">
			<img src="" class="thumbnail" alt="">
		</div>
	</div>
</body>
</html>