<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->

<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</head>
<body>
<script type="text/javascript" th:inline="javascript">
	var checkData = [[${checkStatus}]];
	var gList = [[${graduate}]];
	</script>
	<script type="text/javascript"
		th:src="@{/js/webjs/baseinfo/student/student_charge.js}"></script>
	<div class="page-container max-w">
		<div class="yz-form-box">
			<div class="form">
				<div class="cl">
					<div class="fullPage mb-10">
						<p>考前资料核查</p>
						<div class="bg-1">
							<div class="cl pd-5 bg-1 bk-gray mt-20">
								<div class="mt-35 bg-fff">
									<table
										class="table table-border table-bordered table-hover table-bg table-sort"
										id="checkTable">
										<thead>
											<tr class="text-c">
												<th width="80">职称</th>
												<th width="40">状态</th>
												<th width="80">审核人</th>
												<th width="100">审核时间</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="fullPage ">
						<p>毕业审核</p>
						<div class="bg-1">
							<div class="cl pd-5 bg-1 bk-gray mt-20">
								<div class="mt-35 bg-fff">
									<table id="graduateTable"
										class="table table-border table-bordered table-hover table-bg table-sort">
										<thead>
											<tr class="text-c">
												<th width="80">职称</th>
												<th width="40">状态</th>
												<th width="80">审核人</th>
												<th width="100">审核时间</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>