<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui//H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>BMS日志</title>
</head>
<body>
  <div class="page-container">
    <div class="text-l search" style="position: relative">
      <div class="cl">
        <div class="cl">
          <div class="f-l">
            <span>登录名：</span>
            <input type="text" name="_userName" id="_userName" class="input-text radius" />
          </div>
          <div class="f-l">
            <span>远智编号：</span>
            <input type="text" name="_yzCode" id="_yzCode" class="input-text radius" />
          </div>
          <div class="f-l">
            <span>手机号：</span>
            <input type="text" name="_mobile" id="_mobile" class="input-text radius" />
          </div>
          <div class="f-r mr-15" style="position: absolute; right: 0;">
            <a class="btn btn-primary radius" href="javascript:;" style="width: 90px" onclick="refreshTable_sg(true)">
              <i class="iconfont icon-sousuo"></i>
              搜索
            </a>
            <a class="btn btn-normal-outline radius" href="javascript:" onclick="_reset();">
              <i class="iconfont icon-shuaxin"></i>
            </a>
          </div>
        </div>
        <div class="cl">
          <div class="f-l">
            <span>员工姓名：</span>
            <input type="text" name="_realName" id="_realName" class="input-text radius" />
          </div>
          <div class="f-l">
            <span>部门名称：</span>
            <input type="text" name="dpName" id="dpName" class="input-text radius" />
          </div>
          <div class="f-l">
            <span>校区名称：</span>
            <input type="text" name="campusName" id="campusName" class="input-text radius" />
          </div>
        </div>
        <div class="cl">
          <div class="f-l">
            <span>功能名称：</span>
            <input type="text" name="funcName" id="funcName" class="input-text radius" />
          </div>
          <div class="f-l">
            <span>上送信息：</span>
            <input type="text" name="_postData" id="_postData" class="input-text radius" />
          </div>
          <div class="f-l">
            <span>错误信息：</span>
            <input type="text" name="_errorMsg" id="_errorMsg" class="input-text radius" />
          </div>
        </div>
        <div class="cl">
          <div class="f-l">
            <span>ip地址：</span>
            <input type="text" name="_ip" id="_ip" class="input-text radius" />
          </div>
          <div class="f-l">
            <span>mac地址：</span>
            <input type="text" name="_mac" id="_mac" class="input-text radius" />
          </div>
          <div class="f-l">
            <span>是否成功：</span>
            <select class="select" size="1" name="_isSuccess" id="_isSuccess">
            </select>
          </div>
        </div>
        <div class="cl">
          <div class="f-l">
            <span>起始时间：</span>
            <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss', maxDate:'#F{$dp.$D(\'_endTime\')||\'%y-%M-%d\'}' })" id="_startTime" name="_startTime"
              class="input-text Wdate" style="width: 180px;" />
          </div>
          <div class="f-l">
            <span>结束时间：</span>
            <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss', minDate:'#F{$dp.$D(\'_startTime\')||\'%y-%M-%d\'}' })" id="_endTime" name="_endTime" class="input-text Wdate" style="width: 180px;" />
          </div>
        </div>
        <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther()">
          <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
            <i class="iconfont icon-xiala"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="bg-1">
      <div class="cl pd-15 bg-1">
        <div class="bg-fff">
          <table class="table table-border table-bordered table-hover table-bg table-sort" style="width: 100%" id="sgTable">
            <thead>
              <tr class="text-c">
                <th index="0" width="40">日志编号</th>
                <th index="1" width="60">操作用户</th>
                <th index="2" width="60">地址信息</th>
                <th index="3" width="100">功能信息</th>
                <th index="4" width="60">结果信息</th>
                <th index="5" width="60">操作时间</th>
                <th index="6" width="40">是否成功</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="hideMsg"></div>
  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <!--/_footer 作为公共模版分离出去-->
  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
  <script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
  <script type="text/javascript" th:src="@{/js/webjs/system/bms-log.js}"></script>
  
</body>
</html>