<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui//H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!-- 自定义样式 -->
<style type="text/css">
    .table-auto .dataTables_wrapper > table.table{width:auto !important;max-width: 100% !important;}
    .table-auto .dataTables_wrapper > table.table th,
    .table-auto .dataTables_wrapper > table.table td{width:auto !important;}

    .checkDiv{margin: 20px 30px 20px 50px;font-size:12px;}
    .checkDiv span label{margin-left: 10px;}
</style>
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>统计管理</title>
</head>
<body>
  <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    统计管理
    <span class="c-gray en">/</span>
   学员订书统计
    <span class="c-gray en"></span>
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
      <i class="iconfont icon-shuaxin"></i>
    </a>
  </nav>
      <div class="page-container">
      <form id="export-form" th:action="@{/bookStat/export.do}">
       <input type="hidden" name="stdStage" id="stdStage"/>
        <input type="hidden" name="statGroup" id="statGroup"/>
        <div class="text-l search" style="position: relative">
          <div class="cl">
            <div class="cl">
              <div class="f-l">
                <span>学员姓名:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入学员姓名" id="stdName" name="stdName">
              </div>
              <div class="f-l">
                <span>手机号:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入手机号" id="mobile" name="mobile">
              </div>
              <div class="f-l">
                <span>身份证号:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入身份证号" id="idCard" name="idCard">
              </div>
           
            </div>
            <div class="cl">
              <div class="f-l">
                <span>年级:</span>
                <select class="select" size="1" id="grade" name="grade">
                  <option value="" selected>--请选择年级--</option>
                </select>
              </div>
              <div class="f-l">
                <span>院校:</span>
               <select class="select" size="1" id="unvsId" name="unvsId"></select>
              </div>
               <div class="f-l">
	              <span>专业层次:</span> 
	              <select class="select" size="1" id="pfsnLevel" name="pfsnLevel">
	                  <option value="" selected>--请选择专业层次--</option>
	              </select>
              </div>
            </div>
            <div class="cl">
              <div class="f-l">
                <span>专业名称:</span>
                 <select class="select" size="1" id="pfsnId" name="pfsnId"  disabled="disabled">
                 </select>
              </div>
              <div class="f-l">
                <span>学期:</span>
                <select class="select" size="1" id="semester" name="semester">
                  <option value="" selected>--请选择学期--</option>
                </select>
              </div>
               <div class="f-l">
                <span>学员阶段:</span>
                <select class="select" size="1" id="stdStageQ" name="stdStageQ">
                  <option value="" selected>--请选择学员阶段--</option>
                </select>
              </div>
            </div>
            <div class="cl">
             
              <div class="f-l">
                <span>招生老师:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入招生老师" id="zempName" name="zempName">
              </div>
              <div class="f-l">
                   <span>招生老师状态：</span>
                    <select class="select" size="1" id="empStatus" name="empStatus">
                       <option value="" selected>--请选择是否在职--</option>
                   </select>
               </div>
               <div class="f-l">
                     <span>招生分校：</span>
                     <select class="select" size="1" id="campusId" name="campusId">
                       <option value="" selected>--请选招生分校--</option>
                  </select>
                </div>
            </div>
            <div class="cl">
           	   <div class="f-l">
                     <span>招生部门：</span>
                     <select class="select" size="1" id="dpId" name="dpId">
                         <option value="" selected>--请选择部门--</option>
                     </select>
                 </div>   
            </div>
            <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther(this)">
              <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
                <i class="iconfont icon-xiala"></i>
              </p>
            </div>
          </div>
        </div>
 		</form>
       <div class="checkDiv">
            <label>学员阶段：</label>
            <span>
                <label><input type="checkbox" value="1" name="stdStage">意向学员</label>
                <label><input type="checkbox" value="2" name="stdStage">考前辅导</label>
                <label><input type="checkbox" value="3" name="stdStage">考前确认</label>
                <label><input type="checkbox" value="4" name="stdStage">入学考试</label>
                <label><input type="checkbox" value="5" name="stdStage">已录取</label>
                <label><input type="checkbox" value="6" name="stdStage" checked="checked">注册学员</label>
                <label><input type="checkbox" value="7" name="stdStage" checked="checked">在读学员</label>
                <label><input type="checkbox" value="8" name="stdStage">毕业学员</label>
                <label><input type="checkbox" value="9" name="stdStage">留级学员</label>
                <label><input type="checkbox" value="10" name="stdStage">退学学员</label>
                <label><input type="checkbox" value="11" name="stdStage">其他</label>
                <label><input type="checkbox" value="12" name="stdStage">待录取</label>
                <label><input type="checkbox" value="13" name="stdStage">待注册</label>
                <label><input type="checkbox" value="14" name="stdStage">休学学员</label>
            </span>
        </div>
        <div class="checkDiv">
            <label>统计分组条件：</label>
            <span>
                <label><input type="checkbox" value="bu.unvs_id" name="statGroup">院校</label>
                <label><input type="checkbox" value="bli.pfsn_id" name="statGroup">专业</label>
                <label><input type="checkbox" value="bup.pfsn_level" name="statGroup">层次</label>
                <label><input type="checkbox" value="bli.grade" name="statGroup">年级</label>
                <label><input type="checkbox" value="bss.semester" name="statGroup">学期</label>
                <label><input type="checkbox" value="bup.year" name="statGroup">年度</label>
                <label><input type="checkbox" value="bsi.std_id" name="statGroup">学员</label>
                <label><input type="checkbox" value="bli.std_stage" name="statGroup">学员状态</label>
            </span>
        </div>
        <div class="bg-1">
          <div class="cl pd-15 bg-1">
            <span class="l mt-5 mb-15">
              <a href="javascript:;" onclick="_search_order()" class="btn btn-primary radius"><i class="iconfont icon-edit"></i>开始统计</a>
              <a href="javascript:;" onclick="exportBookStat()" class="btn btn-warning radius"><i class="iconfont icon-daochu"></i>导出订书统计</a>
            </span>
            <div class="bg-fff" id="statTable">
            	<span>选择条件进行统计操作</span>
            </div>
          </div>
      </div>
    </div>
  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <!--/_footer 作为公共模版分离出去-->
  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
  <script type="text/javascript" th:src="@{/js/webjs/statistics/send_book_stat.js}"></script>

</body>
</html>