<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui//H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!-- 自定义样式 -->
<style type="text/css">
  .table-auto .dataTables_wrapper > table.table{width:auto !important;max-width: 100% !important;}
  .table-auto .dataTables_wrapper > table.table th,
  .table-auto .dataTables_wrapper > table.table td{width:auto !important;}

  .checkDiv{margin: 20px 30px 20px 50px;font-size:12px;}
  .checkDiv span label{margin-left: 10px;}
   tfoot th{text-align:center;}
</style>
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>在读学员应缴费用统计</title>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/webjs/statistics/student_study_fee_stat.js}"></script>

</head>
<body>
  <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    学员服务
    <span class="c-gray en">/</span>
    在读学员应缴费用统计
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
      <i class="iconfont icon-shuaxin"></i>
    </a>
  </nav>
  <div class="page-container">
    <div class="text-l search" style="position: relative">
      <div class="cl">
        <form id="searchForm">
          <div class="cl">
            <div class="f-l">
              <span>学员姓名：</span>
              <input type="text" id="stdName" name="stdName" class="input-text radius ml-10" placeholder="输入学员姓名" />
            </div>
            <div class="f-l">
              <span>证件号码：</span>
              <input type="text" id="idCard" name="idCard" class="input-text radius ml-10" placeholder="输入证件号码" />
            </div>
            <div class="f-l">
              <span>手机号：</span>
              <input type="text" id="mobile" name="mobile" class="input-text radius ml-10" placeholder="输入手机号" />
            </div>
            <div class="f-r mr-5">
              <a class="btn btn-primary radius" href="javascript:;" onclick="_search();" />
              <i class="iconfont icon-sousuo"></i>
              搜索
              </a>
              <a class="btn btn-normal-outline radius" href="javascript:" onclick="_reset();">
                <i class="iconfont icon-shuaxin"></i>
              </a>
            </div>
          </div>
          <div class="cl">
            <div class="f-l">
               <span>性别：</span>
               <select class="select" size="1" id="sex" name="sex">
               </select>
            </div>
            <div class="f-l">
               <span>地址：</span>
               <input type="text" id="address" name="address" class="input-text radius ml-10" placeholder="输入地址" />
            </div>
            <div class="f-l">
              <span>院校：</span>
              <input type="text" id="unvsName" name="unvsName" class="input-text radius ml-10" placeholder="输入院校名称" />
            </div>
          </div>
          <div class="cl">
            <div class="f-l">
              <span>学号：</span>
              <input type="text" id="stdNo" name="stdNo" class="input-text radius ml-10" placeholder="输入学号" />
            </div>
            <div class="f-l">
              <span>专业：</span>
              <input type="text" id="pfsnName" name="pfsnName" class="input-text radius ml-10" placeholder="输入专业名称" />
            </div>
            <div class="f-l">
              <span>专业层次：</span>
              <select class="select" size="1" id="pfsnLevel" name="pfsnLevel">
              </select>
            </div>
          </div>
          <div class="cl">
            <div class="f-l">
              <span>招生类型：</span>
              <select class="select" size="1" id="recruitType" name="recruitType">
              </select>
            </div>
            <div class="f-l">
              <span>入学年级：</span>
              <select class="select" size="1" id="grade" name="grade">
              </select>
            </div>
            <div class="f-l">
              <span>是否外校：</span>
              <select class="select" id="stdType" name="stdType"></select>
            </div>
          </div>
          <div class="cl">
            <div class="f-l">
              <span>是否欠费：</span>
              <select class="select" id="isArrears" name="isArrears"></select>
            </div>
            <div class="f-l">
              <span>学服老师：</span>
              <input type="text" id="empName" name="empName" class="input-text radius ml-10" placeholder="输入学服老师" />
            </div>
            <div class="f-l">
              <span>招生老师：</span>
              <input type="text" id="recruitName" name="recruitName" class="input-text radius ml-10" placeholder="输入招生老师" />
            </div>
          </div>
          <div class="cl">
            <div class="f-l">
              <span>优惠分组：</span>
              <select class="select" size="1" id="sg" name="sg">
                <option value="" selected>--选择优惠分组--</option>
              </select>
            </div>
            <div class="f-l">
              <span>优惠类型：</span>
              <select class="select" size="1" id="scholarship" name="scholarship">
                <option value="" selected>--选择优惠类型--</option>
              </select>
            </div>
            <div class="f-l">
              <span>入围状态：</span>
              <select class="select" size="1" id="inclusionStatus" name="inclusionStatus">
                <option value="" selected>--选择入围状态--</option>
              </select>
            </div>
          </div>
          <div class="cl">
            <div class="f-l">
              <span>考试区县：</span>
              <input type="text" id="taName" name="taName" placeholder="请输入考试区县" class="input-text radius">
            </div>
          </div>
        </form>

        <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther()">
          <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
            <i class="iconfont icon-xiala"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="checkDiv">
      <label>统计分组条件：</label>
      <span>
          <label><input type="checkbox" value="tab.grade" name="statGroup" checked="checked">年级</label>
          <label><input type="checkbox" value="tab.unvs_id" name="statGroup">院校</label>
          <label><input type="checkbox" value="tab.pfsn_id" name="statGroup">专业</label>
          <label><input type="checkbox" value="tab.pfsn_level" name="statGroup">专业层次</label>
          <label><input type="checkbox" value="tab.tutor_name" name="statGroup">班主任</label>
      </span>
    </div>
    <div class="bg-1">
      <div class="cl pd-15 bg-1">
        <div class="bg-fff table-auto" id="statTable">
        </div>
      </div>
    </div>
  </div>
</body>
</html>