<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>消息记录</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 消息管理 <span class="c-gray en">/</span> 消息记录<a
        class="btn btn-success radius r"
        style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新"><i
        class="iconfont icon-sousuo"></i></a>
</nav>
<div class="page-container">
	<form id="export-form" th:action="@{/msgPub/export.do}">
    <div class="text-l search" style="position: relative">
        <div class="cl" style="padding-left: 30px;">
            <div class="cl">
                <div class="f-l">
                    <span>接收人：</span>
                    <input type="text" class="input-text radius ml-10" id="receiver"
                           name="receiver">
                </div>
                <div class="f-l">
                    <span>发送方式：</span>
                    <select class="select" id="msgChannel" name="msgChannel">
                    </select>
                </div>
                <div class="f-l">
                    <span>发送状态：</span>
                    <select class="select" id="sendStatus" name="sendStatus">
                    	<option></option>
                    	<option value="1">成功</option>
                    	<option value="2">失败</option>
                    </select>
                </div>
                <div class="f-r mr-15" style="position: absolute; right: 0;">
                    <a class="btn btn-primary radius" style="width: 90px" href="javascript:;" onclick="searchItem()"> <i
                            class="iconfont icon-sousuo"></i> 搜索
                    </a> <a class="btn btn-normal-outline radius" onclick="_reset()"><i
                        class="iconfont icon-shuaxin"></i></a>
                </div>

            </div>
            <div class="cl">
                    <div class="f-l">
		          		<span>开始时间： </span>
		            	<input type="text" id="startTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:'#F{$dp.$D(\'endTime\')}'})" name="startTime" class="input-text Wdate"
		              style="width: 120px;">
		          	</div> 
		          	<div class="f-l">
		          		<span>结束时间： </span>
		            	<input type="text" id="endTime" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm',minDate:'#F{$dp.$D(\'startTime\')}'})"  name="endTime"
		              class="input-text Wdate" style="width: 120px;">
		          	</div> 
		          	 <div class="f-l">
                    <span>班主任：</span>
                    <input type="text" class="input-text radius ml-10" id="tutorName" name="tutorName">
                </div>
                </div>

            <!-- <button type="submit" class="btn btn-success" id="" name="" onclick="search()">
                    <i class="Hui-iconfont">&#xe665;</i> 搜索
        </button> -->
        </div>
    </div>
    </form>
    <div class="bg-1">
        <div class="cl pd-15 bg-1">
			<span class="l mt-15 mb-15">
				<a href="javascript:;" onclick="exportFailedMsg()" class="btn btn-warning radius"><i class="iconfont icon-daochu"></i> 导出数据</a>
			</span>
            <div class="bg-fff">

                <table class="table table-border table-bordered table-bg table-sort" id="tab">
                    <thead>
                    <tr class="text-c">
                        <th width="10"><input type="checkbox" name="all"/></th>
                        <th width="20">消息发送人</th>
                        <th width="40">接收号码</th>
                        <th width="20">消息接收人</th>
                        <th width="15">接收人角色</th>
                        <th width="15">发送方式</th>
                        <th width="10">发送状态</th>
                        <th width="30">发送时间</th>
                        <th width="30">消息标题</th>
                        <th width="50">消息内容</th>
                        <th width="50">班主任</th>
                        <th width="20">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
    <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/webjs/message/record/record-list.js}"></script>
</body>
</html>