<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui//H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>课程安排</title>
</head>
<body>
  <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    教务管理
    <span class="c-gray en">/</span>
    课程安排
    <span class="c-gray en"></span>
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
      <i class="iconfont icon-shuaxin"></i>
    </a>
  </nav>
  <div class="page-container">
    <div class="text-l search" style="position: relative">
      <div class="cl">
        <div class="cl">
          <div class="f-l">
            <span>教师:</span>
            <input type="text" class="input-text radius ml-10" placeholder="输入教师" id="empName">
          </div>
          <div class="f-l">
            <span>课程名称 :</span>
            <input type="text" class="input-text radius ml-10" placeholder="输入课程名称" id="courseName">
          </div>
          <div class="f-l">
            <span>专业名称:</span>
            <input type="text" class="input-text radius ml-10" placeholder="输入专业名称" id="pfsnName">
          </div>
          <div class="f-r mr-5">
            <a class="btn btn-primary radius" href="javascript:;" onclick="_search();" />
            <i class="iconfont icon-sousuo"></i>
            搜索
            </a>
            <a class="btn btn-normal-outline radius" onclick="_reset()" href="javascript:;">
              <i class="iconfont icon-shuaxin"></i>
            </a>
          </div>
        </div>
        <div class="cl">
          <div class="f-l">
            <span>课程类型:</span>
            <select class="select" id="courseType">
              <option value="" selected>--请选择课程类型--</option>
            </select>
          </div>
          <div class="f-l">
            <span>课程年度:</span>
            <select class="select" id="year">
              <option value="" selected>--请选择课程年度--</option>
            </select>
          </div>
          <div class="f-l">
            <span>上课分校:</span>
            <select class="select" id="placeId">
              <option value="" selected>--请选择上课分校--</option>
            </select>
          </div>
        </div>
        <div class="cl">
          <div class="f-l">
            <span>上课方式:</span>
            <select class="select" id="cpType">
              <option value="" selected>--请选择上课方式--</option>
            </select>
          </div>
          <div class="f-l">
            <span>开始日：</span>
            <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})" id="startTime" name="startTime" class="input-text Wdate" />
          </div>
          <div class="f-l">
            <span>结束日:</span>
            <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd', minDate:'#F{$dp.$D(\'startTime\')}' })" id="endTime" name="endTime"
              class="input-text Wdate" />
          </div>
        </div>
		<div class="cl">
          	<div class="f-l">
							 <span>是否启用:</span>
				              <select class="select" size="1" id="isAllow">
				              </select>
						
			</div>
        </div>        
        
        <div class="text-c showOther" style="background-color: #FBFBFB;" onclick="_showOther()">
          <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
            <i class="iconfont icon-xiala"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="bg-1">
      <div class="cl pd-15 bg-1">
        <span class="l mt-5 mb-15">
          <a href="javascript:;" onclick="member_add()" class="btn btn-primary radius">
            <i class="iconfont icon-tianjia"></i>
            新增
          </a>
          <a href="javascript:;" onclick="batchEnable(1)" class="btn btn-success radius"><i class="iconfont icon-qiyong">&nbsp;</i>勾选批量启用</a>
          <a href="javascript:;" onclick="query_enable(1)" class="btn btn-success radius"><i class="iconfont icon-qiyong">&nbsp;</i>筛选批量启用</a>
	      <a href="javascript:;" onclick="batchEnable(2)" class="btn btn-danger radius"><i class="iconfont icon-tingyong">&nbsp;</i>勾选批量禁用</a>
	      <a href="javascript:;" onclick="query_enable(2)" class="btn btn-danger radius"><i class="iconfont icon-tingyong">&nbsp;</i>筛选批量禁用</a>
          <a href="javascript:;" onclick="excel_import()" class="btn btn-success2 radius">
            <i class="iconfont icon-daoru"></i>
            Excel导入
          </a>
          <a href="javascript:;" onclick="query_excel_export()" class="btn btn-success radius">
            <i class="iconfont icon-daochu"></i>
            	筛选导出Excel
          </a>
           <a href="javascript:;" onclick="check_excel_export()" class="btn btn-warning radius">
            <i class="iconfont icon-daochu"></i>
            	勾选导出Excel
          </a>
          <a href="javascript:;" onclick="make_schedule()" class="btn btn-primary radius">
            <i class="iconfont icon-edit"></i>
            生成课表
          </a>
          <a href="javascript:;" onclick="qingshu_import()" class="btn btn-success2 radius">
            <i class="iconfont icon-daoru"></i>
            	导入青书学堂
          </a>
          <a href="javascript:;" onclick="distribution_teacher()" class="btn btn-success radius">
            <i class="iconfont icon-edit"></i>
            批量分配老师
          </a>
          <a href="javascript:;" onclick="delAll()" class="btn btn-danger radius">
            <i class="iconfont icon-shanchu"></i>
            批量删除
          </a>
        </span>
        <div class="mt-35 bg-fff">
          <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
              <tr class="text-c">
               <th width="25"><input type="checkbox" name="all" value=""></th>
                <th width="30">课程年度</th>
                <th width="30">课程类型</th>
                <th width="50">课程名称</th>
                <th width="40">教师</th>
                <th width="40">上课分校</th>
                <th width="30">上课方式</th>
                <th width="50">上课日期</th>
                <th width="50">时间</th>
                <th width="100">专业</th>
                <th width="50">是否启用</th>
                <th width="25">操作</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <!--/_footer 作为公共模版分离出去-->
  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/laydate/laydate.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json?v=20180425'}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>

  <script type="text/javascript" th:src="@{/js/webjs/educational/classPlan/class-plan-list.js}"></script>

</body>
</html>