<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.refund.UsInfoMapper" >
  
  <select id="selectUserOpenId" parameterType="java.lang.String" resultType="java.lang.String">
  	select 
	  bind_id 
	from
	  us.`us_base_info` 
	where user_id = #{userId}  
  </select>
  
  <select id="selectUsBookAddress" parameterType="java.lang.String" resultType="java.util.HashMap">
  	select 
	  sa_name saName,
	  province_code provinceCode,
	  city_code cityCode,
	  district_code districtCode,
	  address,
	  mobile 
	from
	  us.`us_address` 
	where user_id = #{userId} 
	  and sa_type = '1' 
  </select>

	<select id="selectUserInfo" parameterType="java.lang.String" resultType="java.util.Map">
		select
		registration_id
		from
		us.`us_base_info`
		where user_id = #{userId}
	</select>
	
	<select id="getOpenIdByLearnId" resultType="java.lang.String">
  		SELECT 
		  ubi.`bind_id` 
		FROM
		  bms.`bd_learn_info` bli 
		  LEFT JOIN us.`us_base_info` ubi 
		    ON ubi.`std_id` = bli.`std_id` 
		WHERE bli.`learn_id` =#{learnId,jdbcType=VARCHAR} limit 1 
  	</select>
  	
  	<select id="getUserListInfoByMobile" resultType="java.util.Map">
  		select user_id as userId,mobile from us.`us_base_info` where mobile=#{mobile,jdbcType=VARCHAR}
  	</select>
</mapper>