<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui//H-ui.admin.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.select2/select2.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.progress/control.css}" />
<!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
<!--/meta 作为公共模版分离出去-->
	<style>
		.form-horizontal .form-label{ padding-right: 5px;}
		.form-horizontal .formControls{ padding-left: 0;}
		.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo { width: 25% !important;}
		.ui-stepBar-wrap { height: auto;}
	</style>
<title>查看退学学员状态</title>
<meta name="keywords"
	content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description"
	content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal"
			id="form-member-add">
			<input type="hidden" th:value="${exType}" name="exType" id="exType" />
			<input type="hidden" th:value="${grade}" name="grade" id="grade" />
			<input type="hidden" th:value="${learnId}" name="learnId"
				id="learnId" /> <input type="hidden" th:value="${outId}"
				name="outId" id="outId" /> <input type="hidden"
				th:value="${checkStatus}" name="checkStatus" id="checkStatus" />
			<!-- 执行类型 -->
			<div class="row cl" style="margin: 0px; padding: 0px;">
				<label class="form-label col-xs-4 col-sm-1 f-14">审核信息</label>
			</div>
			<div class="row cl" style="margin: 0px; padding: 0px;">
				<label class="form-label col-xs-4 col-sm-1">学员：</label>
				<div class="formControls col-xs-8 col-sm-2" id="stdNameBox"></div>
				<label class="form-label col-xs-4 col-sm-1 c-gray">身份证：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<span th:text="${idCard}"></span>
				</div>
				<label class="form-label col-xs-4 col-sm-1 c-gray">优惠类型：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<input type="text" class="input-text c-gray" id="scholarship"
						   style="border: 0;" readonly="readonly">
				</div>
				<label class="form-label col-xs-4 col-sm-1 c-gray">入围状态：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<input type="text" class="input-text c-gray" id="inclusionStatus"
						   style="border: 0;" readonly="readonly">
				</div>
			</div>
			<div class="row cl" style="margin: 0px; padding: 0px;">
				<label class="form-label col-xs-4 col-sm-1 c-gray">手机号码：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<span th:text="${mobile}"></span>
				</div>
				<label class="form-label col-xs-4 col-sm-1 c-gray">学员阶段：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<input type="text" class="input-text c-gray" id="stdStage"
						   style="border: 0;" readonly="readonly">
				</div>
				<label class="form-label col-xs-4 col-sm-1 c-gray">招生老师：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<input type="text" class="input-text c-gray" id="recruit"
						   style="border: 0;" readonly="readonly">
				</div>
				<label class="form-label col-xs-4 col-sm-1 c-gray">班主任：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<input type="text" class="input-text c-gray" id="tutor"
						   style="border: 0;" readonly="readonly">
				</div>
			</div>
			<div class="row cl" style="margin: 0px; padding: 0px;">
				<label class="form-label col-xs-4 col-sm-1 c-gray">志愿：</label>
				<div class="formControls col-xs-8 col-sm-11">
					<input type="text" class="input-text c-gray" id="unvsId"
						   style="border: 0;" readonly="readonly">
				</div>
			</div>
			<div class="row cl" style="margin: 0px; padding: 0px;">
				<label class="form-label col-xs-4 col-sm-1 c-gray">录取/在读：</label>
				<div class="formControls col-xs-8 col-sm-11">
					<input type="text" class="input-text c-gray" id="onUnvsId"
						   style="border: 0;" readonly="readonly">
				</div>
			</div>
			<div class="row cl" style="margin: 0px; padding: 0px;">
				<label class="form-label col-xs-4 col-sm-1 c-gray"><span
					class="c-red">*</span>退学原因：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<input type="text" class="input-text c-red" id="reason"
						name="reason" th:value="${reason}" style="border: 0;"
						readonly="readonly">
				</div>
				<label class="form-label col-xs-4 col-sm-1 c-gray">附件：</label>
				<div class="formControls col-xs-8 col-sm-2">
					<span class="c-primary"><a
							th:href="${_file_browser}+${fileUrl}" download="附件"><span
							th:text="${fileName}"></span></a></span>
				</div>
			</div>
			<!--
			<div class="row cl" style="margin: 0px; padding: 0px;visibility:hidden;">
				<label class="form-label col-xs-4 col-sm-3 c-gray">校监：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text c-gray" id="directorUser"
						th:value="${directorUser}" style="border: 0;" readonly="readonly">
				</div>
			</div>
			<div class="row cl" style="margin: 0px; padding: 0px;visibility:hidden;">
				<label class="form-label col-xs-4 col-sm-3 c-gray">审核时间：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text c-gray" id="directorTime"
						th:value="${directorTime}" style="border: 0;" readonly="readonly">
				</div>
			</div>
			-->
			<div class="row cl" style="margin: 5px 0 0;">
				<label class="form-label col-xs-4 col-sm-1 f-14">教材发放情况：</label>
				<div class="formControls col-xs-8 col-sm-11">
					<table class="table table-border table-bordered radius"
						style="width: 100%" id="jiaocaifafang">
						<thead>
							<tr>
								<th width="60">年级</th>
								<th width="60">学期</th>
								<th width="110">教材</th>
								<th width="55">订单批次</th>
								<th width="50">快递公司</th>
								<th width="60">快递单号</th>
								<th width="50">订书状态</th>
								<th width="50">备注</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div class="row cl" style="margin: 5px 0 0;">
				<label class="form-label col-xs-4 col-sm-1 f-14">审核状态：</label>
				<div class="formControls col-xs-8 col-sm-9" id="checkStatusProgress">
				</div>
			</div>
			<div class="row cl" style="margin: 15px 0 0; padding: 0px;">
				<label class="form-label col-xs-4 col-sm-1 f-14">缴费项目：</label>
				<div class="formControls col-xs-8 col-sm-11">
					<table class="table table-border table-bordered radius"
						   style="width: 100%" id="feeItem">
						<thead>
						<tr>
							<th width="80">科目</th>
							<th width="50">应缴金额</th>
							<th width="50">实缴金额</th>
							<th width="50">智米抵扣</th>
							<th width="50">滞留抵扣</th>
							<th width="60">优惠券抵扣</th>
							<th width="50">退费金额</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</form>
	</article>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript"
		th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.progress/jquery.easing.1.3.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.progress/stepBar.js}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
	<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
	<script type="text/javascript" th:inline="javascript">
var row = /*[[${stdFee}]]*/;
var stdName = [[${stdName}]];
var postUser = [[${postUser}]];
var learnId = [[${learnId}]];
var stdId = [[${stdId}]];
var scholarship = [[${scholarship}]];
var inclusionStatus = [[${inclusionStatus}]]
var fashu= [[${fashu}]];
var check= [[${check}]];
var postTime= [[${postTime}]]; //提交时间
var remark= [[${remark}]]; //提交备注
var financialUser= [[${financialUser}]];  //退费专员
var financialRemark= [[${financialRemark}]];  //退费专员备注
var financialTime= [[${financialTime}]];  //初审时间
var schoolManagedUser= [[${schoolManagedUser}]];  //客服主管
var schoolManagedTime= [[${schoolManagedTime}]];  //复审时间
var schoolManagedRemark = [[${schoolManagedRemark}]];  //客服主管备注

// console.info(check)

var recruitType=[[${recruitType}]];
</script>
	<script type="text/javascript"
		th:src="@{/js/webjs/transfer/check/out-check-approsenate-look.js}"></script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>