<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		  content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!-- <script type="text/javascript" th:src="@{/js/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/js/respond.min.js}"></script> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
	<!--[if IE 6]>
	<script type="text/javascript" th:src="@{/js/DD_belatedPNG_0.0.8a-min.js}" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>抽奖记录</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 运营管理 <span class="c-gray en">/</span>
		抽奖记录 <a class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="iconfont icon-shuaxin"></i></a>
	</nav>
	<div class="page-container">
		<div class="text-l search" style="position: relative">
		<form id="export-form" th:action="@{/studentOut/exportStudentOut.do}">
			<div class="cl">

				<div class="cl">
					<div class="f-l">
						<span>中奖人姓名:</span> <input type="text"
												  class="input-text radius ml-10" placeholder="输入中奖人" id="realName" name="realName">
					</div>
					<div class="f-l">
						<span>用户手机号:</span> <input type="text"
												 class="input-text radius ml-10" placeholder="输入手机号" id="mobile" name="mobile">
					</div>
					<div class="f-l">
						<span>抽奖活动:</span>
						<input type="text" class="input-text"  placeholder="输入抽奖名称" id="lotteryName">
					</div>
					<div class="f-r mr-15">
						<a class="btn btn-primary radius" style="width: 90px" href="javascript:;" onclick="_search();"> <i
								class="iconfont icon-sousuo"></i> 搜索 </a> <a
							class="btn btn-normal-outline radius" onclick="_reset()"><i
							class="iconfont icon-shuaxin"></i></a>
					</div>
				</div>

				<div class="text-c showOther" style="background-color: #FBFBFB;"
					 onclick="_showOther()">
					<p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
						<i class="iconfont icon-xiala"></i>
					</p>
				</div>
			</div>
		</form>

	</div>

		<div class="bg-1">
			<div class="cl pd-15 bg-1">
				<div class="mt-35 bg-fff">
					<table
							class="table table-border table-bordered table-hover table-bg table-sort">
						<thead>
						<tr class="text-c">
							<th width="70">抽奖活动</th>
							<th width="70">奖品</th>
							<th width="30">中奖人</th>
							<th width="70">手机号</th>
							<th width="70">中奖时间</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript"
		th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript"
		th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript"
		th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
<script type="text/javascript"
		th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript"
		th:src="@{/js/jquery.progress/stepBar.js}"></script>
<script type="text/javascript"
		th:src="@{/js/jquery.progress/jquery.easing.1.3.js}"></script>
<script type="text/javascript"
		th:src="${_file_browser + 'cache/dict.json'}"></script>

		<script type="text/javascript" th:src="@{/js/webjs/operate/drawInfo/record-list.js}"></script>
</body>
</html>