<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <script type="text/javascript" th:src="${_file_browser + 'cache/param.json'}"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
    <title th:text="审核"></title>
</head>
<body>
<!--  <div id="tab_demo" class="HuiTab">
  </br>
  <div class="tabBar clearfix">
    <span>基本信息</span><span>变更记录</span>
  </div>
  <div class="tabCon"> -->
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-room-assign-edit">
        <input type="hidden" name="pfsnName" id="pfsnName">
        <input type="hidden" name="unvsName" id="unvsName">
        <input type="hidden" name="thpName" id="thpName">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学年：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="select" size="1" id="year" name="year"></select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="select" size="1" id="semester" name="semester">
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>年级：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="select" size="1" id="grade" name="grade">
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>院校：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="select" size="1" id="unvsId" name="unvsId">
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>专业层次：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="select" size="1" name="pfsnLevel" id="pfsnLevel">
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>专业：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="select" size="1" id="pfsnId" name="pfsnId" disabled="disabled">
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>科目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select class="select" size="1" id="thpId" name="thpId" disabled="disabled">
                </select>
            </div>
        </div>

        <div class="text-c mt-10 mb-20">
            <input class="btn btn-success radius" type="submit" value="确定" style="width: 90px">
            &nbsp;&nbsp;&nbsp;
            <input class="btn btn-success radius" onclick="layer_close();" type="button" value="取消"
                   style="width: 90px">
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
<script type="text/javascript" th:src="@{/js/webjs/educational/studentScore/studentTScore-course-doc.js}"></script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>