<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" th:href="@{/favicon.ico}">
<link rel="Shortcut Icon" th:href="@{/favicon.ico}" />
<!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
<title>我的绩效</title>
</head>
<body>
	<nav class="breadcrumb">
		<input type="hidden" th:value="${empId}" id="empId" /> <a
			class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="iconfont icon-sousuo"></i></a>
	</nav>
	<div id="tab_demo" class="HuiTab">
		<div id="tab_demo_bar" class="tabBar clearfix">
			<span>我的个人绩效</span>
		</div>
		<div class="tabCon">
			<div class="page-container">
				<div class="bg-1 pt-30">
					<div class="cl pd-15 bg-1">

						<div class="bg-fff">

							<table
								class="table table-border table-bordered table-bg table-sort"
								id="tab">
								<thead>
									<tr class="text-c">
										<th width="30">月份</th>
										<th width="30">月度标准招生人数</th>
										<th width="30">月度标准退学人数</th>
										<th width="40">当月预计报销额</th>
										<th width="20">当月已报销额</th>
										<th width="20">操作</th>
									</tr>
								</thead>
								<tbody id="performanceInfo">

								</tbody>
							</table>
						</div>
						<div class="pt-20">
							<span>剩余可报销金额：</span><span id="allReply"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tabCon">
			<div class="page-container">
				<form id="enrollForm" class="text-l search"
					style="position: relative">
					<div class="cl">
						<div class="f-l">
							<span>招生老师：</span> <select class="select" size="1"
								id="underEmpId" name="underEmpId" onchange="underEmpIdChange()">

							</select>
						</div>
					</div>
				</form>
				<div class="bg-1 pt-30">
					<div class="cl pd-15 bg-1">

						<div class="bg-fff">

							<table
								class="table table-border table-bordered table-bg table-sort team"
								id="tabTeam">
								<thead>
									<tr class="text-c">
										<th width="30">月份</th>
										<th width="30">月度标准招生人数</th>
										<th width="30">月度标准退学人数</th>
										<th width="40">当月预计报销额</th>
										<th width="20">当月已报销额</th>
										<th width="20">操作</th>
									</tr>
								</thead>
								<tbody id="performanceInfoTeam">

								</tbody>
							</table>
						</div>
						<div class="pt-20">
							<span>剩余可报销金额：</span><span id="allReplyTeam"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript"
		th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
	<script type="text/javascript"
		th:src="${_file_browser + 'cache/dict.json'}"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>

	<script type="text/javascript"
		th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script th:online="javascript" type="text/javascript">
		var isXJ = '[[${isXJ}]]';
		var isSuper = '[[${isSuper}]]';
	</script>
	<script type="text/javascript"
		th:src="@{/js/webjs/recruit/performance/performance-list.js}"></script>
</body>
</html>