<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui//H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>在读学员</title>
</head>
<style>
  .stuName:hover{
    /*color: rgb(30, 144, 255);*/
    text-decoration: none;
  }
</style>
<body>
  <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    学员服务
    <span class="c-gray en">/</span>
    在读学员(学籍)
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
      <i class="iconfont icon-shuaxin"></i>
    </a>
  </nav>
  <div class="page-container">
    <div class="text-l search" style="position: relative">
      <div class="cl">
        <form id="searchForm">
        <div class="cl">
          <div class="f-l">
            <span>学员姓名：</span>
            <input type="text" id="stdName" name="stdName" class="input-text radius ml-10" placeholder="输入学员姓名" />
          </div>
          <div class="f-l">
            <span>证件号码：</span>
            <input type="text" id="idCard" name="idCard" class="input-text radius ml-10" placeholder="输入证件号码" />
          </div>
          <div class="f-l">
            <span>手机号：</span>
            <input type="text" id="mobile" name="mobile" class="input-text radius ml-10" placeholder="输入手机号" />
          </div>
          <div class="f-r mr-5">
            <a class="btn btn-primary radius" href="javascript:;" onclick="_search();" />
            <i class="iconfont icon-sousuo"></i>
                                                     搜索
            </a>
            <a class="btn btn-normal-outline radius" href="javascript:" onclick="_reset();">
              <i class="iconfont icon-shuaxin"></i>
            </a>
          </div>
        </div>
        <div class="cl">
           <div class="f-l">
            <span>年级：</span>
            <select class="select" size="1" id="grade" name="grade">
            </select>
          </div>
          <div class="f-l">
            <span>院校：</span>
            <select class="select" size="1" id="unvsId" name="unvsId">
            	<option value="" selected>--请选院校--</option>
            </select>
          </div>
         <div class="f-l">
            <span>专业层次：</span>
            <select class="select" size="1" id="pfsnLevel" name="pfsnLevel">
            </select>
          </div>
        </div>
        
        <div class="cl">
          <div class="f-l">
             <span>专业名称:</span> 
              <select class="select" size="1" id="pfsnId" name="pfsnId" disabled="disabled">
             </select>
          </div>
          <div class="f-l">
            <span>招生类型：</span>
            <select class="select" size="1" id="recruitType" name="recruitType">
            </select>
          </div>
          <div class="f-l">
            <span>是否外校：</span>
            <select class="select" size="1" id="stdType" name="stdType">
            </select>
          </div>
         </div>
         
     	 <div class="cl">
     	    <div class="f-l">
            <span>招生分校：</span>
             <select class="select" size="1" id="campusId" name="campusId">
                  <option value="" selected>--请选招生分校--</option>
             </select>
           </div>
           <div class="f-l">
              <span>招生部门：</span>
              <select class="select" size="1" id="dpId" name="dpId">
                  <option value="" selected>--请选择部门--</option>
              </select>
           </div>  
          <div class="f-l">
            <span>招生老师：</span>
            <input type="text" id="recruitName" name="recruitName" class="input-text radius ml-10" placeholder="输入招生老师姓名" />
          </div>
        </div>
        
        <div class="cl">
          <div class="f-l">
       		<span>优惠分组:</span>
       		<select class="select" size="1" id="sg" name="sg">
		     <option value="" selected>--选择优惠分组--</option>
	       </select>
          </div>   
          <div class="f-l">
          	<span>优惠类型：</span>
            <select class="select" size="1" id="scholarship" name="scholarship">
            </select>
          </div>
          <div class="f-l">
            <span>入围状态:</span>
        	<select class="select" size="1" id="inclusionStatus" name="inclusionStatus">
			  <option value="" selected>--选择入围状态--</option>
		     </select>				        				       
          </div>
        </div>
        
        
        <div class="cl">
          
          <div class="f-l">
            <span>学号：</span>
            <input type="text" id="schoolRoll" name="schoolRoll" class="input-text radius ml-10" placeholder="输入学号" />
          </div>
          <div class="f-l">
            <span>校区归属：</span>
            <select class="select" id="homeCampusId" name="homeCampusId"></select>
          </div>
          <div class="f-l">
            <span>考试县区：</span>
            <select class="select" id="taId" name="taId"></select>
          </div> 
        </div>
        
        <div class="cl">
          <div class="f-l">
            <span>工作单位：</span>
            <input type="text" id="workPlace" name="workPlace" class="input-text radius ml-10" placeholder="输入工作单位" />
          </div>
          <div class="f-l">
          	 <span>收件地址：</span>
          	 <input type="text" id="address" name="address" class="input-text radius ml-10" placeholder="输入收件地址" />
          </div>
          <div class="f-l">
            <span>班主任：</span>
            <input type="text" id="tutorName" name="tutorName" class="input-text radius ml-10" placeholder="输入班主任姓名" />
          </div>
        </div>
        
         <div class="cl">
          
          <div class="f-l">
            <span>学员状态：</span>
            <select class="select" id="stdStage" name="stdStage"></select>
          </div>
          <div class="f-l">
            <span>学服老师状态：</span>
            <select class="select" id="empStatus" name="empStatus"></select>
          </div>
           <div class="f-l">
            <span>是否分配辅导员：</span>
            <select class="select" id="isTutor" name="isTutor"></select>
          </div>	 
        </div>
        
       <div class="cl">
       		
           <div class="f-l">
            <span>生日起：</span>
            <input type="text" id="startBirthday" name="startBirthday" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endBirthday\')}'})" class="input-text Wdate">
            </div>
          <div class="f-l">
            <span>生日止：</span>
            <input type="text" id="endBirthday"   name="endBirthday"  onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startBirthday\')}'})" class="input-text Wdate" >
          </div>
        </div>
        
        
        </form>
        <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther()">
          <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
            <i class="iconfont icon-xiala"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="bg-1">
      <div class="cl pd-15 bg-1">
        <span class="l mt-15 mb-15">
          <!--<a href="javascript:;" onclick="showAddPage('2')" class="btn btn-primary radius">
            <i class="iconfont icon-chakan"></i>
            查看课程安排
          </a> -->
          <a href="javascript:;" onclick="wbstudent_import()" class="btn btn-success radius">
            <i class="iconfont icon-daoru"></i>
            外校区学员导入
          </a>
          <a href="javascript:;" onclick="register_import()" class="btn btn-success radius">
            <i class="iconfont icon-daoru"></i>
            导入学号
          </a>
          <a href="javascript:;" onclick="register_stdno_import()" class="btn btn-success radius">
          <i class="iconfont icon-daoru"></i>
            导入学籍编号
          </a>
          <!--<a href="javascript:;" onclick="student_out()" class="btn btn-danger radius">
            <i class="iconfont icon-tuichu"></i>
            退学申请
          </a>-->
          <a href="javascript:;" onclick="query_excel_export()" class="btn btn-success2 radius"><i class="iconfont icon-daochu"></i> 导出Excel</a>
          <a href="javascript:;" onclick="query_excel_gk_export()" class="btn btn-success2 radius"><i class="iconfont icon-daochu"></i> 导出国开资料</a>
        </span>
        <div class="mt-35 bg-fff">
          <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
              <tr class="text-c">
                <th index="0" width="25"><input type="checkbox" value=""></th>
                <th index="1" width="40">姓名</th>
                <th index="2" width="60">学籍编号</th>
                <th index="3" width="60">学号</th>
                <th index="4" width="40">年级</th>
                <th index="5" width="150">院校与专业</th>
                <th index="6" width="60">班主任</th>
                <th index="7" width="60">学员状态</th>
                <th index="8" width="60">学籍状态</th>
                <th index="9" width="100">缴费情况</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <!--/_footer 作为公共模版分离出去-->
  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/laydate/laydate.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
  <script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
  <script type="text/javascript" th:src="@{/js/webjs/educational/studying/student_studying_list.js}"></script>
</body>
</html>