<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/custom.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->
<title>基本信息</title>
</head>
<body>
  <article class="page-container">
    <form method="post" class="form form-horizontal yz-form-box" id="form-student-info" enctype="multipart/form-data">
      <input type="hidden" name="empId" id="empId" th:value="${baseInfo.empId}" />
      <input type="hidden" name="empType" id="empType" th:value="3" />
      <input type="hidden" name="campusIds" id="campusIds" th:value="*{other.campusId}" />
      <input type="hidden" th:value="${exType}" name="exType" id="exType" />
      <input type="hidden" id="_web_token" name="_web_token" th:value="${_web_token}" />
      <!--------基本信息------->
      <div class="form">
        <div class="cl">
          <div class="f-l halfPage">
            <p>基础资料</p>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" id="empName" name="empName" placeholder="请输入姓名" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>证件类型：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <select class="select" id="idType" name="idType">
                </select>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>证件号：</label>
              <div class="formControls col-xs-8 col-sm-9">
               <input type="text" class="input-text" id="idCard" name="idCard" placeholder="请输入证件号"  />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">性别：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <select class="select" id="sexSelect" name="sexSelect">
                </select>
                 <input type="hidden" name="sex" id="sex" value />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">生日：</label>
              <div class="formControls col-xs-8 col-sm-9">
               <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="birthdayInput" name="birthdayInput" class="input-text Wdate"/>
               <input type="hidden" class="input-text" placeholder="请输入生日" id="birthday" name="birthday" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">民族：</label>
              <div class="formControls col-xs-8 col-sm-9">
               <select class="select" id="nation" name="nation">
               </select>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">年龄：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入年龄" id="ageInput" name="ageInput" />
                <input type="hidden" class="input-text" id="age" name="age" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">政治面貌：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <select class="select" id="politicalStatus" name="politicalStatus">
                </select>
              </div>
            </div>
            <div class="row cl city-3">
              <label class="form-label col-xs-4 col-sm-3">联系地址：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <select class="select" id="provinceCode" name="provinceCode" style="width: 30%">
                </select> <select class="select" id="cityCode" name="cityCode" style="width: 30%">
                </select> <select class="select" id="districtCode" name="districtCode" style="width: 30%">
                </select>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3"></label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入详细地址" id="address" name="address" />
              </div>
            </div>
               <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">每课时费用：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入每课时费用" id="hourFee" name="hourFee" />
              </div>
            </div>
               <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">其它费用：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入其它费用" id="otherFee" name="otherFee" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入手机号" id="mobile" name="mobile" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分配校区：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <select class="select" id="campusId" name="campusId">
                </select>
              </div>
            </div>
           <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">任教学科：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入任教学科" id="teach" name="teach" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">银行账号：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入银行账号" id="bankCard" name="bankCard" />
              </div>
            </div>
          </div>
          <div class="f-r halfPage ">
            <p>其他资料(选填)</p>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">照片：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="member-photo"></span>
                <span class="btn-upload mb-30">
                  <button class="btn btn-primary radius" onclick="">选取图片</button>
                  <input type="file" multiple name="headPic" id="selectPhoto" class="input-file" />
                  <input type="hidden" name="headPortrait" id="headPortrait" value="" />
                  <input type="hidden" name="isPhotoChange" id="isPhotoChange" value="" />
                </span>
                <input type="button" name="next" onclick="deletPhoto()" class="btn btn-normal-outline radius mb-30" value="删除" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">座机：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入手机" id="telephone" name="telephone" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">Email：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入Email" id="email" name="email" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">QQ：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入QQ" id="qq" name="qq" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">职称：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入职称" id="jobTitle" name="jobTitle" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">职称评定时间：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="professionalTime" name="professionalTime" class="input-text Wdate" style="width: 100px;"  placeholder="职称评定时间" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">学位：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入学位" id="degree" name="degree" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">学历：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <select class="select" id="teachEducation" name="teachEducation">
                </select>
              </div>
            </div>
              <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">教师资格证种类：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <select class="select" id="teachCertType" name="teachCertType">
                </select>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">教师资格证书号：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入教师资格证书号" id="teachCertNo" name="teachCertNo" /> 
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">毕业院校：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入毕业院校" id="finishSchool" name="finishSchool" />
              </div>
            </div>
           <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">毕业时间：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="finishTime" name="finishTime" class="input-text Wdate"/>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">毕业专业：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入毕业专业" id="finishMajor" name="finishMajor" />
              </div>
            </div>
              <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">工作单位：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入工作单位" id="workPlace" name="workPlace" />
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">教学点意见:<br/>(授课任务书使用)</label>
              <div class="formControls col-xs-8 col-sm-9">
                <textarea name="teachIdea" id="teachIdea" cols="" rows="" class="textarea" placeholder="请输入备注...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                <p class="textarea-numberbar">
                  <em class="textarea-length">0</em>/100
                </p>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">继续教育学院意见:<br/>(授课任务书使用)</label>
              <div class="formControls col-xs-8 col-sm-9">
                <textarea name="teachEote" id="teachEote" cols="" rows="" class="textarea" placeholder="请输入备注...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                <p class="textarea-numberbar">
                  <em class="textarea-length">0</em>/100
                </p>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">备注：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <textarea name="remark" id="remark" cols="" rows="" class="textarea" placeholder="请输入备注...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                <p class="textarea-numberbar">
                  <em class="textarea-length">0</em>/100
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-r mt-10">
        <input id="bt_submit" type="submit" class="submit btn btn-primary radius" value="保存" />
        <input type="button" class="previous btn btn-normal-outline radius mr-10" value="取消" id="bt_cancel"  onclick="layer_close();"/>
      </div>
    </form>
  </article>
  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <!--/_footer 作为公共模版分离出去-->
  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.form/3.46.0/jquery.form.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
  <script type="text/javascript" th:inline="javascript">
  var varBaseInfo=[[${baseInfo}]];
  var varothInfo=[[${other}]];
  var exType=[[${exType}]];
  </script>
  <script type="text/javascript" th:src="@{/js/webjs/educational/teacherManage/teacher_baseInfo.js}"></script>
  <!-- 基础信息JS -->
</body>
</html>