<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui//H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>考场课室划分</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    教务管理
    <span class="c-gray en">/</span>
   考场课室划分
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="iconfont icon-shuaxin"></i>
    </a>
</nav>
<div class="page-container">
    <div class="text-l search" style="position: relative">
        <form action="" id="reset">
            <div class="cl">
                <div class="cl">
                    <div class="f-l">
                        <span>考场安排编号:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入考场编号" id="pyCode">
                    </div>
                    <div class="f-l">
                        <span>考场名称:</span>
                        <input type="text" class="input-text radius ml-10" placeholder="输入考场名称" id="epName">
                    </div>
                    <div class="f-l">
                        <span>划分状态:</span>
                        <select class="select" id="divideStatus">
                        	<!-- <option value="1">已划分</option>
                        	<option value="0">未划分</option> -->
                        </select>
                    </div>
                    <div class="f-r mr-15">
                        <a class="btn btn-primary radius" href="javascript:;" onclick="_search();" style="width: 90px">
                            <i class="iconfont icon-sousuo"></i>
                            搜索
                        </a>
                        <a class="btn btn-normal-outline radius" onclick="_reset()" href="javascript:;">
                            <i class="iconfont icon-shuaxin"></i>
                        </a>
                    </div>
                </div>
                <div class="cl">
                    <div class="f-l">
                        <span>省份：</span>
                        <select class="select" id="provinceCode" name="provinceCode">
                        </select>
                    </div>
                    <div class="f-l">
                        <span>城市：</span>
                        <select class="select" id="cityCode" name="cityCode">
                        </select>
                    </div>
                    <div class="f-l">
                        <span>地区：</span>
                        <select class="select" id="districtCode" name="districtCode">
                        </select>
                    </div>
                </div>
                <div class="cl">
                	<div class="f-l">
                        <span>考试年度：</span>
                        <select class="select" id="eyId" name="eyId">
                        </select>
                    </div>
                    <div class="f-l">
                        <span>可用开始时间： </span>
                        <input type="text" id="startTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endTime\')}'})"
                               name="startTime" class="input-text Wdate"
                               style="width: 120px;">
                    </div>
                    <div class="f-l">
                        <span>可用结束时间： </span>
                        <input type="text" id="endTime"
                               onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startTime\')}'})"
                               name="endTime"
                               class="input-text Wdate" style="width: 120px;">
                    </div>
                </div>
                <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther()">
                    <p style="margin-bottom: 0; cursor: pointer" class="c-666">
                        <i class="iconfont icon-xiala"></i>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="cl pd-15 bg-1">
         <span class="l mt-15 mb-15">
              <a href="javascript:;" onclick="classExport()" class="btn btn-success radius"><i
                      class="iconfont icon-daochu"></i> 导出Excel</a>
         </span>
        <div class="bg-fff">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                <tr class="text-c">
                    <th width="40">考试年度</th>
                    <th width="60">考场安排编号</th>
                    <th width="60">考场地址</th>
                    <th width="60">考场名称</th>
                    <th width="60">可用时间</th>
                    <th width="50">已选人数</th>
                    <th width="100">课室划分</th>
                    <th width="40">划分状态</th>
                    <th width="50">备注</th>
                    <th width="30">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/webjs/educational/examClass/class-list.js}"></script>
</body>
</html>