<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui//H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>教材发放</title>
  <style>
    .select2-container.select2-container--default.select2-container--open{
      z-index:99999999;
    }
  </style>
</head>
<body>
  <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    教务管理
    <span class="c-gray en">/</span>
    教材发放
    <span class="c-gray en"></span>
    <a class="btn btn-success radius r" style="line-height: 1.6em; margin-top: 3px" href="javascript:location.replace(location.href);" title="刷新">
      <i class="iconfont icon-shuaxin"></i>
    </a>
  </nav>
  <div id="tab_demo" class="HuiTab">
    <div class="tabBar clearfix">
      <span>订书管理</span>
      <span>地址审核</span>
    </div>
    <div class="tabCon">
      <div class="page-container">
      <form id="export-form" th:action="@{/studentSend/export.do}">
        <div class="text-l search" style="position: relative">
          <div class="cl">
            <div class="cl">
              <div class="f-l">
                <span>学员姓名:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入学员姓名" id="stdNameo" name="stdName">
              </div>
              <div class="f-l">
                <span>手机号:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入手机号" id="mobileo" name="mobile">
              </div>
              <div class="f-l">
                <span>身份证号:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入身份证号" id="idCardo" name="idCard">
              </div>
              <div class="f-r mr-5">
                <a class="btn btn-primary radius" href="javascript:;" onclick="_search_order();" />
                <i class="iconfont icon-sousuo"></i>
               		 搜索
                </a>
                <a class="btn btn-normal-outline radius" onclick="_reset()" href="javascript:;">
                  <i class="iconfont icon-shuaxin"></i>
                </a>
              </div>
            </div>
            <div class="cl">
              <div class="f-l">
                <span>年级:</span>
                <select class="select" size="1" id="gradeo" name="grade">
                  <option value="" selected>--请选择年级--</option>
                </select>
              </div>
              <div class="f-l">
                <span>院校:</span>
                <select class="select" size="1" id="unvsId" name="unvsId"></select>
              </div>
              <div class="f-l">
                 <span>专业层次:</span> 
                 <select class="select" size="1" id="pfsnLevel" name="pfsnLevel">
                     <option value="" selected>--请选择专业层次--</option>
                 </select>
              </div>
            </div>
            <div class="cl">
              <div class="f-l">
                 <span>专业名称:</span> 
                 <select class="select" size="1" id="pfsnId" name="pfsnId"  disabled="disabled">
                 </select>
              </div>
              <div class="f-l">
                <span>地址审核状态:</span>
                <select class="select" size="1" id="addressStatuso" name="addressStatus">
                  <option value="" selected>--请选择审核状态--</option>
                </select>
              </div>
              <div class="f-l">
                <span>学期:</span>
                <select class="select" size="1" id="semestero" name="semester">
                  <option value="" selected>--请选择学期--</option>
                </select>
              </div>
            </div>
            <div class="cl">
              <div class="f-l">
                <span>学员阶段:</span>
                <select class="select" size="1" id="stdStageo" name="stdStage">
                  <option value="" selected>--请选择学员阶段--</option>
                </select>
              </div>
              <div class="f-l">
                <span>订书状态:</span>
                <select class="select" size="1" id="orderBookStatuso" name="orderBookStatus">
                  <option value="" selected>--请选择订书状态--</option>
                </select>
              </div>
              <div class="f-l">
                <span>收件状态:</span>
                <select class="select" size="1" id="receiveStatuso" name="receiveStatus">
                  <option value="" selected>--请选择收件状态--</option>
                </select>
              </div>
            </div>
            <div class="cl">
              <div class="f-l">
                <span>班主任:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入班主任" id="empNameo" name="empName">
              </div>
              <div class="f-l">
                <span>订书批次:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入订书批次" id="batchIdo" name="batchId">
              </div>
              <div class="f-l">
	            <span>教材类型:</span> 
	            <select class="select" size="1" id="textbookType" name="textbookType">
	              <option value="" selected>--请选择教材类型--</option>
	            </select>
               </div>
            </div>
            <div class="cl">
              <div class="f-l">
                <span>快递单号:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入快递订单号" id="logisticsNo" name="logisticsNo">
              </div>
              <div class="f-l">
              	<span>是否有邮寄地址:</span>
                <select class="select" size="1" id="address" name="address">
                  <option value="" selected>--请选择是否有邮寄地址--</option>
                </select>
              </div>
              <div class="f-l">
              	<span>招生年度:</span>
                <select class="select" size="1" id="yearo" name="year">
                  <option value="" selected>--请选择招生年度--</option>
                </select>
              </div>
            </div>
            <div class="cl">
	          <div class="f-l">
	            <span>是否外校：</span>
	            <select class="select" id="stdType" name="stdType"></select>
	          </div>
	          <div class="f-l">
	            <span>是否有教材：</span>
	            <select class="select" id="ifHaveBook" name="ifHaveBook"></select>
	          </div>
	          <div class="f-l">
	            <span>快递公司：</span>
	            <select class="select" id="logisticsName" name="logisticsName"></select>
	          </div>
            </div>
            <div class="cl">
	          <div class="f-l">
	            <span>新增发书记录：</span>
	            <select class="select" id="ifNewRepeatBook" name="ifNewRepeatBook"></select>
	          </div>
	          <div class="f-l">
              	<span>招生老师:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入招生老师" id="recruitNameo">
              </div>
              <div class="f-l">
	            <span>下单起：</span>
	            <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endTime\')}'})" id="startTime" name="startTime" class="input-text Wdate"/>
         	  </div>
            </div>
            <div class="cl">
             <div class="f-l">
	            <span>下单止：</span>
	            <input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}'})" id="endTime" name="endTime" class="input-text Wdate"/>
         	  </div>
            </div>
            <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther(this)">
              <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
                <i class="iconfont icon-xiala"></i>
              </p>
            </div>
          </div>
        </div>
        </form>
        <div class="bg-1">
          <div class="cl pd-15 bg-1">
            <span class="l mt-5 mb-15">
             <a href="javascript:;" onclick="queryOkOrder()" class="btn btn-primary radius">
                <i class="iconfont icon-edit"></i>
              筛选改为已订
              </a>
              <a href="javascript:;" onclick="okOrder()" class="btn btn-primary  radius">
                <i class="iconfont icon-edit"></i>
              勾选改为已订
              </a>
              <a href="javascript:;" onclick="noOrder()" class="btn btn-primary radius">
                <i class="iconfont icon-wancheng"></i>
                批量改为未订
              </a>
              <a href="javascript:;" onclick="exportExe()" class="btn btn-success2 radius">
                <i class="iconfont icon-daochu"></i>
               导出配书明细
              </a>
              <a href="javascript:;" onclick="okReceive()" class="btn btn-success radius">
                <i class="iconfont icon-edit"></i>
                手动确认收件
              </a>
              <a href="javascript:;" onclick="queryRefreshTextbookData()" class="btn btn-warning radius">
                <i class="iconfont icon-edit"></i>
              筛选刷新教材数据
              </a>
              <a href="javascript:;" onclick="selectRefreshTextbookData()" class="btn btn-warning radius">
                <i class="iconfont icon-edit"></i>
              勾选刷新教材数据
              </a>
              <a href="javascript:;" onclick="queryUpdateBatchId()" class="btn btn-danger radius">
                <i class="iconfont icon-edit"></i>
              筛选修改订书批次
              </a>
              <a href="javascript:;" onclick="selectUpdateBatchId()" class="btn btn-danger radius">
                <i class="iconfont icon-edit"></i>
              勾选修改订书批次
              </a>
             <a href="javascript:;" onclick="importOrderBook()" class="btn btn-warning radius">
                <i class="iconfont icon-daoru"></i>
             已订书名单导入
              </a>
              <a href="javascript:;" onclick="importTextbookPfsncode()" class="btn btn-warning radius">
                <i class="iconfont icon-daoru"></i>
             教材专业编码导入
              </a>
            </span>
            <div class="mt-5 bg-fff">
              <table class="table table-border table-bordered table-hover table-bg table-sort-order-book" id="sendBookTable">
                <thead>
                  <tr class="text-c">
                    <th width="10"><input type="checkbox" name="all" value=""></th>
                    <th width="30">学员</th>
                    <th width="20">年级</th>
                    <th width="40">学员阶段</th>
                    <th width="30">学期</th>
                    <th width="40">班主任</th>
                    <th width="40">教材专业编码</th>
                    <th width="60">教材</th>
                    <th width="30">订书批次</th>
                    <th width="40">快递公司</th>
                    <th width="40">快递单号</th>
                    <th width="40">订书状态</th>
                    <th width="40">地址审核状态</th>
                    <th width="20">收件状态</th>
                    <th width="20">备注</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabCon">
      <div class="page-container">
        <div class="text-l search" style="position: relative">
          <div class="cl">
            <div class="cl">
              <div class="f-l">
                <span>学员姓名:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入学员姓名" id="stdName">
              </div>
              <div class="f-l">
                <span>手机号:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入手机号" id="mobile">
              </div>
              <div class="f-l">
                <span>身份证号:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入身份证号" id="idCard">
              </div>
              <div class="f-r mr-5">
                <a class="btn btn-primary radius" href="javascript:;" onclick="_search_address();" />
                <i class="iconfont icon-sousuo"></i>
              	  搜索
                </a>
                <a class="btn btn-normal-outline radius" onclick="_reset();" href="javascript:;">
                  <i class="iconfont icon-shuaxin"></i>
                </a>
              </div>
            </div>
            <div class="cl">
              <div class="f-l">
                <span>年级:</span>
                <select class="select" size="1" id="grade" style="width: 100%;">
                  <option value="" selected>--请选择年级--</option>
                </select>
              </div>
              <div class="f-l">
                <span>院校:</span>
                <select class="select" size="1" id="unvsIdo" name="unvsIdo"></select>
              </div>
              <div class="f-l">
                 <span>专业层次:</span> 
                 <select class="select" size="1" id="pfsnLevelD">
                     <option value="" selected>--请选择专业层次--</option>
                 </select>
              </div>
            </div>
            <div class="cl">
              <div class="f-l">
                <span>专业:</span>
                 <select class="select" size="1" id="pfsnIdD" name="pfsnIdD" disabled="disabled">
                </select>
              </div>
              <div class="f-l">
                <span>审核状态:</span>
                <select class="select" size="1" id="addressStatus" style="width: 100%;">
                  <option value="" selected>--请选择审核状态--</option>
                  <option value="4">待审核</option>
                  <option value="5">审核通过</option>
                  <option value="6">驳回</option>
                </select>
              </div>
              <div class="f-l">
	            <span>教材类型:</span> 
	            <select class="select" size="1" id="textbookTypeD">
	              <option value="" selected>--请选择教材类型--</option>
	            </select>
               </div>
            </div>
            <div class="cl">
              <div class="f-l">
              	<span>是否有邮寄地址:</span>
                <select class="select" size="1" id="addressD">
                  <option value="" selected>--请选择是否有邮寄地址--</option>
                </select>
              </div>
     		  <div class="f-l">
                <span>订书批次:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入订书批次" id="batchIdD">
              </div>
              <div class="f-l">
                <span>订书状态:</span>
                <select class="select" size="1" id="orderBookStatusD">
                  <option value="" selected>--请选择订书状态--</option>
                </select>
              </div>
            </div>
            
            <div class="cl">
            	<div class="f-l">
	                <span>学期:</span>
	                <select class="select" size="1" id="semesterd">
	                  <option value="" selected>--请选择学期--</option>
	                </select>
              	</div>
              	<div class="f-l">
	              	<span>年度:</span>
	                <select class="select" size="1" id="year" name="yearo">
	                  <option value="" selected>--请选择年度--</option>
	                </select>
               </div>
               <div class="f-l">
              	<span>招生老师:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入招生老师" id="recruitName">
               </div>
             </div>
             <div class="cl">
              <div class="f-l">
              	<span>班主任:</span>
                <input type="text" class="input-text radius ml-10" placeholder="输入班主任" id="tutorName">
              </div>
	          <div class="f-l">
	            <span>新增发书记录：</span>
	            <select class="select" id="ifNewRepeatBookD" name="ifNewRepeatBookD"></select>
	          </div>
	          <div class="f-l">
                <span>学员阶段:</span>
                <select class="select" size="1" id="stdStageD" name="stdStage">
                  <option value="" selected>--请选择学员阶段--</option>
                </select>
              </div>
            </div>
            
            <div class="text-c showOther" style="background-color: #FBFBFB" onclick="_showOther(this)">
              <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
                <i class="iconfont icon-xiala"></i>
              </p>
            </div>
            
          </div>
        </div>
        <div class="bg-1">
          <div class="cl pd-15 bg-1">
            <span class="l mt-5 mb-15">
              <a href="javascript:;" onclick="passAll()" class="btn btn-primary radius">
                <i class="iconfont icon-wancheng"></i>
               	 批量通过
              </a>
              <a href="javascript:;" onclick="rejectedAll()" class="btn btn-danger radius">
                <i class="iconfont icon-shanchu"></i>
              	  批量驳回
              </a>
             <a href="javascript:;" onclick="batchRemind()" class="btn btn-primary radius">
                <i class="iconfont icon-wancheng"></i>
                                          批量提醒
              </a>      
            </span>
            <div class="mt-5 bg-fff">
              <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                  <tr class="text-c">
                    <th width="10"><input type="checkbox" name="sendIds" class="checkAll" value=""></th>
                    <th width="40">学员</th>
                    <th width="40">年级</th>
                    <th width="40">院校</th>
                    <th width="80">专业</th>
                    <th width="80">学员阶段</th>
                    <th width="40">学期</th>
                    <th width="40">联系人</th>
                    <th width="60">手机</th>
                    <th width="50">省市区</th>
                    <th width="60">详细地址</th>
                    <th width="40">地址类型</th>
                    <th width="40">招生老师</th>
                    <th width="40">班主任</th>
                    <th width="40">地址更新时间</th>
                    <th width="40">审核状态</th>
                    <th width="20">操作</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="rejectContent" style="display: none">
      <div class="row cl mt-10 form-horizontal otherReasonBox other-reason">
        <label class="form-label col-xs-4 col-sm-3 text-r">驳回原因：</label>
        <div class="formControls col-xs-8 col-sm-9 skin-minimal">
          <textarea class="textarea valid" placeholder="说点什么...最多输入100个字符" id="otherReject" name="otherReject" onkeyup="$.Huitextarealength(this,100)"></textarea>
          <p class="textarea-numberbar">
            <em class="textarea-length">0</em>/100
          </p>
        </div>
      </div>
  </div>
  <!--_footer 作为公共模版分离出去-->
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <!--/_footer 作为公共模版分离出去-->
  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/laypage/1.2/laypage.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
  <script type="text/javascript" th:src="@{/js/webjs/educational/studentSend/student-send-list.js}"></script>
</body>
</html>