<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>缴费详情</title>
<meta name="keywords">
<meta name="description">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="">
		<input type="hidden" th:value="${_web_token}" name="_web_token" id="_web_token"/>
		<input type="hidden" th:value="${stdInfo.learnId}" name="learnId" id="learnId"/>
		<div class="row cl mb-15	">
			<label class="form-label col-xs-4 col-sm-3">学员：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span id="stdInfo" style="line-height:33px"></span>
			</div>
		</div>
		<div class="bg-1">
			<div class="cl pd-5 bg-1 bk-gray mt-">
				<div class="mt-35 bg-fff">
					<table class="table table-border table-bordered table-bg table-sort">
						<thead>
							<tr class="text-c">
								<th width="10">缴费科目</th>
								<th width="10">应缴金额</th>
								<th width="10">抵扣</th>
								<th width="10">实缴金额</th>
								<th width="10">滞留账户余额</th>
								<th width="10">收据打印状态</th>
								<th width="30">缴费日期</th>
								<th width="10">流水号</th>
								<th width="50">单据号</th>
								<th width="20">商户订单号</th>
								<th width="10">收款人</th>
								<th width="10">收款方式</th>
								<th width="20">收款帐号</th>
								<th width="10">是否审核</th>
								<th width="10">审核人</th>
								<th width="10">备注</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:inline="javascript">
var recruitType = [[${stdInfo.recruitType}]];
var stdName = [[${stdInfo.stdName}]];
var grade = [[${stdInfo.grade}]];
var unvsName = [[${stdInfo.unvsName}]];
var pfsnCode = [[${stdInfo.pfsnCode}]];
var pfsnName = [[${stdInfo.pfsnName}]];
var pfsnLevel = [[${stdInfo.pfsnLevel}]];
var detailUrl = '/stdFee/payDetail.do';
</script>
<script type="text/javascript" th:src="@{/js/webjs/finance/stdfee/stdfee-detail.js}"></script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>