<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.recruit.BdLearnAnnexMapper" >
  <resultMap id="BaseResultMap" type="com.yz.model.recruit.BdLearnAnnex" >
    <id column="annex_id" property="annexId" jdbcType="VARCHAR" />
    <result column="annex_type" property="annexType" jdbcType="VARCHAR" />
    <result column="learn_id" property="learnId" jdbcType="VARCHAR" />
    <result column="annex_name" property="annexName" jdbcType="VARCHAR" />
    <result column="annex_url" property="annexUrl" jdbcType="VARCHAR" />
    <result column="annex_status" property="annexStatus" jdbcType="CHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="is_require" property="isRequire" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="upload_user" property="uploadUser" jdbcType="VARCHAR" />
    <result column="upload_user_id" property="uploadUserId" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
    <result column="check_user_id" property="checkUserId" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    annex_id, annex_type, learn_id, annex_name, annex_url, annex_status, reason, is_require, 
    update_time, update_user, update_user_id, upload_user, upload_user_id, upload_time, 
    check_user, check_user_id, check_time
  </sql>
  
  <select id="selectGradeByLearnId" parameterType="java.lang.String" resultType="java.lang.String">
  	select grade from bd_learn_info where learn_id = #{learnId}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bd_learn_annex
    where annex_id = #{annexId,jdbcType=VARCHAR}
  </select>
 
  
  <insert id="insertBdLearnAnnex" parameterType="com.yz.model.recruit.BdLearnAnnex" >
    insert into bd_learn_annex
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="annexId != null" >
        annex_id,
      </if>
      <if test="annexType != null" >
        annex_type,
      </if>
      <if test="learnId != null" >
        learn_id,
      </if>
      <if test="annexName != null" >
        annex_name,
      </if>
      <if test="annexUrl != null" >
        annex_url,
      </if>
      <if test="annexStatus != null" >
        annex_status,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="isRequire != null" >
        is_require,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="uploadUser != null" >
        upload_user,
      </if>
      <if test="uploadUserId != null" >
        upload_user_id,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
      <if test="checkUser != null" >
        check_user,
      </if>
      <if test="checkUserId != null" >
        check_user_id,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="annexId != null" >
        #{annexId,jdbcType=VARCHAR},
      </if>
      <if test="annexType != null" >
        #{annexType,jdbcType=VARCHAR},
      </if>
      <if test="learnId != null" >
        #{learnId,jdbcType=VARCHAR},
      </if>
      <if test="annexName != null" >
        #{annexName,jdbcType=VARCHAR},
      </if>
      <if test="annexUrl != null" >
        #{annexUrl,jdbcType=VARCHAR},
      </if>
      <if test="annexStatus != null" >
        #{annexStatus,jdbcType=CHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="isRequire != null" >
        #{isRequire,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="uploadUser != null" >
        #{uploadUser,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserId != null" >
        #{uploadUserId,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUser != null" >
        #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkUserId != null" >
        #{checkUserId,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yz.model.recruit.BdLearnAnnex" >
    update bd_learn_annex
    <set >
      <if test="annexType != null" >
        annex_type = #{annexType,jdbcType=VARCHAR},
      </if>
      <if test="learnId != null" >
        learn_id = #{learnId,jdbcType=VARCHAR},
      </if>
      <if test="annexName != null" >
        annex_name = #{annexName,jdbcType=VARCHAR},
      </if>
      <if test="annexUrl != null" >
        annex_url = #{annexUrl,jdbcType=VARCHAR},
      </if>
      <if test="annexStatus != null" >
        annex_status = #{annexStatus,jdbcType=CHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="isRequire != null and isRequire != ''" >
        is_require = #{isRequire,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="uploadUser != null" >
        upload_user = #{uploadUser,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserId != null" >
        upload_user_id = #{uploadUserId,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUser != null" >
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="checkUserId != null" >
        check_user_id = #{checkUserId,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where annex_id = #{annexId,jdbcType=VARCHAR}
  </update>
  
  <insert id="batchInsert">
  	insert into bd_learn_annex(`annex_id`,`annex_type`,`learn_id`,`annex_name`,`annex_status`,`is_require`)
  	values 
  	<foreach collection="annexList" item="annex" separator=",">
  		(#{annex.annexId, jdbcType=VARCHAR}, #{annex.annexType, jdbcType=VARCHAR}, 
  		#{annex.learnId, jdbcType=VARCHAR}, 
  		#{annex.annexName, jdbcType=VARCHAR}, 
  		#{annex.annexStatus, jdbcType=VARCHAR}, 
  		#{annex.isRequire, jdbcType=VARCHAR})
  	</foreach>
  </insert>
  
  <resultMap id="AnnexListMap" type="com.yz.model.recruit.BdLearnAnnex" >
    <id column="annex_id" property="annexId" jdbcType="VARCHAR" />
    <result column="annex_type" property="annexType" jdbcType="VARCHAR" />
    <result column="learn_id" property="learnId" jdbcType="VARCHAR" />
    <result column="annex_name" property="annexName" jdbcType="VARCHAR" />
    <result column="annex_url" property="annexUrl" jdbcType="VARCHAR" />
    <result column="annex_status" property="annexStatus" jdbcType="CHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="is_require" property="isRequire" jdbcType="CHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="upload_user" property="uploadUser" jdbcType="VARCHAR" />
    <result column="upload_time_str" property="uploadTimeStr" jdbcType="VARCHAR" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
    <result column="check_time_str" property="checkTimeStr" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getAnnexList" parameterType="string" resultMap="AnnexListMap">
  	SELECT  n.annex_id, n.annex_type, n.learn_id, n.annex_name, n.annex_url, n.annex_status,
      n.reason, n.is_require, n.update_user, n.upload_user,n.check_user,
      DATE_FORMAT(n.upload_time, '%Y-%m-%d %H:%i:%s') AS upload_time_str,
      DATE_FORMAT(n.check_time, '%Y-%m-%d %H:%i:%s') AS check_time_str
    FROM bms.bd_learn_annex n
    left join sys_dict d on d.dict_value = n.annex_type and d.p_id = 'annexType'
    WHERE n.learn_id = #{learnId, jdbcType=VARCHAR}
    ORDER BY is_require DESC,d.`order_num`
  </select>

    <select id="getAnnexListByParam" parameterType="string" resultMap="AnnexListMap">
        SELECT n.annex_id, d.annex_type_value as annex_type, n.learn_id,
            d.annex_type_name as annex_name, n.annex_url,
            if(n.annex_id is null, '1', n.annex_status) as annex_status,
            n.reason, d.is_require, n.update_user, n.upload_user, n.check_user,
            DATE_FORMAT(n.upload_time, '%Y-%m-%d %H:%i:%s') AS upload_time_str,
            DATE_FORMAT(n.check_time, '%Y-%m-%d %H:%i:%s') AS check_time_str
        FROM bd_learn_annex_type d
        left join bms.bd_learn_annex n on n.annex_type = d.annex_type_value and n.learn_id = #{learnId, jdbcType=VARCHAR}
        WHERE d.recruit_type=#{recruitType, jdbcType=VARCHAR} ORDER BY d.is_require DESC,d.annex_type_value+0;
    </select>
  
  <select id="countBy" resultType="int">
	SELECT 
	  COUNT(1) 
	FROM
	  `bd_learn_annex` a
	LEFT JOIN bd_learn_annex_type b on a.annex_type = b.annex_type_value
	WHERE a.`learn_id` = #{learnId, jdbcType=VARCHAR} 
	  AND a.`annex_status` = #{annexStatus, jdbcType=VARCHAR} 
	  AND b.`is_require` = '1'
	  AND b.recruit_type = #{recruitType}
  </select>
	
  <update id="updateLearnAnnexStatus" parameterType="string">
	UPDATE 
	  bd_learn_info l 
	SET
	  l.`annex_status` = #{annexStatus, jdbcType=VARCHAR}
	WHERE l.`learn_id` = #{learnId, jdbcType=VARCHAR}
  </update>
  
  <resultMap id="AnnexMap" type="com.yz.model.recruit.BdLearnAnnex">
	<id column="annex_id" jdbcType="VARCHAR" property="annexId" />
	<result column="annex_type" jdbcType="VARCHAR" property="annexType" />
	<result column="learn_id" jdbcType="VARCHAR" property="learnId" />
	<result column="annex_name" jdbcType="VARCHAR" property="annexName" />
	<result column="annex_url" jdbcType="VARCHAR" property="annexUrl" />
	<result column="annex_status" jdbcType="VARCHAR" property="annexStatus" />
	<result column="reason" jdbcType="VARCHAR" property="reason" />
	<result column="is_require" jdbcType="VARCHAR" property="isRequire" />
	<result column="upload_time_str" jdbcType="VARCHAR" property="uploadTimeStr" />
	<result column="upload_user" jdbcType="VARCHAR" property="uploadUser" />
	<result column="check_time_str" jdbcType="VARCHAR" property="checkTimeStr" />
	<result column="check_user" jdbcType="VARCHAR" property="checkUser" />
  </resultMap>
  
  <select id="selectRequiredAnnex" parameterType="string" resultMap="AnnexMap">
	select 
	  a.`annex_id`,
	  a.`annex_type`,
	  a.`learn_id`,
	  a.`annex_name`,
	  a.`annex_url`,
	  a.`annex_status`,
	  a.`is_require`,
	  a.`update_time`,
	  a.`update_user`,
	  a.`reason` 
	from
	  bd_learn_annex a 
	where a.`is_require` = '1' 
	  and a.`learn_id` = #{learnId, jdbcType=VARCHAR} 
  </select>
  
  <select id="countAll" resultType="int">
  	select count(1) from bd_learn_info
  </select>
  
  <select id="selectAll" resultType="string">
  	select 
    learn_id
    from bd_learn_info
    order by learn_id
    limit #{start}, #{size}
  </select>
  
</mapper>