<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.dao.recruit.StudentSceneConfirmMapper">
    <resultMap id="SceneConfirmMap" type="com.yz.model.recruit.StudentSceneConfirmInfo">
        <result column="confirm_id" property="confirmId" jdbcType="VARCHAR" />
        <result column="learn_id" property="learnId" jdbcType="VARCHAR"/>
        <result column="std_id" property="stdId" jdbcType="VARCHAR"/>
        <result column="std_name" property="stdName" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="VARCHAR" />
        <result column="pfsn_level" property="pfsnLevel" jdbcType="VARCHAR" />
        <result column="unvs_name" property="unvsName" jdbcType="VARCHAR" />
        <result column="recruit_type" property="recruitType" jdbcType="VARCHAR" />
        <result column="pfsn_name" property="pfsnName" jdbcType="VARCHAR" />
        <result column="pfsn_code" property="pfsnCode" jdbcType="VARCHAR" />
        <result column="std_stage" property="stdStage" jdbcType="VARCHAR" />
        <result column="recruit" property="recruit" jdbcType="VARCHAR" />
        <result column="scholarship" property="scholarship" jdbcType="VARCHAR" />
        <result column="ta_name" property="taName" jdbcType="VARCHAR" />
        <result column="exam_info_confirm_status" property="examInfoConfirmStatus" jdbcType="VARCHAR" />
        <result column="place_confirm_status" property="placeConfirmStatus" jdbcType="VARCHAR" />
        <result column="confirm_city" property="confirmCity" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="confirm_name" property="confirmName" jdbcType="VARCHAR"/>
        <result column="web_register_status" property="webRegisterStatus" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="register_no" property="registerNo" jdbcType="VARCHAR"/>
        <result column="exam_pay_status" property="examPayStatus" jdbcType="VARCHAR"/>
        <result column="sign_status" property="signStatus" jdbcType="VARCHAR"/>
        <result column="sign_time" property="signTime" jdbcType="VARCHAR"/>
        <result column="scene_confirm_status" property="sceneConfirmStatus" jdbcType="VARCHAR"/>
        <result column="education_appraisal" property="educationAppraisal" jdbcType="VARCHAR"/>
        <result column="exam_no" property="examNo" jdbcType="VARCHAR"/>
        <result column="work_prove" property="workProve" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="confirm_unvs_name" property="confirmUnvsName" jdbcType="VARCHAR"/>
        <result column="confirm_pfsn_name" property="confirmPfsnName" jdbcType="VARCHAR"/>
        <result column="emp_id" property="empId" jdbcType="VARCHAR"/>
        <result column="emp_status" property="empStatus" jdbcType="VARCHAR"/>
        <result column="is_unvs_pfsn_change" property="isUnvsPfsnChange" jdbcType="VARCHAR"/>
        <result column="pic_collect_status" property="picCollectStatus" jdbcType="VARCHAR"/>
        <result column="mobile_bind_status" property="mobileBindStatus" jdbcType="VARCHAR"/>
        <result column="scene_remark" property="sceneRemark" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findAllSceneConfirm" resultMap="SceneConfirmMap" >
        SELECT
        a.learn_id,
        c.std_id,
        a.confirm_id,
        c.std_name,
        c.id_card,
        c.mobile,
        b.grade,
        k.pfsn_level,
        j.unvs_name,
        b.recruit_type,
        k.pfsn_name,
        k.pfsn_code,
        b.std_stage,
        f.emp_name recruit,
        b.scholarship,
        d.ta_name,
        a.exam_info_confirm_status,
        a.place_confirm_status,
        a.pic_collect_status,
        a.mobile_bind_status,
        g.confirm_city,
        g.address,
        g.start_time,
        g.end_time,
        g.confirm_name,
        a.web_register_status,
        i.username,
        i.`password`,
        i.register_no,
        a.exam_pay_status,
        a.sign_status,
        date_format(a.sign_time, '%Y-%m-%d %H:%i:%s') as sign_time,
        a.scene_confirm_status,
        a.education_appraisal,
        h.exam_no,
        a.work_prove,
        a.remark,
        m.unvs_name confirm_unvs_name,
        n.pfsn_name confirm_pfsn_name,
        f.emp_id,
        f.emp_status,
        a.scene_remark,
        CASE when a.unvs_id is null and a.pfsn_id is null then 0 when a.unvs_id = b.unvs_id and a.pfsn_id = b.pfsn_id then 0 else 1 end is_unvs_pfsn_change
        FROM
        bd_student_scene_confirm a
        LEFT JOIN bd_learn_info b ON a.learn_id = b.learn_id
        LEFT JOIN bd_student_info c ON b.std_id = c.std_id
        LEFT JOIN bd_test_area d ON b.ta_id = d.ta_id
        LEFT JOIN bd_learn_rules e ON a.learn_id = e.learn_id
        LEFT JOIN oa_employee f ON e.recruit = f.emp_id
        LEFT JOIN oa_confirmation_management g ON a.confirmation_id = g.confirmation_id
        LEFT JOIN bd_test_prove_info h ON a.learn_id = h.learn_id
        LEFT JOIN bd_student_scene_register i ON a.learn_id = i.learn_id and i.register_status = '1'
        LEFT JOIN bd_university j ON b.unvs_id = j.unvs_id
        LEFT JOIN bd_unvs_profession k ON b.pfsn_id = k.pfsn_id
        LEFT JOIN bd_university m ON  a.unvs_id = m.unvs_id
        LEFT JOIN bd_unvs_profession n ON a.pfsn_id = n.pfsn_id
        WHERE 1=1 and b.grade='2019'
        <if test="query.empStatus == 2">
            AND f.emp_status ='2'
        </if>
        <if test="query.empStatus == 1">
            AND (f.emp_status ='1' or f.emp_status ='3')
        </if>
        <if test="query.confirmId != null and ''!= query.confirmId">
            AND a.confirm_id =#{query.confirmId,jdbcType=VARCHAR}
        </if>
        <if test="query.stdName != null and ''!= query.stdName">
            AND c.std_name LIKE CONCAT('%',#{query.stdName,jdbcType=VARCHAR} , '%')
        </if>
        <if test="query.idCard != null and ''!= query.idCard">
            AND c.id_card LIKE CONCAT('%',#{query.idCard,jdbcType=VARCHAR}, '%')
        </if>
        <if test="query.mobile != null and ''!= query.mobile">
            AND c.mobile LIKE CONCAT('%',#{query.mobile,jdbcType=VARCHAR}, '%')
        </if>
        <if test="query.grade != null and ''!= query.grade">
            AND b.grade =#{query.grade,jdbcType=VARCHAR}
        </if>
        <if test="query.unvsId != null and ''!= query.unvsId">
            AND b.unvs_id =#{query.unvsId,jdbcType=VARCHAR}
        </if>
        <if test="query.pfsnLevel != null and ''!= query.pfsnLevel">
            AND k.pfsn_level =#{query.pfsnLevel,jdbcType=VARCHAR}
        </if>
        <if test="query.pfsnId != null and ''!= query.pfsnId">
            AND b.pfsn_id = #{query.pfsnId,jdbcType=VARCHAR}
        </if>
        <if test="query.scholarship != null and ''!= query.scholarship">
            AND b.scholarship =#{query.scholarship,jdbcType=VARCHAR}
        </if>
        <if test="query.stdStage != null and ''!= query.stdStage">
            AND b.std_stage =#{query.stdStage,jdbcType=VARCHAR}
        </if>
        <if test="query.taId != null and ''!= query.taId">
            AND b.ta_id =#{query.taId,jdbcType=VARCHAR}
        </if>
        <if test="query.dpId != null and ''!= query.dpId">
            AND e.recruit_dp_id =#{query.dpId,jdbcType=VARCHAR}
        </if>
        <if test="query.signStatus != null and ''!= query.signStatus">
            AND a.sign_status =#{query.signStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.sceneConfirmStatus != null and ''!= query.sceneConfirmStatus">
            AND a.scene_confirm_status =#{query.sceneConfirmStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.examInfoConfirmStatus != null and ''!= query.examInfoConfirmStatus">
            AND a.exam_info_confirm_status =#{query.examInfoConfirmStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.picCollectStatus == 1">
            AND (a.pic_collect_status = '0' or a.pic_collect_status is null)
        </if>
        <if test="query.picCollectStatus == 2">
            AND a.pic_collect_status = '1'
        </if>
        <if test="query.picCollectStatus == 3">
            AND a.pic_collect_status = '2'
        </if>
        <if test="query.mobileBindStatus == 1">
            AND (a.mobile_bind_status = '0' or a.mobile_bind_status is null)
        </if>
        <if test="query.mobileBindStatus == 2">
            AND a.mobile_bind_status = '1'
        </if>
        <if test="query.hasUsername != null and ''!= query.hasUsername">
            <if test="query.hasUsername == 1">
                and i.`username` is not null
            </if>
            <if test="query.hasUsername == 0">
                and i.`username` is null
            </if>
        </if>
        <if test="query.hasExamNo != null and ''!= query.hasExamNo">
            <if test="query.hasExamNo == 1">
                and LENGTH(h.`exam_no`) &gt; 0
            </if>
            <if test="query.hasExamNo == 0">
                and (h.`exam_no` is null or h.`exam_no` = '')
            </if>
        </if>
        <if test="query.isSceneRemark != null and ''!= query.isSceneRemark">
            <if test="query.isSceneRemark == 1">
                and LENGTH(a.`scene_remark`) &gt; 0
            </if>
            <if test="query.isSceneRemark == 0">
                and (a.`scene_remark` is null or a.`scene_remark` = '')
            </if>
        </if>
        <if test="query.hasRegisterNo != null and ''!= query.hasRegisterNo">
            <if test="hasRegisterNo == 1">
                and i.`register_no` is not null
            </if>
            <if test="hasRegisterNo == 0">
                and i.`register_no` is null
            </if>
        </if>
        <if test="query.webRegisterStatus != null and ''!= query.webRegisterStatus">
            AND a.exam_pay_status =#{query.webRegisterStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.examPayStatus != null and ''!= query.examPayStatus">
            AND a.exam_pay_status =#{query.examPayStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.placeConfirmStatus != null and ''!= query.placeConfirmStatus">
            AND a.place_confirm_status =#{query.placeConfirmStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.workProve != null and ''!= query.workProve">
            AND a.work_prove =#{query.workProve,jdbcType=VARCHAR}
        </if>
        <if test="query.username != null and ''!= query.username">
            AND i.username LIKE CONCAT('%',#{query.username,jdbcType=VARCHAR}, '%')
        </if>
        <if test="query.educationAppraisal != null and ''!= query.educationAppraisal">
            AND a.education_appraisal = #{query.educationAppraisal,jdbcType=VARCHAR}
        </if>
        <if test="query.signStartTime != null and query.signStartTime != ''">
            AND date_format(a.`sign_time`,'%Y-%m-%d') >= #{query.signStartTime,jdbcType=VARCHAR}
        </if>
        <if test="query.signEndTime != null and query.signEndTime != ''">
            AND date_format(a.`sign_time`,'%Y-%m-%d')  &lt;= #{query.signEndTime,jdbcType=VARCHAR}
        </if>
        <if test="query.startTime != null and query.startTime != ''">
            AND  date_format(g.`start_time`,'%Y-%m-%d')  >= #{query.startTime,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime != null and query.endTime != ''">
            AND date_format(g.`start_time`,'%Y-%m-%d') &lt;= #{query.endTime,jdbcType=VARCHAR}
        </if>
        <if test="query.content != null and ''!= query.content">
            AND (g.confirm_city LIKE CONCAT('%',#{query.content,jdbcType=VARCHAR}, '%') or g.address LIKE CONCAT('%',#{query.content,jdbcType=VARCHAR}, '%') or g.confirm_name LIKE CONCAT('%',#{query.content,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="query.recruit != null and ''!= query.recruit">
            AND f.emp_name LIKE CONCAT('%',#{query.recruit,jdbcType=VARCHAR}, '%')
        </if>
         <if test="query.empStatus != null and ''!= query.empStatus">
            AND f.emp_status =#{query.empStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.isRemark !=null and '' != query.isRemark">
            <if test="query.isRemark == 0">
                and a.remark is null
            </if>
            <if test="query.isRemark == 1">
                and LENGTH(a.remark)>0
            </if>
        </if>
        <if test="query.isUnvsPfsnChange != null and ''!= query.isUnvsPfsnChange">
            <if test="query.isUnvsPfsnChange == 0">
                and (a.unvs_id != b.unvs_id or a.pfsn_id != b.pfsn_id)
            </if>
            <if test="query.isUnvsPfsnChange == 1">
                and ((a.unvs_id is null and a.pfsn_id is null) or (a.unvs_id = b.unvs_id and a.pfsn_id = b.pfsn_id))
            </if>
        </if>
        <if test="user.userLevel != 1">
            <choose>
                <when test="user.userLevel == 3">
                    and (e.recruit = #{user.empId, jdbcType=VARCHAR} or e.recruit_dp_id in (
                    <foreach collection="user.myDpList" item="info" separator=",">
                        #{info.dpId, jdbcType=VARCHAR}
                    </foreach>
                    ))
                </when>
                <when test="user.userLevel == 4">
                    and (e.recruit = #{user.empId, jdbcType=VARCHAR} or e.recruit in (
                    <foreach collection="user.myEmplyeeList" item="info" separator=",">
                        #{info.empId, jdbcType=VARCHAR}
                    </foreach>
                    ))
                </when>
                <otherwise>
                    and e.recruit = #{user.empId, jdbcType=VARCHAR}
                </otherwise>
            </choose>
        </if>
        ORDER BY a.`create_time` DESC
    </select>
    
    <select id="getAllSceneConfirmCount" resultType="int">
        SELECT count(0) FROM (SELECT
        a.learn_id
        FROM
        bd_student_scene_confirm a
        LEFT JOIN bd_learn_info b ON a.learn_id = b.learn_id
        LEFT JOIN bd_student_info c ON b.std_id = c.std_id
        LEFT JOIN bd_test_area d ON b.ta_id = d.ta_id
        LEFT JOIN bd_learn_rules e ON a.learn_id = e.learn_id
        LEFT JOIN oa_employee f ON e.recruit = f.emp_id
        LEFT JOIN oa_confirmation_management g ON a.confirmation_id = g.confirmation_id
        LEFT JOIN bd_test_prove_info h ON a.learn_id = h.learn_id
        LEFT JOIN bd_student_scene_register i ON a.learn_id = i.learn_id and i.register_status = '1'
        LEFT JOIN bd_university j ON b.unvs_id = j.unvs_id
        LEFT JOIN bd_unvs_profession k ON b.pfsn_id = k.pfsn_id
        LEFT JOIN bd_university m ON a.unvs_id = m.unvs_id
        LEFT JOIN bd_unvs_profession n ON a.pfsn_id = n.pfsn_id
        WHERE 1=1 and b.grade='2019'
        <if test="query.empStatus == 2">
            AND f.emp_status ='2'
        </if>
        <if test="query.empStatus == 1">
            AND (f.emp_status ='1' or f.emp_status ='3')
        </if>
        <if test="query.confirmId != null and ''!= query.confirmId">
            AND a.confirm_id =#{query.confirmId,jdbcType=VARCHAR}
        </if>
        <if test="query.stdName != null and ''!= query.stdName">
            AND c.std_name LIKE CONCAT('%',#{query.stdName,jdbcType=VARCHAR} , '%')
        </if>
        <if test="query.idCard != null and ''!= query.idCard">
            AND c.id_card LIKE CONCAT('%',#{query.idCard,jdbcType=VARCHAR}, '%')
        </if>
        <if test="query.mobile != null and ''!= query.mobile">
            AND c.mobile LIKE CONCAT('%',#{query.mobile,jdbcType=VARCHAR}, '%')
        </if>
        <if test="query.grade != null and ''!= query.grade">
            AND b.grade =#{query.grade,jdbcType=VARCHAR}
        </if>
        <if test="query.unvsId != null and ''!= query.unvsId">
            AND b.unvs_id =#{query.unvsId,jdbcType=VARCHAR}
        </if>
        <if test="query.pfsnLevel != null and ''!= query.pfsnLevel">
            AND k.pfsn_level =#{query.pfsnLevel,jdbcType=VARCHAR}
        </if>
        <if test="query.pfsnId != null and ''!= query.pfsnId">
            AND b.pfsn_id = #{query.pfsnId,jdbcType=VARCHAR}
        </if>
        <if test="query.scholarship != null and ''!= query.scholarship">
            AND b.scholarship =#{query.scholarship,jdbcType=VARCHAR}
        </if>
        <if test="query.stdStage != null and ''!= query.stdStage">
            AND b.std_stage =#{query.stdStage,jdbcType=VARCHAR}
        </if>
        <if test="query.taId != null and ''!= query.taId">
            AND b.ta_id =#{query.taId,jdbcType=VARCHAR}
        </if>
        <if test="query.dpId != null and ''!= query.dpId">
            AND e.recruit_dp_id =#{query.dpId,jdbcType=VARCHAR}
        </if>
        <if test="query.signStatus != null and ''!= query.signStatus">
            AND a.sign_status =#{query.signStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.sceneConfirmStatus != null and ''!= query.sceneConfirmStatus">
            AND a.scene_confirm_status =#{query.sceneConfirmStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.examInfoConfirmStatus != null and ''!= query.examInfoConfirmStatus">
            AND a.exam_info_confirm_status =#{query.examInfoConfirmStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.picCollectStatus == 1">
            AND (a.pic_collect_status = '0' or a.pic_collect_status is null)
        </if>
        <if test="query.picCollectStatus == 2">
            AND a.pic_collect_status = '1'
        </if>
        <if test="query.picCollectStatus == 3">
            AND a.pic_collect_status = '2'
        </if>
        <if test="query.mobileBindStatus == 1">
            AND (a.mobile_bind_status = '0' or a.mobile_bind_status is null)
        </if>
        <if test="query.mobileBindStatus == 2">
            AND a.mobile_bind_status = '1'
        </if>
        <if test="query.hasUsername != null and ''!= query.hasUsername">
            <if test="query.hasUsername == 1">
                and i.`username` is not null
            </if>
            <if test="query.hasUsername == 0">
                and i.`username` is null
            </if>
        </if>
        <if test="query.hasExamNo != null and ''!= query.hasExamNo">
            <if test="query.hasExamNo == 1">
                and h.`exam_no` is not null
            </if>
            <if test="query.hasExamNo == 0">
                and h.`exam_no` is null
            </if>
        </if>
        <if test="query.isSceneRemark != null and ''!= query.isSceneRemark">
            <if test="query.isSceneRemark == 1">
                and LENGTH(a.`scene_remark`) &gt; 0
            </if>
            <if test="query.isSceneRemark == 0">
                and (a.`scene_remark` is null or a.`scene_remark` = '')
            </if>
        </if>
        <if test="query.hasRegisterNo != null and ''!= query.hasRegisterNo">
            <if test="hasRegisterNo == 1">
                and i.`register_no` is not null
            </if>
            <if test="hasRegisterNo == 0">
                and i.`register_no` is null
            </if>
        </if>
        <if test="query.webRegisterStatus != null and ''!= query.webRegisterStatus">
            AND a.exam_pay_status =#{query.webRegisterStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.examPayStatus != null and ''!= query.examPayStatus">
            AND a.exam_pay_status =#{query.examPayStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.placeConfirmStatus != null and ''!= query.placeConfirmStatus">
            AND a.place_confirm_status =#{query.placeConfirmStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.workProve != null and ''!= query.workProve">
            AND a.work_prove =#{query.workProve,jdbcType=VARCHAR}
        </if>
        <if test="query.username != null and ''!= query.username">
            AND i.username LIKE CONCAT('%',#{query.username,jdbcType=VARCHAR}, '%')
        </if>
        <if test="query.educationAppraisal != null and ''!= query.educationAppraisal">
            AND a.education_appraisal = #{query.educationAppraisal,jdbcType=VARCHAR}
        </if>
        <if test="query.signStartTime != null and query.signStartTime != ''">
            AND date_format(a.`sign_time`,'%Y-%m-%d') >= #{query.signStartTime,jdbcType=VARCHAR}
        </if>
        <if test="query.signEndTime != null and query.signEndTime != ''">
            AND date_format(a.`sign_time`,'%Y-%m-%d') &lt;= #{query.signEndTime,jdbcType=VARCHAR}
        </if>
        <if test="query.startTime != null and query.startTime != ''">
            AND date_format(g.`start_time`,'%Y-%m-%d') >= #{query.startTime,jdbcType=VARCHAR}
        </if>
        <if test="query.endTime != null and query.endTime != ''">
            AND date_format(g.`start_time`,'%Y-%m-%d') &lt;= #{query.endTime,jdbcType=VARCHAR}
        </if>
        <if test="query.content != null and ''!= query.content">
            AND (g.confirm_city LIKE CONCAT('%',#{query.content,jdbcType=VARCHAR}, '%') or g.address LIKE
            CONCAT('%',#{query.content,jdbcType=VARCHAR}, '%') or g.confirm_name LIKE
            CONCAT('%',#{query.content,jdbcType=VARCHAR}, '%'))
        </if>
        <if test="query.recruit != null and ''!= query.recruit">
            AND f.emp_name LIKE CONCAT('%',#{query.recruit,jdbcType=VARCHAR}, '%')
        </if>
         <if test="query.empStatus != null and ''!= query.empStatus">
            AND f.emp_status =#{query.empStatus,jdbcType=VARCHAR}
        </if>
        <if test="query.isRemark !=null and '' != query.isRemark">
            <if test="query.isRemark == 0">
                and a.remark is null
            </if>
            <if test="query.isRemark == 1">
                and LENGTH(a.remark)>0
            </if>
        </if>
        <if test="query.isUnvsPfsnChange != null and ''!= query.isUnvsPfsnChange">
            <if test="query.isUnvsPfsnChange == 0">
                and (a.unvs_id != b.unvs_id or a.pfsn_id != b.pfsn_id)
            </if>
            <if test="query.isUnvsPfsnChange == 1">
                and ((a.unvs_id is null and a.pfsn_id is null) or (a.unvs_id = b.unvs_id and a.pfsn_id = b.pfsn_id))
            </if>
        </if>
        <if test="user.userLevel != 1">
            <choose>
                <when test="user.userLevel == 3">
                    and (e.recruit = #{user.empId, jdbcType=VARCHAR} or e.recruit_dp_id in (
                    <foreach collection="user.myDpList" item="info" separator=",">
                        #{info.dpId, jdbcType=VARCHAR}
                    </foreach>
                    ))
                </when>
                <when test="user.userLevel == 4">
                    and (e.recruit = #{user.empId, jdbcType=VARCHAR} or e.recruit in (
                    <foreach collection="user.myEmplyeeList" item="info" separator=",">
                        #{info.empId, jdbcType=VARCHAR}
                    </foreach>
                    ))
                </when>
                <otherwise>
                    and e.recruit = #{user.empId, jdbcType=VARCHAR}
                </otherwise>
            </choose>
        </if>
        ) temp
    </select>
    
    <select id="getSceneRegisterList" resultType="java.util.Map">
      SELECT username,password,register_no,date_format(reg_time,'%Y-%m-%d %H:%i:%s') as reg_time,case register_status when 1 then '有效' else '无效' end register_status FROM bd_student_scene_register where learn_id =#{learnId}
      ORDER BY reg_time is null,reg_time asc
    </select>
    
    <select id="existExamNo" resultType="java.lang.String">
        select exam_no from bd_test_prove_info WHERE learn_id=#{learnId}
    </select>
    
    <insert id="insertExamNo">
       INSERT INTO `bd_test_prove_info` (
        `learn_id`,
        `std_id`,
        `exam_no`
        )
        VALUES
        (
        #{learnId},
        #{stdId},
        #{examNo}
        );
    </insert>

    <update id="updateExamNo">
      UPDATE bd_test_prove_info SET exam_no = #{examNo} where
      learn_id = #{learnId}
    </update>

    <select id="getExamNoModifyRecord" resultType="java.util.Map">
        select create_user,date_format(create_time,'%Y-%m-%d %H:%i:%s') as create_time,ext_1 FROM bd_student_modify WHERE  modify_type = 10
        and learn_id = #{learnId} order by create_time desc
    </select>

    <update id="updateRemark">
        UPDATE bd_student_scene_confirm SET remark= #{remark,jdbcType=VARCHAR}
        WHERE learn_id =#{learnId,jdbcType=VARCHAR}
    </update>

    <select id="countMyAreaStudent" resultType="java.lang.Integer">
        select COUNT(1) from bd_learn_rules a
        left join bd_learn_info b
        on a.learn_id = b.learn_id
        left join bd_test_area c
        on b.ta_id = c.ta_id
        where a.recruit =#{empId}
        and a.learn_id =#{learnId}
        and (c.ta_name LIKE '深圳%' or c.ta_name LIKE '珠海%'
        or c.ta_name LIKE '中山%' or c.ta_name LIKE '佛山%' or c.ta_name LIKE '江门%')
    </select>

    <select id="countLeaveMyAreaStudent" resultType="java.lang.Integer">
        select count(1) from bd_learn_rules a
        left join bd_learn_info b
        on a.learn_id = b.learn_id
        left join bd_test_area c
        on b.ta_id = c.ta_id
        left join oa_employee d
        on a.recruit = d.emp_id
        where a.recruit =#{empId}
        and a.learn_id =#{learnId}
        and d.emp_status  = '2'
        and (c.ta_name like '深圳%' or c.ta_name like '珠海%'
        or c.ta_name like '中山%' or c.ta_name LIKE '佛山%' or c.ta_name LIKE '江门%')
    </select>
</mapper>