<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>上缴管理</title>
</head>
<body>
		<article class="page-container">
				<form class="form form-horizontal" id="form-charges-add" th:object="${turnInfo}">
						<input type="hidden" th:value="${_web_token}" name="_web_token" id="_web_token" /> 
						<input type="hidden" th:value="${learnId}" name="learnId" id="learnId" />
						<input type="hidden" th:value="${schoolYear}" name="schoolYear" />
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">学员：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<span th:text="*{stdName}"></span>
										[<span id="grade" ></span>]
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">院校专业：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<span id="unvs"></span>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">学号：</label>
								<div class="formControls col-xs-8 col-sm-9">
									<span th:text="*{schoolRoll}"></span>
								</div>
						</div>
						<div class="row cl" id="yearItem">
								<label class="form-label col-xs-4 col-sm-3">身份证号：</label>
								<div class="formControls col-xs-8 col-sm-9">
									<span th:text="*{idCard}"></span>
								</div>
						</div>

						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">优惠类型：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<span id="scholarship"></span>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">入围状态：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<span id="inclusionStatus"></span>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">学年：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<span id="schoolYear"></span>
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">上缴金额：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<input type="text" class="input-text" th:value="*{amount}" id="amount" name="amount">
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">上缴日期：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<input th:value="*{turnDate}" type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="turnDate" name="turnDate" class="input-text Wdate" style="width: 200px;" /> 
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">返款金额：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<input type="text" class="input-text" th:value="*{returnAmount}" id="returnAmount" name="returnAmount">
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">返款日期：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<input th:value="*{backDate}" type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="backDate" name="backDate" class="input-text Wdate" style="width: 200px;" /> 
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">发票号码：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<input type="text" class="input-text" th:value="*{billNo}" id="billNo" name="billNo">
								</div>
						</div>
						<div class="row cl">
								<label class="form-label col-xs-4 col-sm-3">发票接收老师：</label>
								<div class="formControls col-xs-8 col-sm-9">
										<input type="text" class="input-text" th:value="*{empName}" id="empName" name="empName">
								</div>
						</div>
						<div class="row cl">
								<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
										<input class="btn btn-success radius inputW9" type="submit" value="提交">
								</div>
						</div>
				</form>
		</article>

		<!--_footer 作为公共模版分离出去-->
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
		<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
		<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
		<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
		<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
		<script type="text/javascript" th:inline="javascript">
		var grade = /*[[${turnInfo.grade}]]*/;
		var unvsName = /*[[${turnInfo.unvsName}]]*/;
		var pfsnName = /*[[${turnInfo.pfsnName}]]*/;
		var pfsnLevel =  /*[[${turnInfo.pfsnLevel}]]*/;
		var scholarship =  /*[[${turnInfo.scholarship}]]*/;
		var inclusionStatus =  /*[[${turnInfo.inclusionStatus}]]*/;
		var schoolYear =  /*[[${schoolYear}]]*/;
		</script>
		<script type="text/javascript" th:src="@{/js/webjs/finance/turnin/turnin-edit.js}"></script>
		<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>