<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico" >
	<link rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
	<script type="text/javascript" th:src="@{/js/html5shiv.js}"></script>
	<script type="text/javascript" th:src="@{/js/respond.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
	<!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<!--/meta 作为公共模版分离出去-->
	<title>编辑</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
</head>
<body>
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal" th:object="${examInfo}" id="form-gkUnified-edit">
		<input type="hidden" th:value="${_web_token}" name="_web_token" id="_web_token" />
		<input type="hidden" th:value="${exType}" name="exType" id="exType" />
		<input type="hidden" th:value="*{id}" name="id" id="id" />
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">配置名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
			  	<input type="text" class="input-text" th:value="*{title}" id="title" name="title" placeholder="配置名称">
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">教育部要求：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="describe" id="describe" cols="" rows="" class="textarea" placeholder="请输入教育部要求..." onKeyUp="$.Huitextarealength(this,100)" >根据教育部的要求，本科学员必须要通过全国高校网络教育公共基础课统一考试，方能毕业。2017年12月统考考试工作安排如下：</textarea>
                <p class="textarea-numberbar">
                  <em class="textarea-length">0</em>/100
                </p>
			</div>
		</div>
	    <div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">报名缴费时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
			   <input type="text" th:value="*{startTime}" onfocus="WdatePicker({isShowWeek:true, dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'endTime\')}'})" id="startTime" name="startTime" class="input-text Wdate" style="width: 300px;" />
			   <input type="text" th:value="*{endTime}" onfocus="WdatePicker({isShowWeek:true,dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'startTime\')}'})" id="endTime" name="endTime" class="input-text Wdate" style="width: 300px;" />
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">考试科目：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" th:value="*{testSubject}" id="testSubject" name="testSubject" placeholder="输入考试统考科目">
			</div>
		</div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">报名详细操作流程：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" th:value="*{operationDesc}" id="operationDesc" name="operationDesc" placeholder="输入报名详细操作流程">
			</div>
		</div>
		<div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">传报名流程文件：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="member-photo"></span>
                <span class="btn-upload mb-30">
                  <button class="btn btn-primary radius" onclick="" style="vertical-align: top">选取图片</button>
                  <input type="file" multiple name="annexUrl" id="selectPhoto" class="input-file" accept="image/*" onchange="loadFile(this)"/>
                  <input type="hidden" name="fileUrl" id="fileUrl" value="" />
                  <input type="hidden" name="isPhotoChange" id="isPhotoChange" value="" />
                </span>
                <input type="button" name="next" onclick="deletPhoto()" style="vertical-align: top;margin-top: 38px;" class="btn btn-normal-outline radius mb-30" value="删除" />
              </div>
        </div>
		<div class="row cl">
		    <label class="form-label col-xs-4 col-sm-3">是否启用：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input type="radio" id="ifShow" checked="checked" name="ifShow" value="1" th:field="*{ifShow}">
					<label >是</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="ifShow" name="ifShow" value="0" th:field="*{ifShow}">
					<label >否</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius inputW9" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 保存</button>
			</div>
		</div>
	</form>
	</article>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
	<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/param.json'}"></script>
	<script type="text/javascript" th:inline="javascript">
	    var examInfo=[[${examInfo}]];
	    var exType=[[${exType}]];
	</script>
	<script type="text/javascript" th:src="@{/js/webjs/gk/exam/gk_unified_exam_edit.js}"></script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>