<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico">
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/custom.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->
<title>白名单设置</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
  <article class="page-container">
    <form method="post" class="form form-horizontal yz-form-box">
      <!--------基本信息------->
      <div class="form">
        <div class="cl">
          <div class="f-l halfPage">
            <p>基础资料</p>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">姓名：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="stdName"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">证件类型：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="idType"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">证件号：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="idCard"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">性别：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="sex"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">生日：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="birthday"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">民族：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="nation"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">政治面貌：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="politicalStatus"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">户口类型：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="rprType"></span>
              </div>
            </div>
            <div class="row cl city-3">
              <label class="form-label col-xs-4 col-sm-3">户口所在地：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="rprAddress"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">职业：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="jobType"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">入职时间：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="wpTime"></span>
              </div>
            </div>
            <div class="row cl city-3">
              <label class="form-label col-xs-4 col-sm-3">在职单位所在地：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="wpAddress"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">在职单位联系电话：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="wpTelephone"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">手机：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="mobile"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">紧急电话：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="emergencyContact"></span>
              </div>
            </div>
          </div>
          <div class="f-r halfPage ">
            <p>原学历信息</p>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">原学历类型：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="edcsType"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">原毕业院校：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="unvsName"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">原毕业时间：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="graduateTime"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">原毕业专业：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="profession"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">原毕业专业学制：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="edcsSystem"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">原毕业证编号：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="diploma"></span>
              </div>
            </div>
            <div class="row cl city-3">
              <label class="form-label col-xs-4 col-sm-3">原毕业院校居地：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="oldAddress"></span>
              </div>
            </div>
          </div>
          
        </div>
        <div class="cl">
          <div class="fullPage mt-10">
            <p>报读资料</p>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">报考层次：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="pfsnLevel"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">入学年级：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="grade"></span>
              </div>
            </div>
            <div class="row cl">
              <label class="form-label col-xs-4 col-sm-3">志愿：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <span id="wish"></span>
              </div>
            </div>
          </div>
          <div class="fullPage mt-10">
            <div class="row cl skin-minimal">
              <label class="form-label col-xs-4 col-sm-3">驳回原因：</label>
              <div class="formControls col-xs-8 col-sm-9">
                <textarea name="refundReason" id="refundReason" cols="" rows="" class="textarea" placeholder="请输入原因...最多输入100个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                <p class="textarea-numberbar">
                  <em class="textarea-length">0</em>/100
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-r mt-10">
        <input type="button" class="submit btn btn-primary radius" value="审核通过" id="bt_submit" />
        <input type="button" class="previous btn btn-normal-outline radius mr-10" value="驳回" id="bt_cancel" />
      </div>
    </form>
  </article>
  <script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/pcd.json'}"></script>
  <script type="text/javascript" th:src="${_file_browser + 'cache/param.json'}"></script>
  <script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
  <script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script>
  
  <script type="text/javascript" th:inline="javascript">
    var baseInfo = [[${judgeInfo.baseInfo}]];
    var enrollInfo = [[${judgeInfo.enroll}]];
    var historyInfo = [[${judgeInfo.history}]];
    var learnId= [[${judgeInfo.learnId}]]
    
  </script>
  <script type="text/javascript" th:src="@{/js/webjs/recruit/judge/judge_edit.js}"></script>
</body>
</html>