<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" th:href="@{/favicon.ico}">
    <link rel="Shortcut Icon" th:href="@{/favicon.ico}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>收据管理</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 财务管理 <span class="c-gray en">/</span> 收据管理 <a class="btn btn-success radius r"
                                                                                       style="line-height: 1.6em; margin-top: 3px"
                                                                                       href="javascript:location.replace(location.href);"
                                                                                       title="刷新"><i
        class="iconfont icon-shuaxin"></i></a>
</nav>
<div class="page-container">
    <div class="text-l search" style="position: relative">
        <div class="cl" style="padding-left: 30px;">
            <div class="cl">
                <div class="f-l">
                    <span>学员姓名：</span><input type="text" id="stdName" name="stdName" class="input-text radius ml-10"/>
                </div>
                <div class="f-l">
                    <span>收件手机号：</span><input type="text" id="mobile" name="mobile" class="input-text radius ml-10">
                </div>
                <div class="f-l">
                    <span>收据状态：</span><select class="select" name="reptStatus" id="reptStatus">
                </select>
                </div>
                <div class="f-r mr-15" style="position: absolute; right: 0;">
                    <a class="btn btn-primary radius" href="javascript:;" style="width: 90px" onclick="searchRept()"> <i
                            class="iconfont icon-sousuo"></i> 搜索
                    </a> <a class="btn btn-normal-outline radius" onclick="_reset()"><i
                        class="iconfont icon-shuaxin"></i></a>
                </div>

            </div>
            <div class="cl">
                <div class="f-l">
                    <span>身份证号：</span><input type="text" id="idCard" name="idCard" class="input-text radius ml-10"/>
                </div>
                <div class="f-l">
                    <span>学员所属校区：</span><select class="select" name="homeCampusId" id="homeCampusId"></select>
                </div>
                <div class="f-l">
                    <span>收件校区：</span><select class="select" name="campusId" id="campusId"></select>
                </div>
            </div>
            <div class="cl">
                <div class="f-l">
	          	  <span>收据申请日期： </span><input type="text" id="applyTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="applyTime" class="input-text Wdate" style="width: 20px;">
	          	</div> 
	          	<div class="f-l">
	          		<span>收据邮寄日期： </span><input type="text" id="sendTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="sendSTime" class="input-text Wdate" style="width: 20px;">
	          	</div> 
                <div class="f-l">
                    <span>快递单号：</span><input type="text" id="sfMailno" name="sfMailno" class="input-text radius ml-10"/>
                </div>
            </div>
            <div class="cl">
                <div class="f-l">
	          	  <span>申请类型： </span><select class="select" name="reptType" id="reptType"></select>
	          	</div> 
	          	<div class="f-l">
	          		<span>付款方式： </span><select class="select" name="paymentType" id="paymentType"></select>
	          	</div> 
            </div>
            <div class="text-c showOther" style="background-color: #FBFBFB;" onclick="_showOther()">
                    <p style="margin-bottom: 0; cursor: pointer" class="f-12 c-666">
                        <i class="iconfont icon-xiala"></i>
                    </p>
                </div>
        </div>
    </div>
    <div class="bg-1">
        <div class="cl pd-15 bg-1">
        						<span style="float:left;font-size:15px" >
				        			快递费总金额：<span id="reptAmount"></span>
				        		</span>
								<span class="l mt-15 mb-15"> 
								<a href="javascript:;" onclick="pickedBatch()" class="btn btn-success radius"><i
                                        class="iconfont icon-edit"></i> 批量处理</a>
								<a href="javascript:;" onclick="sfOrders()"
                                                                class="btn btn-primary radius"><i
                                        class="iconfont icon-tianjia"></i> 顺丰批量下单 </a>
								<a href="javascript:;" onclick="printSfs()" class="btn btn-success radius"><i
                                        class="iconfont icon-edit"></i> 批量打印快递单</a>
								<a href="javascript:;" onclick="printRepts()" class="btn btn-success2 radius"><i
                                        class="iconfont icon-chakan"></i> 批量打印收据 </a>
								<a href="javascript:;" onclick="mailed()" class="btn btn-warning radius"><i
                                        class="iconfont icon-shenhe"></i> 批量邮寄 </a>
								</span>
            <div class="bg-fff">
                <table class="table table-border table-bordered table-bg table-sort" id="tab">
                    <thead>
                    <tr class="text-c">
                        <th width="10"><input type="checkbox" name="all"/></th>
                        <th width="40">学员</th>
                        <th width="70">开票项目及金额</th>
                        <th width="20">申请日期</th>
                        <th width="40">收据状态</th>
                        <th width="30">收据号</th>
                        <th width="30">发件信息</th>
                        <th width="40">收件信息</th>
                        <th width="30">快递单号</th>
                        <th width="40">学员账户</th>
                        <th width="40">备注</th>
                        <th width="30">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/js/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/webjs/finance/rept/rept-list.js}"></script>
</body>
</html>