<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/js/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{/css/h-ui/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.select2/select2.min.css}" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title th:text="UPDATE == ${exType} ? 修改菜单: 添加菜单"></title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-wechatmenu-add" th:object="${menu}">
	<input type="hidden" th:value="${_web_token}" name="_web_token" id="_web_token" />
		<input type="hidden" th:value="${exType}" name="exType" id="exType" />
		<input type="hidden" th:value="*{id}" name="id" id="id" />
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text radius" th:value="*{menuTitle}" placeholder="" id="menuTitle" name="menuTitle">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>菜单类型：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<div class="radio-box">
				<input type="radio" id="firstMenu"  name="menuType" value="1" checked>
	    		<label for="firstMenu">主菜单</label>
    		</div>
    		<div class="radio-box">
	    		<input type="radio" id="secondMenu" value="2" name="menuType" >
	    		<label for="secondMenu">二级菜单</label>
    		</div>
		</div>
	</div>
	<div class="row cl" id="pMenuBox">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>父级菜单：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select class="select" size="2" id="pId" name="pId">
			
			</select>
		</div>
	</div>
	
	<div class="row cl">
      <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>顺序号：</label>
      <div class="formControls col-xs-8 col-sm-9 skin-minimal">
      		<input type="number" class="input-text radius" th:value="*{weight}" placeholder="" id="weight" name="weight">
      </div>
    </div>
    
    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公众号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select class="select" size="2" id="belongPublic" name="belongPublic">
			
			</select>
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>事件类型：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select class="select" size="2" id="eventType" name="eventType">
			
			</select>
		</div>
	</div>
    
    <div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>关键词或URL：</label>
		<div class="formControls col-xs-8 col-sm-9" style="width:400px">
			<textarea name="menuContent" id="menuContent" th:text="*{menuContent}" cols="" rows="" class="textarea"  placeholder="" dragonfly="true" onKeyUp=""></textarea>
			<p class="textarea-numberbar"><em class="textarea-length"><!-- 0</em>/200 --></p>
		</div>
	</div>
	
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3 mt-10">
			<input class="btn btn-success radius inputW9" type="submit" value="提交">
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
 		<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" th:src="@{/js/jquery/1.9.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/layer/2.4/layer.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/h-ui/H-ui.admin.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/yzCommon.js}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/dict.json'}"></script>
	<script type="text/javascript" th:src="${_file_browser + 'cache/param.json'}"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/jquery.validate.js}"></script> 
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/validate-methods.js}"></script> 
<script type="text/javascript" th:src="@{/js/jquery.validation/1.14.0/messages_zh.js}"></script> 
<script type="text/javascript" th:src="@{/js/jquery.select2/select2.full.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var menu = /*[[${menu}]]*/;
</script> 
<script type="text/javascript" th:src="@{/js/webjs/wechat/menu/wechatmenu-edit.js}"></script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>